// Import external libraries.
@import "compass";
@import "compass/css3/border-radius";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "sassy-buttons";

// Globbed variables
@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../base/**/*";
@import "../../components/**/*";


body {
  background: $um-dark-green;
}

.l-page {
  @include iml-navigation;

  @include iml-footer;
}

// Main content area for homepage
.l-main {
  .l-iml {
    position: relative;
    text-align: center;
    //background: url(http://upload.wikimedia.org/wikipedia/commons/f/fb/Miami_skyline_20080517.jpg);
    height: auto;
    overflow: hidden;
    width: 100%;
    .iml-background {
      /*position: absolute;
      img{
        width: 100%;
        height: 100%;
      }
      z-index: -5;
      max-height: 2000px;*/

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: 100%;
      background: black no-repeat left top;
      @include breakpoint($tablet, true){
        background-position: left center;
      }
      z-index: -2;

      .overlay{
        background-color: rgba(0,0,0,.3);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

    }
    .lead {
      font-family: $font-stack;
      font-weight: 700;
      color: white;
      padding-top: 25px;
      padding-bottom: 25px;
      @include breakpoint($desktop, true) {
        padding-top: 80px;
      }

      table {
        margin: 0 auto;
        //padding: 10px;
        background: none !important;
        text-align: center;
        width: 80%;
        border: 1px solid white;
        tbody {
          border: 1px solid white;
          tr {
            td {
              padding: 10px;
              a,a:hover,a:visited,a:active,a:link {
                text-transform: none;
                text-decoration: none;
                color: white;
                @include transition(color 0.4s ease-in-out);
                &:hover{
                  color: $um-orange;
                }
              }
            }
          }
        }
      }
      @include clearfix;
    }
    .content {
      .block{
        float: left;
        width: 100%;
        margin-bottom: 4%;
        @include breakpoint($mobile, true){
          width: 100%;
        }
        @include breakpoint($tablet, true){
          width: 50%;
        }
        @include breakpoint($desktop, true){
          width: 25%;
        }

        .item {
          position: relative;
          left: 50%;
          margin-left: -75px;
          width: 100%;
          display: block;
          //margin-bottom: 3em;
          font-family: $font-stack;
          font-weight: 700;
          color: white;
          a {
            padding: 1em;
            border: 1px white solid;
            width: 150px;
            height: 75px;
            display: table-cell;
            vertical-align: middle;
            text-transform: none;
            text-decoration: none;
            color: white;

            @include transition(all 0.4s ease-in-out);
            &:hover {
              background-color: $um-dark-green;
              border-color: $um-dark-green;
            }
            @include border-radius(5px);
          }
        }
      }
    }
  }
}

@include mobile-styles($thatched-mobile-iml-body);