@import "abstractions/**/*";

.social-icons{
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 10px;
    display: inline-block;
    height: 19px;
    width: auto;
    @include breakpoint($tablet, true){
      width: 100%;
    }
    a {
      i {
        text-transform: none;
        text-decoration: none;
        display: block;
        float: left;
        margin-right: 8px !important;
        width: 15px !important;
        img {
          width: 19px !important;
          height: 19px !important;
          max-width: 19px !important;
          display: block;
          margin: 0 !important;
          float: left;
        }
        @include transition(none);
      }
      @include social-color-types;
    }
  }
}