@mixin create-caption-table($float: left) {
  width: auto;
  border: 0;
  text-align: center;
  float: $float;
  margin: 1em;
  img {
    margin: 0 !important;
  }
  caption {
    caption-side: bottom;
    text-align: center;
    padding: .5em;
    font-size: .8em;
    background-color: rgba(black,.05);
  }
}

.caption-table-left {
  @include create-caption-table();
}

.caption-table-right {
  @include create-caption-table();
}