$font-stack: 'proxima-nova', Arial;

h5{
  font-weight: 400;
}

.ui {
  font-family: $font-stack !important;

  p {
    a, a:active, a:visited, a:link {
      text-decoration: underline;
      text-transform: none;
      font-weight: bolder;
      color: inherit;
      @include transition(color 0.4s ease-in-out);
    }
    a:hover {
      color: $um-orange;
    }
  }
}

.right-rail-button{
  @include create-button-style(5px, 1em, #999999, $um-orange);
}