/* Tags */
/** Slicknav style */
/** Left Navigation Style */
/** Breadcrumb styles */
/** Title style */
/** Collapsible Content */
/* Color Types */
/*
text-decoration: none !important;
  a,a:visited,a:active,a:link {
    @include create-button-style(5px, 14px, #999999, $um-orange);
    font-size: 14px !important;
    text-decoration: none !important;
    @include transition(all 0.4s ease-in-out);
    &:hover{
      color: black !important;
      border: solid 1px $um-orange;
      background-color: $um-orange;
    }
    display: block;
  }
  */
/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\000033}}
.social-icons {
  list-style: none;
  margin: 0;
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\000037}}
  .social-icons li {
    margin-bottom: 10px;
    display: inline-block;
    height: 19px;
    width: auto;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\0000316}}
    .social-icons li a i {
      text-transform: none;
      text-decoration: none;
      display: block;
      float: left;
      margin-right: 8px !important;
      width: 15px !important;
      -moz-transition: none;
      -o-transition: none;
      -webkit-transition: none;
      transition: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\0000323}}
      .social-icons li a i img {
        width: 19px !important;
        height: 19px !important;
        max-width: 19px !important;
        display: block;
        margin: 0 !important;
        float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003887}}
    .social-icons li a .black {
      color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003890}}
    .social-icons li a .teal {
      color: #55ACEE; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003893}}
    .social-icons li a .red {
      color: #b31217; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003896}}
    .social-icons li a .gray {
      color: #66757F; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003899}}
    .social-icons li a .orange {
      color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003902}}
    .social-icons li a .blue {
      color: #0C70E8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003905}}
    .social-icons li a .white {
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003908}}
    .social-icons li a .brown {
      color: #663300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003911}}
    .social-icons li a .pink {
      color: #ff3e96; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000319}}
.caption-table-left {
  width: auto;
  border: 0;
  text-align: center;
  float: left;
  margin: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\000037}}
  .caption-table-left img {
    margin: 0 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000310}}
  .caption-table-left caption {
    caption-side: bottom;
    text-align: center;
    padding: .5em;
    font-size: .8em;
    background-color: rgba(0, 0, 0, 0.05); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000323}}
.caption-table-right {
  width: auto;
  border: 0;
  text-align: center;
  float: left;
  margin: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\000037}}
  .caption-table-right img {
    margin: 0 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000310}}
  .caption-table-right caption {
    caption-side: bottom;
    text-align: center;
    padding: .5em;
    font-size: .8em;
    background-color: rgba(0, 0, 0, 0.05); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\000033}}
h5 {
  font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\000037}}
.ui {
  font-family: "proxima-nova", Arial !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\0000311}}
  .ui p a, .ui p a:active, .ui p a:visited, .ui p a:link {
    text-decoration: underline;
    text-transform: none;
    font-weight: bolder;
    color: inherit;
    -moz-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\0000318}}
  .ui p a:hover {
    color: #ff6600; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\0000324}}
.right-rail-button {
  text-decoration: none !important;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031154}}
  .right-rail-button a, .right-rail-button a:visited, .right-rail-button a:link, .right-rail-button a:active {
    color: black;
    font-size: 1em !important;
    margin: 1em auto;
    margin: 1em 0 0;
    text-decoration: none !important;
    text-align: center;
    padding: .5em 1em;
    border: solid 1px #999999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    -moz-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    -webkit-transition: all 0.4s !important;
    transition: all 0.4s !important;
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031171}}
  .right-rail-button a:hover {
    color: white !important;
    border: solid 1px #ff6600;
    background-color: #ff6600; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\0000333}}
body {
  background: #990000 none !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\0000337}}
.l-page {
  background-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\0000341}}
  .l-page .l-heckerling-logo {
    width: 100%;
    padding: 1em;
    text-align: center;
    background-color: #990000;
    height: auto;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\0000348}}
    .l-page .l-heckerling-logo .site-logo {
      width: 16.66667%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none;
      margin: 0 auto;
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\0000355}}
      .l-page .l-heckerling-logo .site-logo a img {
        float: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\0000360}}
    .l-page .l-heckerling-logo .site-header-text {
      width: 83.33333%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      color: white;
      font-size: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\0000366}}
      .l-page .l-heckerling-logo .site-header-text a, .l-page .l-heckerling-logo .site-header-text a:hover, .l-page .l-heckerling-logo .site-header-text a:active, .l-page .l-heckerling-logo .site-header-text a:link, .l-page .l-heckerling-logo .site-header-text a:visited {
        color: white;
        text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\0000370}}
      .l-page .l-heckerling-logo .site-header-text h1, .l-page .l-heckerling-logo .site-header-text h2, .l-page .l-heckerling-logo .site-header-text h3, .l-page .l-heckerling-logo .site-header-text h4, .l-page .l-heckerling-logo .site-header-text h5 {
        margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\0000377}}
  .l-page .l-heckerling-navigation {
    width: 100%;
    height: auto;
    text-align: center;
    display: table;
    margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\0000385}}
    .l-page .l-heckerling-navigation .heckerling-nav .menu {
      padding: 0;
      text-align: center;
      list-style: none;
      font-weight: bolder;
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\0000391}}
      .l-page .l-heckerling-navigation .heckerling-nav .menu li {
        background: #990000;
        border-left: 2px solid white;
        border-right: 2px solid white;
        margin-top: .5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\0000399}}
      .l-page .l-heckerling-navigation .heckerling-nav .menu a {
        color: white;
        text-decoration: none;
        text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003108}}
      .l-page .l-heckerling-navigation .heckerling-nav .menu .leaf {
        padding-left: 1.5em;
        padding-right: 1.5em;
        display: inline-block;
        margin-right: 1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003114}}
      .l-page .l-heckerling-navigation .heckerling-nav .menu .last {
        border-right: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003121}}
  .l-page .main-navigation {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003128}}
  .l-page .l-main .l-content {
    margin: auto 0;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    position: relative;
    height: auto;
    vertical-align: top;
    /* SlickNav
    */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003140}}
    .l-page .l-main .l-content .slicknav_menu {
      display: block;
      display: none;
      background-color: #222;
      padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003249}}
      .l-page .l-main .l-content .slicknav_menu .slicknav_btn {
        float: left;
        display: block;
        text-align: center;
        margin-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003254}}
        .l-page .l-main .l-content .slicknav_menu .slicknav_btn .slicknav_menutxt {
          margin-left: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003265}}
      .l-page .l-main .l-content .slicknav_menu ul li form input {
        display: block !important;
        color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003144}}
    .l-page .l-main .l-content .left {
      display: block;
      margin: 5px auto auto;
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      padding: 20px;
      padding-top: 0px;
      width: 16.66667%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003293}}
      .l-page .l-main .l-content .left ul {
        list-style: none;
        z-index: 500; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003298}}
      .l-page .l-main .l-content .left ul {
        display: none;
        display: block;
        width: 100%;
        list-style: none;
        padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003305}}
        .l-page .l-main .l-content .left ul > li {
          font-size: 1.2vw;
          font-weight: 700;
          list-style: none;
          margin-bottom: 7px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003311}}
          .l-page .l-main .l-content .left ul > li > span {
            padding-left: 10px;
            text-decoration: none;
            text-transform: capitalize;
            display: block;
            color: #990000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003318}}
          .l-page .l-main .l-content .left ul > li > a, .l-page .l-main .l-content .left ul > li a:link, .l-page .l-main .l-content .left ul > li a:visited, .l-page .l-main .l-content .left ul > li a:hover, .l-page .l-main .l-content .left ul > li a:active {
            padding-left: 10px;
            text-decoration: none;
            text-transform: capitalize;
            display: block;
            color: #990000;
            -moz-transition: color 0.4s ease-in-out;
            -o-transition: color 0.4s ease-in-out;
            -webkit-transition: color 0.4s ease-in-out;
            transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003326}}
          .l-page .l-main .l-content .left ul > li > a:hover {
            color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003329}}
          .l-page .l-main .l-content .left ul > li > .menu {
            padding: 5px 0px;
            list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003332}}
            .l-page .l-main .l-content .left ul > li > .menu .leaf {
              font-size: .75em !important;
              font-weight: 400 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003336}}
            .l-page .l-main .l-content .left ul > li > .menu > li {
              list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003338}}
              .l-page .l-main .l-content .left ul > li > .menu > li > a, .l-page .l-main .l-content .left ul > li > .menu > li a:link, .l-page .l-main .l-content .left ul > li > .menu > li a:visited, .l-page .l-main .l-content .left ul > li > .menu > li a:active {
                background-color: white;
                text-decoration: none;
                text-transform: none;
                border: none;
                color: #990000;
                padding-left: 20px;
                margin-bottom: 7px;
                -moz-transition: color 0.4s ease-in-out;
                -o-transition: color 0.4s ease-in-out;
                -webkit-transition: color 0.4s ease-in-out;
                transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003347}}
                .l-page .l-main .l-content .left ul > li > .menu > li > a:hover, .l-page .l-main .l-content .left ul > li > .menu > li a:link:hover, .l-page .l-main .l-content .left ul > li > .menu > li a:visited:hover, .l-page .l-main .l-content .left ul > li > .menu > li a:active:hover {
                  color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003355}}
        .l-page .l-main .l-content .left ul .active-trail > a, .l-page .l-main .l-content .left ul .active-trail a:link, .l-page .l-main .l-content .left ul .active-trail a:visited, .l-page .l-main .l-content .left ul .active-trail a:hover, .l-page .l-main .l-content .left ul .active-trail a:active {
          color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003147}}
      .l-page .l-main .l-content .left ul > li {
        margin-bottom: 1.2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003151}}
    .l-page .l-main .l-content .center {
      display: block;
      margin-right: 0 !important;
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      width: 66.66667%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none;
      padding: 20px;
      /*table {
        font-family: $font-stack;
        width: 100% !important;
        border: black 1px solid !important;
        tbody{
          tr{
            td:first-child {
              width: 15%;
              padding-right: 25px;
            }
            td {
              a, a:link, a:active, a:hover, a:visited {
                text-transform: uppercase !important;
                text-decoration: none !important;
                font-weight: 700;
              }
              a:last-child {
                float: none;
                clear: both;
                display: block;
              }
            }
            td {
              padding-left: 10px;
              padding-right: 10px;
            }
          }
        }
      }
      */
      width: 83.33333%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031428}}
      .l-page .l-main .l-content .center .breadcrumb {
        display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003366}}
        .l-page .l-main .l-content .center .breadcrumb ul {
          padding: 0px;
          list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003369}}
          .l-page .l-main .l-content .center .breadcrumb ul li {
            margin-right: 5px;
            display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003372}}
            .l-page .l-main .l-content .center .breadcrumb ul li a, .l-page .l-main .l-content .center .breadcrumb ul li a:link, .l-page .l-main .l-content .center .breadcrumb ul li a:visited, .l-page .l-main .l-content .center .breadcrumb ul li a:hover, .l-page .l-main .l-content .center .breadcrumb ul li a:active {
              text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003376}}
          .l-page .l-main .l-content .center .breadcrumb ul li:after {
            content: " > "; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003379}}
          .l-page .l-main .l-content .center .breadcrumb ul li:last-child::after {
            content: ""; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003383}}
        .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb {
          display: table-cell;
          vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003389}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-separator:before {
            font-family: FontAwesome; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003394}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-separator {
            /*padding-left: 10px;
            padding-right: 10px;*/
            font-size: 1.5em;
            height: 5px !important;
            display: block;
            float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003403}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment {
            font-family: "proxima-nova", Arial;
            text-decoration: none;
            text-transform: uppercase;
            margin-top: 6px;
            font-size: .7em;
            padding: 2px;
            padding-left: 10px;
            padding-right: 10px;
            margin-right: 5px;
            color: black;
            display: block;
            float: left;
            background-color: #cccccc;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003420}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-front {
            -moz-transition: background-color 0.4s ease-in-out;
            -o-transition: background-color 0.4s ease-in-out;
            -webkit-transition: background-color 0.4s ease-in-out;
            transition: background-color 0.4s ease-in-out;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003424}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-front:hover {
            background-color: #aaaaaa; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-1 {
            background-color: #b3b3b3;
            -moz-transition: background-color 0.4s ease-in-out;
            -o-transition: background-color 0.4s ease-in-out;
            -webkit-transition: background-color 0.4s ease-in-out;
            transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
            .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-1:hover {
              background-color: #919191; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-2 {
            background-color: #999999;
            -moz-transition: background-color 0.4s ease-in-out;
            -o-transition: background-color 0.4s ease-in-out;
            -webkit-transition: background-color 0.4s ease-in-out;
            transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
            .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-2:hover {
              background-color: #777777; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-3 {
            background-color: gray;
            -moz-transition: background-color 0.4s ease-in-out;
            -o-transition: background-color 0.4s ease-in-out;
            -webkit-transition: background-color 0.4s ease-in-out;
            transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
            .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-3:hover {
              background-color: #5e5e5e; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-4 {
            background-color: #666666;
            -moz-transition: background-color 0.4s ease-in-out;
            -o-transition: background-color 0.4s ease-in-out;
            -webkit-transition: background-color 0.4s ease-in-out;
            transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
            .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-4:hover {
              background-color: #444444; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-5 {
            background-color: #4d4d4d;
            -moz-transition: background-color 0.4s ease-in-out;
            -o-transition: background-color 0.4s ease-in-out;
            -webkit-transition: background-color 0.4s ease-in-out;
            transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
            .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-5:hover {
              background-color: #2b2b2b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-6 {
            background-color: #333333;
            -moz-transition: background-color 0.4s ease-in-out;
            -o-transition: background-color 0.4s ease-in-out;
            -webkit-transition: background-color 0.4s ease-in-out;
            transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
            .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-6:hover {
              background-color: #111111; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003442}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-title {
            background-color: #1a1a1a;
            color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031431}}
      .l-page .l-main .l-content .center .title {
        font-size: .7em;
        font-size: 1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031436}}
        .l-page .l-main .l-content .center .title h1 {
          margin-bottom: .2em !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031440}}
      .l-page .l-main .l-content .center .content {
        padding-top: 16px;
        padding-right: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031445}}
        .l-page .l-main .l-content .center .content a, .l-page .l-main .l-content .center .content a:active, .l-page .l-main .l-content .center .content a:visited, .l-page .l-main .l-content .center .content a:link {
          text-decoration: underline;
          text-transform: none;
          color: black;
          -moz-transition: color 0.4s ease-in-out;
          -o-transition: color 0.4s ease-in-out;
          -webkit-transition: color 0.4s ease-in-out;
          transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031451}}
        .l-page .l-main .l-content .center .content a:hover {
          color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031455}}
        .l-page .l-main .l-content .center .content img {
          height: auto !important;
          display: block;
          margin-bottom: 1em;
          margin-right: 1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003463}}
        .l-page .l-main .l-content .center .content .collapsible-content .collapse-action {
          text-decoration: none;
          text-transform: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003466}}
          .l-page .l-main .l-content .center .content .collapsible-content .collapse-action h3 {
            text-align: left;
            /*text-align: center;
            @include breakpoint($desktop, true){
              text-align: left;
            }*/
            margin-top: 1em;
            z-index: 1;
            position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003475}}
            .l-page .l-main .l-content .center .content .collapsible-content .collapse-action h3 i {
              width: 1.5em !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003478}}
            .l-page .l-main .l-content .center .content .collapsible-content .collapse-action h3:before {
              content: "";
              margin: 0 auto;
              position: absolute;
              top: .6em;
              left: 0;
              right: 0;
              bottom: 0;
              width: 95%;
              z-index: -1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003491}}
          .l-page .l-main .l-content .center .content .collapsible-content .collapse-action:hover {
            cursor: pointer !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031179}}
        .l-page .l-main .l-content .center .content .tagged-content-header {
          clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031180}}
          .l-page .l-main .l-content .center .content .tagged-content-header .tc-title {
            font-family: "proxima-nova", Arial;
            font-weight: 700;
            font-size: 1.5em;
            text-transform: capitalize;
            vertical-align: middle;
            display: table;
            margin: 0 auto;
            text-align: center;
            color: black;
            display: block;
            margin-right: 40px;
            text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031195}}
            .l-page .l-main .l-content .center .content .tagged-content-header .tc-title h1 {
              margin-top: 5px;
              margin-bottom: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031200}}
          .l-page .l-main .l-content .center .content .tagged-content-header .tc-all {
            width: 100%;
            float: right;
            margin-left: 0;
            margin-right: 0;
            clear: none;
            font-family: "proxima-nova", Arial;
            font-size: 1em;
            font-weight: 700;
            text-transform: capitalize;
            vertical-align: middle;
            padding: 5px;
            display: table;
            margin: 0 auto;
            text-align: center;
            color: black;
            width: 16.66667%;
            float: left;
            margin-right: -100%;
            margin-left: 0;
            clear: none;
            float: left;
            display: block;
            margin-right: 40px;
            text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031220}}
          .l-page .l-main .l-content .center .content .tagged-content-header .tc-filter-tags {
            width: 100%;
            float: right;
            margin-left: 0;
            margin-right: 0;
            clear: none;
            font-family: "proxima-nova", Arial;
            font-weight: 700;
            display: block;
            text-align: center;
            width: 33.33333%;
            float: left;
            margin-right: -100%;
            margin-left: 16.66667%;
            clear: none;
            text-align: left;
            padding: 5px;
            vertical-align: middle;
            font-size: .8em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031229}}
            .l-page .l-main .l-content .center .content .tagged-content-header .tc-filter-tags i {
              float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031236}}
            .l-page .l-main .l-content .center .content .tagged-content-header .tc-filter-tags i {
              margin-right: .5em;
              font-style: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031240}}
            .l-page .l-main .l-content .center .content .tagged-content-header .tc-filter-tags a {
              text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031245}}
          .l-page .l-main .l-content .center .content .tagged-content-header .tc-filter-months {
            width: 100%;
            float: right;
            margin-left: 0;
            margin-right: 0;
            clear: none;
            font-family: "proxima-nova", Arial;
            font-weight: 700;
            display: block;
            text-align: center;
            width: 33.33333%;
            float: left;
            margin-right: -100%;
            margin-left: 58.33333%;
            clear: none;
            text-align: left;
            padding: 5px;
            vertical-align: middle;
            font-size: .8em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031254}}
            .l-page .l-main .l-content .center .content .tagged-content-header .tc-filter-months i {
              float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031261}}
            .l-page .l-main .l-content .center .content .tagged-content-header .tc-filter-months i {
              margin-right: .5em;
              font-style: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031265}}
            .l-page .l-main .l-content .center .content .tagged-content-header .tc-filter-months a {
              text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003499}}
          .l-page .l-main .l-content .center .content .tagged-content-header *[class*=tagged-content-tags-drop-down] {
            display: table;
            padding-top: 0px;
            margin-right: 5px;
            display: block;
            float: left;
            clear: none;
            margin: 0 auto 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003513}}
            .l-page .l-main .l-content .center .content .tagged-content-header *[class*=tagged-content-tags-drop-down] select {
              font-family: "proxima-nova", Arial;
              font-size: .8em;
              margin-top: 2px;
              padding: 2px 5px;
              background-color: white;
              border: 2px solid #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003521}}
            .l-page .l-main .l-content .center .content .tagged-content-header *[class*=tagged-content-tags-drop-down] .chosen-drop {
              width: 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003499}}
          .l-page .l-main .l-content .center .content .tagged-content-header *[class*=tagged-content-months-drop-down] {
            display: table;
            padding-top: 0px;
            margin-right: 5px;
            display: block;
            float: left;
            clear: none;
            margin: 0 auto 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003513}}
            .l-page .l-main .l-content .center .content .tagged-content-header *[class*=tagged-content-months-drop-down] select {
              font-family: "proxima-nova", Arial;
              font-size: .8em;
              margin-top: 2px;
              padding: 2px 5px;
              background-color: white;
              border: 2px solid #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003521}}
            .l-page .l-main .l-content .center .content .tagged-content-header *[class*=tagged-content-months-drop-down] .chosen-drop {
              width: 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.3\.0\/gems\/toolkit-2\.10\.2\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000313}}
          .l-page .l-main .l-content .center .content .tagged-content-header:after {
            content: "";
            display: table;
            clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031277}}
        .l-page .l-main .l-content .center .content .tagged-contents {
          margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031281}}
        .l-page .l-main .l-content .center .content .tagged-content-container {
          float: none;
          width: 100%;
          height: auto;
          margin-bottom: 1em;
          padding-left: 1em;
          float: left;
          width: 50%;
          height: 275px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031293}}
          .l-page .l-main .l-content .center .content .tagged-content-container .tc-image {
            width: 100%;
            margin: 0 auto;
            float: none;
            clear: both;
            width: 200px;
            float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031302}}
            .l-page .l-main .l-content .center .content .tagged-content-container .tc-image img {
              margin: 0 auto;
              width: 180px;
              margin-right: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031310}}
          .l-page .l-main .l-content .center .content .tagged-content-container .tc-title {
            width: 100%;
            margin-top: .5em;
            font-weight: 700;
            text-decoration: none;
            text-transform: none;
            text-align: center;
            margin-top: 0;
            width: auto;
            text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031316}}
            .l-page .l-main .l-content .center .content .tagged-content-container .tc-title a {
              text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031326}}
          .l-page .l-main .l-content .center .content .tagged-content-container .tc-date {
            width: 100%;
            margin-top: .5em;
            margin-bottom: .5em;
            text-align: center;
            width: 250px;
            text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031336}}
          .l-page .l-main .l-content .center .content .tagged-content-container .tc-content {
            text-align: center;
            text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000313}}
          .l-page .l-main .l-content .center .content .tagged-content-container .tc-tags ul {
            margin: 0 auto;
            padding: 0;
            list-style: none;
            text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000319}}
            .l-page .l-main .l-content .center .content .tagged-content-container .tc-tags ul a {
              text-decoration: none;
              color: black;
              font-family: "proxima-nova", Arial; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000325}}
            .l-page .l-main .l-content .center .content .tagged-content-container .tc-tags ul li {
              position: relative;
              font-size: 0.7em;
              padding: 2px 5px;
              display: inline-block;
              text-align: center;
              margin: 5px;
              background-color: white;
              border: 1px solid #999999;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              -moz-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
              -webkit-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000340}}
              .l-page .l-main .l-content .center .content .tagged-content-container .tc-tags ul li:hover {
                background-color: #ff6600;
                border-color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000313}}
          .l-page .l-main .l-content .center .content .tagged-content-container .tc-tags ul {
            margin: 0 auto;
            padding: 0;
            list-style: none;
            text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000319}}
            .l-page .l-main .l-content .center .content .tagged-content-container .tc-tags ul a {
              text-decoration: none;
              color: black;
              font-family: "proxima-nova", Arial; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000325}}
            .l-page .l-main .l-content .center .content .tagged-content-container .tc-tags ul li {
              position: relative;
              font-size: 0.7em;
              padding: 2px 5px;
              display: inline-block;
              text-align: center;
              margin: 5px;
              background-color: white;
              border: 1px solid #999999;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              -moz-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
              -webkit-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000340}}
              .l-page .l-main .l-content .center .content .tagged-content-container .tc-tags ul li:hover {
                background-color: #ff6600;
                border-color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031352}}
        .l-page .l-main .l-content .center .content .social-media-content {
          clear: both;
          background-color: #f6f6f6;
          margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031356}}
          .l-page .l-main .l-content .center .content .social-media-content .social-media-column {
            padding: 1em;
            background-color: #f6f6f6;
            width: 100%;
            width: 33%;
            float: left;
            min-height: 600px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031366}}
            .l-page .l-main .l-content .center .content .social-media-content .social-media-column .social-media-column-header .social-media-column-header-image {
              text-align: center;
              margin: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031368}}
              .l-page .l-main .l-content .center .content .social-media-content .social-media-column .social-media-column-header .social-media-column-header-image img {
                margin: 0 auto;
                width: 50px;
                border-radius: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031375}}
            .l-page .l-main .l-content .center .content .social-media-content .social-media-column .social-media-column-header .social-media-column-header-link {
              text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031377}}
              .l-page .l-main .l-content .center .content .social-media-content .social-media-column .social-media-column-header .social-media-column-header-link a {
                font-weight: 700; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031384}}
            .l-page .l-main .l-content .center .content .social-media-content .social-media-column .social-media-column-content p img {
              margin: 0 auto;
              padding: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031388}}
            .l-page .l-main .l-content .center .content .social-media-content .social-media-column .social-media-column-content p a {
              text-transform: none;
              text-decoration: none;
              font-weight: 700; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031397}}
          .l-page .l-main .l-content .center .content .social-media-content .twitter a {
            color: #45A4DC; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031402}}
          .l-page .l-main .l-content .center .content .social-media-content .facebook a {
            color: #3D599A; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031407}}
          .l-page .l-main .l-content .center .content .social-media-content .instagram a {
            color: #4D54A4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000313}}
        .l-page .l-main .l-content .center .content ul[class*="taxonomy-term-reference"] {
          margin: 0 auto;
          padding: 0;
          list-style: none;
          text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000319}}
          .l-page .l-main .l-content .center .content ul[class*="taxonomy-term-reference"] a {
            text-decoration: none;
            color: black;
            font-family: "proxima-nova", Arial; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000325}}
          .l-page .l-main .l-content .center .content ul[class*="taxonomy-term-reference"] li {
            position: relative;
            font-size: 0.7em;
            padding: 2px 5px;
            display: inline-block;
            text-align: center;
            margin: 5px;
            background-color: white;
            border: 1px solid #999999;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000340}}
            .l-page .l-main .l-content .center .content ul[class*="taxonomy-term-reference"] li:hover {
              background-color: #ff6600;
              border-color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003158}}
      .l-page .l-main .l-content .center .breadcrumb {
        display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003160}}
        .l-page .l-main .l-content .center .breadcrumb ul {
          padding: 0px;
          list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003163}}
          .l-page .l-main .l-content .center .breadcrumb ul li {
            margin-right: 5px;
            display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003166}}
            .l-page .l-main .l-content .center .breadcrumb ul li a, .l-page .l-main .l-content .center .breadcrumb ul li a:link, .l-page .l-main .l-content .center .breadcrumb ul li a:visited, .l-page .l-main .l-content .center .breadcrumb ul li a:hover, .l-page .l-main .l-content .center .breadcrumb ul li a:active {
              text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003170}}
          .l-page .l-main .l-content .center .breadcrumb ul li:after {
            content: " > "; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003173}}
          .l-page .l-main .l-content .center .breadcrumb ul li:last-child::after {
            content: ""; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003177}}
        .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb {
          display: table-cell;
          vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003181}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-separator:before {
            font-family: "proxima-nova", Arial;
            content: "/"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003185}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-separator {
            font-size: 1em;
            padding-top: 4px;
            height: 5px !important;
            display: block;
            float: left;
            color: #666666;
            font-weight: bolder; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003195}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment {
            font-family: "proxima-nova", Arial;
            text-decoration: none;
            text-transform: capitalize;
            margin-top: 6px;
            font-size: .7em;
            padding: 2px 10px;
            margin-right: 5px;
            color: #990000;
            display: block;
            float: left;
            background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003209}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-front {
            padding-left: 0px;
            background-color: transparent;
            -moz-transition: color 0.4s ease-in-out;
            -o-transition: color 0.4s ease-in-out;
            -webkit-transition: color 0.4s ease-in-out;
            transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003214}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-front:hover {
            background-color: transparent;
            color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003220}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-1 {
            background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003222}}
            .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-1:hover {
              background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003220}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-2 {
            background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003222}}
            .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-2:hover {
              background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003220}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-3 {
            background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003222}}
            .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-3:hover {
              background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003220}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-4 {
            background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003222}}
            .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-4:hover {
              background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003220}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-5 {
            background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003222}}
            .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-5:hover {
              background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003220}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-6 {
            background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003222}}
            .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-6:hover {
              background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003228}}
          .l-page .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-title {
            color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003234}}
      .l-page .l-main .l-content .center .title {
        font-size: .7em;
        text-transform: uppercase;
        color: #990000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003238}}
        .l-page .l-main .l-content .center .title h1 {
          margin-bottom: .2em !important;
          font-size: 1.5em;
          color: #990000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003245}}
      .l-page .l-main .l-content .center .content {
        color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003246}}
        .l-page .l-main .l-content .center .content h1, .l-page .l-main .l-content .center .content h2, .l-page .l-main .l-content .center .content h3, .l-page .l-main .l-content .center .content h4, .l-page .l-main .l-content .center .content h5 {
          color: #990000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\0000320}}
        .l-page .l-main .l-content .center .content a, .l-page .l-main .l-content .center .content a:active, .l-page .l-main .l-content .center .content a:visited, .l-page .l-main .l-content .center .content a:link {
          text-decoration: none;
          text-transform: none;
          color: #990000;
          border-bottom: 1px solid transparent;
          -moz-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\0000327}}
        .l-page .l-main .l-content .center .content a:hover {
          color: black;
          text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.3\.0\/gems\/toolkit-2\.10\.2\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000313}}
    .l-page .l-main .l-content:after {
      content: "";
      display: table;
      clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003256}}
  .l-page .l-main .l-impact {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2NsP/frPwMUPL19iYERJgDiSKvqQQRgHJBCxpyVZ/6DZGAAAGNqFc+GZimNAAAAAElFTkSuQmCC) repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003263}}
  .l-page .l-footer {
    width: 100%;
    height: auto;
    background: #990000;
    text-align: center;
    display: table;
    margin: 0 auto;
    padding-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003272}}
    .l-page .l-footer .l-footer-copyright {
      color: white;
      font-size: .8em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003275}}
      .l-page .l-footer .l-footer-copyright a, .l-page .l-footer .l-footer-copyright a:hover, .l-page .l-footer .l-footer-copyright a:active, .l-page .l-footer .l-footer-copyright a:link, .l-page .l-footer .l-footer-copyright a:visited {
        color: white;
        text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/heckerling_old\/heckerling_old\.layout\.scss}line{font-family:\00003281}}
    .l-page .l-footer .l-footer-social {
      display: none; }
