// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "sassy-buttons";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

body {
  background: $dotted-orange;
  overflow-x: hidden;

  #skip-link{
    display: none !important;
  }
  a{
    &.element-invisible, &.element-focusable{
      display: none !important;
    }
  }
}

// Default page details
.l-page {
  font-family: $font-stack;
  margin: 0 auto;
  width: 100%;
  position: relative;

  .utility-bar{
    display: none;
    @include breakpoint($desktop, true){
      display: block;
    }
    height: 30px;
    background-color: $um-dark-green;

    .l-search {
      margin: 0 auto;
      text-align: center;

      display: none;
      position: relative;
      // Tablet and desktop
      @include breakpoint($desktop, true){
        display: block;
      }

      label {
        display: block;
        padding-top: .6em;
        width: 150px;
        //margin: 0 auto;
        float: left;
      }

      .search-icon {
        z-index: 505;
        position: absolute;
        vertical-align: center;
        left: 1.3em;
      }
      input {
        z-index: 500;
        font-size: .8em;
        font-family: $font-stack;
        font-weight: 500;
        position: absolute;
        padding-left: 4.2em;
        padding-right: 4em;
        width: 100%;
        left: 0;
        height: 30px;
        min-width: $mobile;
        border: 0px none !important;
        @include appearance('' !important);
        display: none;

        @include placeholder {
          font-family: $font-stack;
          text-transform: uppercase;
        }
        &:focus{
          outline: 0;
        }
      }
      .close-button {
        z-index: 505;
        position: absolute;
        vertical-align: center;
        right: 2em;
        @include transition(color 0.4s ease-in-out);

        &:hover{
          color: $um-orange;
          cursor: pointer;
        }
      }
      .form-submit {
        visibility: hidden;
        position: absolute;
      }
      .search-label{
        color: white;
        font-size: .8em;
        font-family: $font-stack;
        font-weight: 500;
        text-transform: uppercase;
        @include transition(color 0.4s ease-in-out);
        cursor: pointer;
        /*background-color: rgba(0,0,0,.15);
        @include border-radius(8px)*/

        &:hover {
          color: $um-orange;
        }
      }
    }

    .l-links {
      margin-right: 36px;
      float: right;
      width: 80%;
      .menu {
        font-size: .7em;
        font-family: $font-stack;
        font-weight: 500;
        padding: 7px 0px 0px;
        text-align: right;
        list-style: none;
        display: block;
        margin: 0px 5px 0px 1em;
        a {
          color: white;
          text-decoration: none;
          @include transition(color 0.4s ease-in-out);
          &:hover {
            color: $um-orange;
          }
        }
        .leaf {
          padding-left: 1em;
          padding-right: 1em;
          display: inline-block;
          margin-right: -.25em;
          border-right: $um-events-green3 1px solid;
        }
        .last {
          border-right: 0px;
        }
      }
    }

  }

  // Main navigation
  .main-navigation{
    display: none;
    padding-top: 0px;
    background-color: clear;
    position: absolute;
    width: 100%;
    top: 30px;
    z-index: 390;
    @include breakpoint($desktop, true){
      display: block;
    }

    .l-navigation-group{
      @mixin menu-style($align: right, $margin-left: 0, $margin-right: 0){
        .menu {
          display: none;
          // desktop
          @include breakpoint($desktop, true) {
            // Only in desktop
            font-size: 1.2vw; //1.2em;
            font-family: $font-stack;
            font-weight: 700;
            text-transform: uppercase;
            padding: 10px 0;
            text-align: $align;
            list-style: none;
            display: block;
            margin: 0px $margin-right 0px $margin-left;
            //background-color: rgba($um-orange, .4);
            a {
              color: white;
              text-decoration: none;
              //@include text-shadow(black 2px 2px 8px);
              @include transition(color 0.4s ease-in-out);
              &:hover {
                color: $um-orange;
              }
            }
            .leaf {
              padding-left: .5em;
              padding-right: .5em;
              display: inline-block;
              margin-right: -.25em;
            }
            .active-trail{
              color: $um-orange;
            }
            .last {
              border-right: 0px;
            }
          }
        }
      }

      padding-top: .8em;
      $color: rgba($um-light-green, .4);
      background-color: $color;
      $height: 70px;
      height: $height !important;
      max-height: $height !important;
      .left{
        //background-color: $color;
        @include float-span(5, 1,$gutter: 0);
        @include menu-style(right, $margin-right: 14px);
        min-height: inherit;
      }
      .logo{
        //background-color: $color;
        @include float-span(2, 6,$gutter: 0);
        min-height: inherit;
        margin: 0 auto .5em;
        text-align: center;
        img {
          margin-top: -.4em;
          float: none;
        }
      }
      .right{
        //background-color: $color;
        @include float-span(5, 8,$gutter: 0);
        @include menu-style(left);
        min-height: inherit;
      }
    }

    .l-branding {
      margin: 0 auto;
    }
  }


  // Header stuff
  .l-header {
    display: none;
    width: 100%;
    height: 150px;
    @include breakpoint($desktop, true){
      height: 250px;
      max-height: 250px;
      display: block;
    }
    position: relative;
    overflow: hidden;

    $bg-color: black;

    .header-background-color{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $bg-color;
      z-index: -3;
    }

    .header-background-image{
      position: absolute;
      top: 0;
      left: 0;
      background-color: $bg-color;
      width: 100%;
      max-height: 250px;
      background-size: 100%;
      background-position: left top;
      @include breakpoint($tablet, true){
        background-position: left center;
      }
      z-index: -2;
    }

    .translucent {
      background-color: $bg-color;
      @include opacity(0);
      top: 0;
      left: 0;
      height: 250px;
      z-index: -1;
    }

    // Mobile
    @include breakpoint($mobile, true){
      .mean-bar {
        background-color: lightgrey;
      }
    }
  }


  // Main stuff
  .l-main {
    @include clearfix;
    width: 100%;

    // Carousel
    .l-carousel {
      $mobile-height: 200px;
      height: auto;
      min-width: $mobile;
      width: 100%;
      background-color: white;
      position: relative;

      .dark-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(black, .25);
        z-index: 250;
        pointer-events: none;
        @include breakpoint($desktop, true) {
          display: none;
        }
      }

      .cycle-slideshow {
        width: 100%;
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
          display: none;
          .first {
            display: block;
          }
          height: 200px;
          @include breakpoint($tablet, true) {
            height: auto;
          }
        }
        .cycle-overlay {
          @include border-radius(10px, 10px);
          font-family: $font-stack;
          position: absolute;
          width: 75%;
          top: 0;
          left: 12.5%;
          text-align: center;
          z-index: 300;
          color: white;

          @include breakpoint($mobile, true){
            top: 15%;
          }

          @include breakpoint($tablet, true){
            top: 25%;
          }

          @include breakpoint($desktop, true){
            width: 50%;
            top: 30%;
            text-align: left;
            left: 0;
            padding: 10px;
            margin-left: 3em;
          }

          .title {
            h1, h2 {
              font-family: $font-stack;
              font-weight: 800;
              text-transform: uppercase;
              @include breakpoint($desktop, true) {
                font-weight: 600;
              }
              font-size: 4vw;
              margin: 0;
              padding: 0;
              a, a:link, a:visited, a:hover, a:active {
               // @include transition(color 0.4s ease-in-out);
                text-decoration: none;
                color: white;

                &:hover {
                  //color: $um-orange;//$um-dark-gray;
                }
              }
            }
          }

          .body {
            font-family: $font-stack;
            font-weight: 500;
            @include breakpoint($desktop, true) {
              font-weight: 300;
            }
            font-size: .9em;
            @include breakpoint($tablet, true) {
              font-size: 2vw;
            }
            
          }

          .link {
            @extend .body;
            a, a:link, a:visited, a:hover, a:active {
              width: auto;
              text-decoration: none;
              color: white;
              display: inline-block;
              font-size: .7rem !important;
              @include breakpoint($tablet, true) {
                font-size: .9rem !important;
              }
              margin: 0 auto;
              @include breakpoint($desktop, true) {
                margin: 0;
              }
              span:before {
                //content: "READ MORE";
              }
              span{
                margin: 1em auto;
                @include breakpoint($desktop, true) {
                  margin: 1em 0 0;
                }
                text-align: center;
                padding: .5rem 1.5rem;
                font-weight: bolder;
                border: solid 1px white;
                @include border-radius(5px);
                display: block;
                background-color: none;
                @include transition(all 0.4s ease-in-out);

                &:hover{
                  border: solid 1px $um-orange;
                  background-color: $um-orange;
                }
              }
            }
          }
        }

        @mixin createControl($name, $side, $content){
          .control-#{$name}{
            position: absolute;
            height: 100%;
            #{$side}: 5px;
            .cycle-#{$name}{
              position: relative;
              display: table !important;
              width: 1em;
              height: 100%;
              z-index: 400;
              cursor: pointer;
              @include transition(all .4s ease-in-out);
              color: white;
              font-size: 1em !important;
              @include breakpoint($tablet, true){
                font-size: 2.5em !important;
              }
              &:hover{
                color: $um-orange;
              }
              &:after {
                vertical-align: middle;
                display: table-cell;
                text-align: center;
                font-family: FontAwesome;
                content: $content;
              }
            }
          }
        }

        @include createControl('prev', 'left', '\f053');
        @include createControl('next', 'right', '\f054');

        /* pager */
        .cycle-pager {
          width: auto;
          z-index: 500;
          position: absolute;
          bottom: 10px;
          overflow: hidden;
          display: inline;
          text-align: center;

          @include opacity(.3);

          @include transition(opacity .4s ease-in-out);

          span:before {
            font-family: FontAwesome;
            content: "\f10c";//"\f096";
          }

          span {
            padding: 2px 5px 2px 5px;
            font-family: arial;
            display: block;
            float: left;
            color: white;
            cursor: pointer;
            @include transition(color .4s ease-in-out);
            &:hover{
              color: $um-orange;
            }

          }

          .cycle-pager-active:before{
            font-family: FontAwesome;
            content: "\f111";//"\f0c8";
          }

          .cycle-pager-active {
            color: white;
          }

          > * {
            cursor: pointer;
          }

          &:hover {
            @include opacity(1);
          }
        }
      }
    }

    // Impact
    .l-impact {
      $height: 315px;
      clear: both;
      height: auto;
      background: $dotted-white; //$impact-color;

      @include region-header-style();

      .message {
        height: auto;
      }
      .boxes {
        width: 100%;
        margin: auto;
        clear: both;

        .box {
          padding: 20px;
          width: 100%;
          height: auto;
          position: relative;
          text-align: center;

          @include breakpoint($tablet, true){
            width: 50%;
          }
          @include breakpoint($desktop, true){
            width: 25%;
          }
          @include breakpoint($wide, true){
            width: 25%;
          }

          a, a:hover, a:active {
            text-decoration: none;
            color: black;
          }

          .last {
            float: none;
          }
          img {
            width: auto;
            height: 150px !important;
            background-color: white;
            z-index: -2;
            @include border-radius(2px);
          }
          .content-type-overlay {
            width: 50px;
            height: 50px;
            position: absolute;
            left: 20px;
            top: 130px;
            // Temporary
            background-color: white;//#669966;//#005030;
            color: white;
            border : 1px solid $um-light-gray;//#336633;
            z-index: 1;
            padding-top: 0 !important;
            padding-left: 0 !important;
            i {
              padding: 0px;
              margin: 0px;
              color: $um-dark-gray;
            }
            @include social-color-types;

            @include border-radius(5px);
          }
          .text {
            font-weight: bold;
            text-decoration: underline;
            font-family: $font-stack;
            text-align: center;
            padding: 10px 5px 10px 5px;
            width: 100%;
            height: auto;
            font-size: 1em;
            //height: 5em;
            @include transition(color 0.4s ease-in-out);
            &:hover{
              color: $um-orange;
            }
          }
          @include tags-style();
        }

        .loading {
          width: 100%;
          font-weight: 500;
          bottom: 0;
          color: black;
          text-align: center;
          vertical-align: middle;
          display: block;
        }

        .controls {
          @include chevron-controls-style(black, 30%);
        }

        .message {
          position: relative;
          width:100%;
          min-height: 3em;
          padding: 20px;
          display: block;
          clear: both;
          text-align: center;

          @include breakpoint($desktop, true){
            text-align: left;
          }
        }
      }

      @include clearfix();
    }

    .l-events {
      background: $dotted-light-green;

      $height: 255px;
      height: auto;

      @include region-header-style(white, $bottom-border: true);

      .region-header{
        padding-bottom: 25px;
        @include breakpoint($desktop, true){
          width: 100%;
          position: absolute;
          z-index: 500;
        }
      }

      .events {
        clear: both;
        height: auto;
        margin: 0;
        padding: 0;
        .event {
          @include event-style-alt();
        }

        .loading {
          width: 100%;
          font-weight: 500;
          bottom: 0;
          color: white;
          text-align: center;
          vertical-align: middle;
          display: block;
        }

        .controls {
          @include chevron-controls-style;
        }

        $current-color: $um-events-green2;
        @for $i from 0 through 6 {
          .event-column-#{$i}{
            background-color: $current-color;
            $current-color: darken($current-color, 5%);
          }
        }

      }

      @include clearfix;
    }

    // Content
    .l-content {
      background-color: white;
    }

    .l-media {
      $media-height: auto;//450px;
      width: 100%;
      height: auto;
      //height: $media-height * 2;
      overflow: hidden;
      /*@include breakpoint($mobile, true){
        height: $media-height * 2;
      }
      @include breakpoint($tablet, true){
        height: $media-height * 2;
      }
      @include breakpoint($desktop, true){
        height: $media-height;
      }*/
      background-color: black;

      .left{
        overflow: hidden;
        position: relative;
        height: $media-height !important;
        @include grid-span(12,1,$gutter: 0);
        @include breakpoint($mobile, true){
          @include grid-span(12, 1,$gutter: 0);
        }
        @include breakpoint($tablet, true){
          @include grid-span(12, 1,$gutter: 0);
        }
        @include breakpoint($desktop, true){
          @include grid-span(6, 1,$gutter: 0);
        }

        p, h2 {
          font-family: $font-stack;
          font-style: italic;
          font-weight: 700;
          line-height: 1.5em;
          font-size: 2em;
          text-transform: uppercase;
          position: absolute;
          width: 100%;
          text-align: center;
          @include breakpoint($desktop, true){
            left: 0px;
            float: left;
            margin-top: 15px;
            padding: 5px;
            padding-left: 20px;
            margin-right: 40px;
            text-align: left;
          }
          z-index: 100;
          color: white;
        }

        .galleria {
          height: $media-height !important;
          /*.galleria-container {
            height: $media-height !important;
            .galleria-stage {
              height: $media-height !important;
            }
          }*/
        }

        .flickr-slideshow {
          height: $media-height !important;
          max-height: $media-height !important;
          overflow: hidden;
          padding-bottom: 36%;

          object {
            html > body > #playr > #photos {
              .card {
                width: 100% !important;
                a {
                  img {
                    width: 100% !important;
                  }
                }
              }
            }
          }
        }
      }

      .right{
        overflow: hidden;
        height: auto;
        @include background-image(linear-gradient(left, black, $um-dark-gray));
        @include float-span(12,1,$gutter: 0);
        @include breakpoint($mobile, true){
          @include float-span(12, 1,$gutter: 0);
          height: auto;
        }
        @include breakpoint($tablet, true){
          @include float-span(12, 1,$gutter: 0);
          height: $media-height;
        }
        @include breakpoint($desktop, true){
          @include float-span(6, 6,$gutter: 0);
          height: $media-height;
        }
        $right-height: $media-height/2;

        .grid{
          a {
            width: 100%;
            @include breakpoint($tablet, true){
              width: 50%;
            }
            background-color: black;
            overflow: hidden;

            /*&:after{
              content: "";
              display: block;
              height: 100% !important;
              width: 100% !important;
              background: rgba(0,0,0,.5);
              @include transition(background .7s ease-in-out);
              &:hover{
                background: rgba(0,0,0,1);
              }
            }*/

            img {
              width: 100%;
              @include transition(all .5s ease-in-out);
              @include opacity(.5);
              &:hover{
                @include transform(scale(1.25));
                @include opacity(1);
              }
            }
            .overlay{
              width: 100%;
              position:absolute;
              top: 40%;
              padding: 5px;
              line-height: 1.2em;
              font-size: 1.8em;
              @include breakpoint($tablet, true){
                font-size: 1.2em;
              }
              text-align: center;
              vertical-align: middle;
              color: white;
              font-weight: 800;
              text-transform: uppercase;
              pointer-events: none;
            }
          }
        }
      }
    }

  }

  // Footer stuff
  .l-footer {
    width: 100%;
    height: auto;
    background: $dotted-orange;
    text-align: center;
    display: table;
    margin: 0 auto;
    padding-bottom: 1em;

    .menu {
      display: none;
    }

    // Tablet and desktop
    @include breakpoint($desktop, true) {
      // Only in desktop
      .menu {
        padding: 0;
        text-align: center;
        list-style: none;
        font-weight: bolder;
        display: block;
        li {
          //border-right: 1px solid black;
          //background-color: lightgrey;
        }
        a {
          color: white;
          text-decoration: none;
          //@include transition(color 0.4s ease-in-out);
          &:hover {
            //color: $um-light-green;//$um-dark-gray;
          }
        }
        .leaf {
          padding-left: 1.5em;
          padding-right: 1.5em;
          display: inline-block;
          margin-right: -.25em;
        }
        .last {
          border-right: 0px;
        }
      }
    }

    .l-footer-copyright {
      color: white;
      font-size: .8em;
      a, a:hover, a:active, a:link, a:visited {
        color: white;
        text-decoration: none;
      }
    }

    .l-footer-social {
      max-width: 800px;
      margin: 0 auto;
      text-align: center;
      list-style: none;
      padding: 15px 0 0;
      display: table;

      ul {
        margin: 0 auto;
        display: block;
        li {
          color: white;
          list-style-type: none !important;
          text-decoration: none !important;
          margin-left: .5em !important;
          //margin-right: 1.5em;
          margin-right: 1em !important;
          /*padding-left: .5em;
          padding-right: .5em;*/
          padding-right: 0 !important;
          padding-left: 0 !important;
          display: inline;
          a, a:link, a:visited, a:active {
            @include transition(all 0.4s ease-in-out);
            //margin-left: 1em;
            padding-top: 0 !important;
            padding-left: 0 !important;
            position: relative !important;
            color: white;
            width: 1em;
            display: inline-block !important;
            text-decoration: none !important;

            &:hover {
              //color: $um-light-green;//$um-dark-gray;
              @include transform(scale(1.50));
            }
          }
          .menu_icon {
            color: transparent !important;
            width: 1.4em !important;
            height: 1.4em !important;
            background-size: 19px 19px !important;
            background-position: center;
            top: -2px;
          }
          @include social-color-types(true);
        }
      }
    }
  }
}

@include mobile-styles;

/* Chosen */
.chosen-drop {
  .chosen-results {
    .active-result:hover, .highlighted {
      //background-image: linear-gradient(to bottom, $um-orange, #9A3E00) !important;
      background-image: none !important;
      background-color: $um-orange !important;
    }
  }
}

/* Slip Hover */
.sliphover-container{
  .sliphover-overlay{
    div {
      font-family: $font-stack;
      font-weight: 700;
      font-size: 1em;
      @include breakpoint($tablet, true){
        font-size: 1.4em;
      }
    }
  }
}

/* Notifications */
.notification {
  background-color: rgba(#FEF5D4, 1);
  width: 100%;
  z-index: 800;
  font-size: 1.2em;
  font-family: $font-stack;
  font-weight: 500;
  height: auto;
  border: 0px none !important;
  left: 0;
  padding-left: 4.2em;
  padding-right: 4em;
  position: relative;
  p {
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    a, a:active, a:visited, a:link {
      text-decoration: underline;
      text-transform: none;
      color: black;
      @include transition(color 0.4s ease-in-out);
    }
    a:hover {
      color: #ff6600;//#006633;
    }
  }
  .close-notification {
    z-index: 805;
    position: absolute;
    vertical-align: middle;
    right: 2em;
    top: .5em;
    display: block;
    @include transition(color 0.4s ease-in-out);

    &:hover {
      color: $um-orange;
      cursor: pointer;
    }
  }
}

/* Wrapper sticky (hc-sticky) */
/*.wrapper-sticky {
  @include grid-span(12, 1,$gutter: 0);
  //width: 100% !important;
  @include breakpoint($desktop, true){
    @include grid-span(2, 1,$gutter: 0);
    //width: 100%;
  }
}*/
