// Hide the toolbar or admin menu on small screens.
@media all and (max-width: 800px) {
  #toolbar, #admin-menu {
    display: none;
  }

  html {
    body.toolbar, body.admin-menu {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
  }
}

@media print {
  .mobile-header {
    display: none !important;
  }

  .main-navigation {
    display: block !important;
    position: relative !important;
    background-color: #333333 !important;
    .l-navigation-group {
      .left, .right {
        .menu{
          display: none !important;
        }
      }
      .logo {
        text-align: center !important;
      }
    }
  }

  .l-header,.slicknav_menu,.wrapper-sticky {
    display: none !important;
  }

  .center {
    .breadcrumb {
      .easy-breadcrumb{
        .easy-breadcrumb_segment{
          padding-left: 0px !important;
        }
        .easy-breadcrumb_segment-seperator{
          &:before{
            content:"\003c" !important;
          }
        }
      }
    }
  }

  .l-quad {
    width: auto !important;
    height: auto !important;
    .column-alt,.column-lg, .column-xlg, .column-xxlg, .column-xxxlg{
      width: 100% !important;
      height: auto !important;
      color: black !important;
      float: none !important;
      clear: both !important;
      display: inline-block !important;
      position: static !important;
      text-align: left;
    }
  }

  .l-footer {
    float: none !important;
    clear: both !important;
    color: black !important;
    display: inline-block !important;
    text-align: left !important;
    padding: 20px !important;
    position: static !important;
    .l-footer-copyright {
      color: black !important;
    }
    .l-footer-social {
      display: none !important;
    }
  }
}