// Import external libraries.
@import "compass";
@import "compass/css3/border-radius";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "sassy-buttons";

// Globbed variables
@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../base/**/*";
@import "../../components/**/*";

// Main content area for homepage
.l-page {
  .l-header{
    height: auto;
    min-height: auto;
  }

  /*.l-events {
    height: 255px;
    background-color: white;
  }*/
}