// Import external libraries.
@import "compass";
@import "compass/css3/border-radius";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "sassy-buttons";

// Globbed variables
@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../base/**/*";
@import "../../components/**/*";

// Import style from default
//@import "../default/default.layout.scss";

@mixin faculty-profile($small, $large){
  .faculty-member-profile {
    @include badge-style(200px, none, none, none, none, none, 100%, auto, $font-size: .9em);

    .block {
      .image {
        margin-bottom: 20px;
      }
    }

    display: $small;
    @include breakpoint($desktop, true) {
      display: $large;
    }
  }
}

// Main content area for homepage
.l-main {

  .l-content {

    margin: auto 0;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: white;
    position: relative;
    height: auto;
    vertical-align: top;

    a, a:active, a:visited, a:link {
      text-decoration: underline;
      color: black;
      @include transition(color 0.4s ease-in-out);
    }
    a:hover {
      color: #ff6600;
    }

    .slicknav_menu{
      @include slicknav-style();
    }

    .left {
      @include leftnav-style();
    }

    .center-left{
      display: block;
      @include grid-span(12,1,$gutter: 0);
      @include breakpoint($mobile, true){
        @include grid-span(12, 1,$gutter: 0);
      }
      @include breakpoint($tablet, true){
        @include grid-span(12, 1,$gutter: 0);
      }
      @include breakpoint($desktop, true){
        @include grid-span(6, 1,$gutter: 0);
      }
      margin-bottom: 2em;
      padding: 20px 20px 0px;

      .name {
        margin-top: 20px;
        font-size: 1.5em;
        text-align: center;
        @include breakpoint($desktop, true){
          text-align: left;
          h1 {
            margin-bottom: .2em !important;
          }
        }
      }
      .title {
        text-align: center;
        @include breakpoint($desktop, true){
          text-align: left;
        }
      }
      .degrees {
        text-align: center;
        margin-bottom: 2.5em;
        @include breakpoint($desktop, true){
          text-align: left;
        }
        p {
          margin-top: 0px;
        }
      }

      .breadcrumb {
        @include breadcrumb-style();
      }

      .faculty-member{
        @include faculty-profile(block, none);
        .biography{
          margin-bottom: 2em;
        }
        // collapse style
        @include collapsible-style();
      }
    }

    .center-right{
      @include box-sizing('border-box');
      display: block;
      clear: none;
      padding-top: 0px;
      @include grid-span(12,1,$gutter: 0);
      @include breakpoint($mobile, true){
        @include grid-span(12, 1,$gutter: 0);
      }
      @include breakpoint($tablet, true){
        @include grid-span(12, 1,$gutter: 0);
      }
      @include breakpoint($desktop, true){
        @include grid-span(2, 1,$gutter: 0);
        padding-top: 20px;
        padding-bottom: 20px;
        background: $thatched-gray;
      }
      height: 100%;

      @include faculty-profile(none, block);

      .faculty-member-assistant {
        @include badge-style(200px, $dotted-white, none, 15px, 15px);
        .block {
          .head {
            font-weight: 700;
            font-size: 1.1em;
          }
          .image {
            $image-width: 100px;
            $image-height: 95px;
            width: $image-width !important;
            height: $image-height !important;
            border: 1px solid white;
            @include border-radius(45px);
            display: block;
            position: relative;
            margin: 0 auto;
            img {
              @include border-radius(45px);
              width: $image-width;
              height: $image-height;
              position: absolute;
              top: 45px;
              left: 50px;
              margin: 0 auto;
              display: block;
            }
            overflow: hidden;
          }
        }
        h3{
          margin-top: 0px;
        }
      }
      .faculty-member-expertise{
        @include badge-style(250px, none, rgba(0,0,0,0), none, 30px, none, 100%, auto);
        h3{
          margin-top: 0px;
        }
      }
      .faculty-member-websites, .faculty-member-social{
        @include badge-style(250px, none, grey, none, 30px, none, 100%, auto);
        h3{
          margin-top: 0px;
        }
        p{
          font-size: .9em;
        }
        a {
          word-wrap: break-word;
        }
      }
    }

    .right{
      @include grid-span(12,1,$gutter: 0);
      @include breakpoint($mobile, true){
        @include grid-span(12, 1,$gutter: 0);
      }
      @include breakpoint($tablet, true){
        @include grid-span(12, 1,$gutter: 0);
      }
      @include breakpoint($desktop, true){
        @include grid-span(2, 1,$gutter: 0);
      }

      padding: 0 20px 20px 20px;
    }

    @include clearfix;
  }

}
