/* Tags */
/** Slicknav style */
/** Left Navigation Style */
/** Breadcrumb styles */
/** Title style */
/** Collapsible Content */
/* Color Types */
/*
text-decoration: none !important;
  a,a:visited,a:active,a:link {
    @include create-button-style(5px, 14px, #999999, $um-orange);
    font-size: 14px !important;
    text-decoration: none !important;
    @include transition(all 0.4s ease-in-out);
    &:hover{
      color: black !important;
      border: solid 1px $um-orange;
      background-color: $um-orange;
    }
    display: block;
  }
  */
/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\000033}}
.social-icons {
  list-style: none;
  margin: 0;
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\000037}}
  .social-icons li {
    margin-bottom: 10px;
    display: inline-block;
    height: 19px;
    width: auto; }
    @media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\000037}}
      .social-icons li {
        width: 100%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\0000316}}
    .social-icons li a i {
      text-transform: none;
      text-decoration: none;
      display: block;
      float: left;
      margin-right: 8px !important;
      width: 15px !important;
      -moz-transition: none;
      -o-transition: none;
      -webkit-transition: none;
      transition: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\0000323}}
      .social-icons li a i img {
        width: 19px !important;
        height: 19px !important;
        max-width: 19px !important;
        display: block;
        margin: 0 !important;
        float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003887}}
    .social-icons li a .black {
      color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003890}}
    .social-icons li a .teal {
      color: #55ACEE; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003893}}
    .social-icons li a .red {
      color: #b31217; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003896}}
    .social-icons li a .gray {
      color: #66757F; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003899}}
    .social-icons li a .orange {
      color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003902}}
    .social-icons li a .blue {
      color: #0C70E8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003905}}
    .social-icons li a .white {
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003908}}
    .social-icons li a .brown {
      color: #663300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003911}}
    .social-icons li a .pink {
      color: #ff3e96; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000319}}
.caption-table-left {
  width: auto;
  border: 0;
  text-align: center;
  float: left;
  margin: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\000037}}
  .caption-table-left img {
    margin: 0 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000310}}
  .caption-table-left caption {
    caption-side: bottom;
    text-align: center;
    padding: .5em;
    font-size: .8em;
    background-color: rgba(0, 0, 0, 0.05); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000323}}
.caption-table-right {
  width: auto;
  border: 0;
  text-align: center;
  float: left;
  margin: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\000037}}
  .caption-table-right img {
    margin: 0 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000310}}
  .caption-table-right caption {
    caption-side: bottom;
    text-align: center;
    padding: .5em;
    font-size: .8em;
    background-color: rgba(0, 0, 0, 0.05); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\000033}}
h5 {
  font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\000037}}
.ui {
  font-family: "proxima-nova", Arial !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\0000311}}
  .ui p a, .ui p a:active, .ui p a:visited, .ui p a:link {
    text-decoration: underline;
    text-transform: none;
    font-weight: bolder;
    color: inherit;
    -moz-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\0000318}}
  .ui p a:hover {
    color: #ff6600; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\0000324}}
.right-rail-button {
  text-decoration: none !important;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031154}}
  .right-rail-button a, .right-rail-button a:visited, .right-rail-button a:link, .right-rail-button a:active {
    color: black;
    font-size: 1em !important;
    margin: 1em auto;
    text-decoration: none !important;
    text-align: center;
    padding: .5em 1em;
    border: solid 1px #999999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    -moz-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    -webkit-transition: all 0.4s !important;
    transition: all 0.4s !important;
    display: inline-block; }
    @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031154}}
      .right-rail-button a, .right-rail-button a:visited, .right-rail-button a:link, .right-rail-button a:active {
        margin: 1em 0 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031171}}
  .right-rail-button a:hover {
    color: white !important;
    border: solid 1px #ff6600;
    background-color: #ff6600; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/default\/default\.layout\.scss}line{font-family:\0000318}}
.l-main .l-content {
  margin: auto 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  position: relative;
  height: auto;
  vertical-align: top;
  /* SlickNav
  */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/default\/default\.layout\.scss}line{font-family:\0000331}}
  .l-main .l-content .slicknav_menu {
    display: block;
    background-color: #222;
    padding: 0; }
    @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/default\/default\.layout\.scss}line{font-family:\0000331}}
      .l-main .l-content .slicknav_menu {
        display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003249}}
    .l-main .l-content .slicknav_menu .slicknav_btn {
      float: left;
      display: block;
      text-align: center;
      margin-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003254}}
      .l-main .l-content .slicknav_menu .slicknav_btn .slicknav_menutxt {
        margin-left: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003265}}
    .l-main .l-content .slicknav_menu ul li form input {
      display: block !important;
      color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/default\/default\.layout\.scss}line{font-family:\0000335}}
  .l-main .l-content .left {
    display: block;
    margin: 5px auto auto;
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    @media (min-width: 320px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/default\/default\.layout\.scss}line{font-family:\0000335}}
      .l-main .l-content .left {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; } }
    @media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/default\/default\.layout\.scss}line{font-family:\0000335}}
      .l-main .l-content .left {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; } }
    @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/default\/default\.layout\.scss}line{font-family:\0000335}}
      .l-main .l-content .left {
        padding: 20px;
        padding-top: 0px;
        width: 16.66667%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003293}}
    .l-main .l-content .left ul {
      list-style: none;
      z-index: 500; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003298}}
    .l-main .l-content .left ul {
      display: none; }
      @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003298}}
        .l-main .l-content .left ul {
          display: block;
          width: 100%;
          list-style: none;
          padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003305}}
          .l-main .l-content .left ul > li {
            font-size: 1.2vw;
            font-weight: 700;
            list-style: none;
            margin-bottom: 7px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003311}}
            .l-main .l-content .left ul > li > span {
              padding-left: 10px;
              text-decoration: none;
              text-transform: capitalize;
              display: block;
              color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003318}}
            .l-main .l-content .left ul > li > a, .l-main .l-content .left ul > li a:link, .l-main .l-content .left ul > li a:visited, .l-main .l-content .left ul > li a:hover, .l-main .l-content .left ul > li a:active {
              padding-left: 10px;
              text-decoration: none;
              text-transform: capitalize;
              display: block;
              color: black;
              -moz-transition: color 0.4s ease-in-out;
              -o-transition: color 0.4s ease-in-out;
              -webkit-transition: color 0.4s ease-in-out;
              transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003326}}
            .l-main .l-content .left ul > li > a:hover {
              color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003329}}
            .l-main .l-content .left ul > li > .menu {
              padding: 5px 0px;
              list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003332}}
              .l-main .l-content .left ul > li > .menu .leaf {
                font-size: .75em !important;
                font-weight: 400 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003336}}
              .l-main .l-content .left ul > li > .menu > li {
                list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003338}}
                .l-main .l-content .left ul > li > .menu > li > a, .l-main .l-content .left ul > li > .menu > li a:link, .l-main .l-content .left ul > li > .menu > li a:visited, .l-main .l-content .left ul > li > .menu > li a:active {
                  background-color: white;
                  text-decoration: none;
                  text-transform: none;
                  border: none;
                  color: black;
                  padding-left: 20px;
                  margin-bottom: 7px;
                  -moz-transition: color 0.4s ease-in-out;
                  -o-transition: color 0.4s ease-in-out;
                  -webkit-transition: color 0.4s ease-in-out;
                  transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003347}}
                  .l-main .l-content .left ul > li > .menu > li > a:hover, .l-main .l-content .left ul > li > .menu > li a:link:hover, .l-main .l-content .left ul > li > .menu > li a:visited:hover, .l-main .l-content .left ul > li > .menu > li a:active:hover {
                    color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003355}}
          .l-main .l-content .left ul .active-trail > a, .l-main .l-content .left ul .active-trail a:link, .l-main .l-content .left ul .active-trail a:visited, .l-main .l-content .left ul .active-trail a:hover, .l-main .l-content .left ul .active-trail a:active {
            color: #ff6600; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/default\/default\.layout\.scss}line{font-family:\0000338}}
  .l-main .l-content .center {
    display: block;
    margin-right: 0 !important;
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 20px;
    /*table {
      font-family: $font-stack;
      width: 100% !important;
      border: black 1px solid !important;
      tbody{
        tr{
          td:first-child {
            width: 15%;
            padding-right: 25px;
          }
          td {
            a, a:link, a:active, a:hover, a:visited {
              text-transform: uppercase !important;
              text-decoration: none !important;
              font-weight: 700;
            }
            a:last-child {
              float: none;
              clear: both;
              display: block;
            }
          }
          td {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
    */ }
    @media (min-width: 320px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/default\/default\.layout\.scss}line{font-family:\0000338}}
      .l-main .l-content .center {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; } }
    @media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/default\/default\.layout\.scss}line{font-family:\0000338}}
      .l-main .l-content .center {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; } }
    @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/default\/default\.layout\.scss}line{font-family:\0000338}}
      .l-main .l-content .center {
        width: 66.66667%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031428}}
    .l-main .l-content .center .breadcrumb {
      display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003366}}
      .l-main .l-content .center .breadcrumb ul {
        padding: 0px;
        list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003369}}
        .l-main .l-content .center .breadcrumb ul li {
          margin-right: 5px;
          display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003372}}
          .l-main .l-content .center .breadcrumb ul li a, .l-main .l-content .center .breadcrumb ul li a:link, .l-main .l-content .center .breadcrumb ul li a:visited, .l-main .l-content .center .breadcrumb ul li a:hover, .l-main .l-content .center .breadcrumb ul li a:active {
            text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003376}}
        .l-main .l-content .center .breadcrumb ul li:after {
          content: " > "; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003379}}
        .l-main .l-content .center .breadcrumb ul li:last-child::after {
          content: ""; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003383}}
      .l-main .l-content .center .breadcrumb .easy-breadcrumb {
        display: table-cell;
        vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003389}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-separator:before {
          font-family: FontAwesome; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003394}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-separator {
          /*padding-left: 10px;
          padding-right: 10px;*/
          font-size: 1.5em;
          height: 5px !important;
          display: block;
          float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003403}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment {
          font-family: "proxima-nova", Arial;
          text-decoration: none;
          text-transform: uppercase;
          margin-top: 6px;
          font-size: .7em;
          padding: 2px;
          padding-left: 10px;
          padding-right: 10px;
          margin-right: 5px;
          color: black;
          display: block;
          float: left;
          background-color: #cccccc;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003420}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-front {
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003424}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-front:hover {
          background-color: #aaaaaa; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-1 {
          background-color: #b3b3b3;
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
          .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-1:hover {
            background-color: #919191; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-2 {
          background-color: #999999;
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
          .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-2:hover {
            background-color: #777777; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-3 {
          background-color: gray;
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
          .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-3:hover {
            background-color: #5e5e5e; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-4 {
          background-color: #666666;
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
          .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-4:hover {
            background-color: #444444; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-5 {
          background-color: #4d4d4d;
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
          .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-5:hover {
            background-color: #2b2b2b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-6 {
          background-color: #333333;
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
          .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-6:hover {
            background-color: #111111; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003442}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-title {
          background-color: #1a1a1a;
          color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031431}}
    .l-main .l-content .center .title {
      font-size: .7em; }
      @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031431}}
        .l-main .l-content .center .title {
          font-size: 1.5em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031436}}
      .l-main .l-content .center .title h1 {
        margin-bottom: .2em !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031440}}
    .l-main .l-content .center .content {
      padding-top: 16px;
      padding-right: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031445}}
      .l-main .l-content .center .content a, .l-main .l-content .center .content a:active, .l-main .l-content .center .content a:visited, .l-main .l-content .center .content a:link {
        text-decoration: underline;
        text-transform: none;
        color: black;
        -moz-transition: color 0.4s ease-in-out;
        -o-transition: color 0.4s ease-in-out;
        -webkit-transition: color 0.4s ease-in-out;
        transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031451}}
      .l-main .l-content .center .content a:hover {
        color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031455}}
      .l-main .l-content .center .content img {
        height: auto !important;
        display: block;
        margin-bottom: 1em;
        margin-right: 1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003463}}
      .l-main .l-content .center .content .collapsible-content .collapse-action {
        text-decoration: none;
        text-transform: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003466}}
        .l-main .l-content .center .content .collapsible-content .collapse-action h3 {
          text-align: left;
          /*text-align: center;
          @include breakpoint($desktop, true){
            text-align: left;
          }*/
          margin-top: 1em;
          z-index: 1;
          position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003475}}
          .l-main .l-content .center .content .collapsible-content .collapse-action h3 i {
            width: 1.5em !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003478}}
          .l-main .l-content .center .content .collapsible-content .collapse-action h3:before {
            content: "";
            margin: 0 auto;
            position: absolute;
            top: .6em;
            left: 0;
            right: 0;
            bottom: 0;
            width: 95%;
            z-index: -1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003491}}
        .l-main .l-content .center .content .collapsible-content .collapse-action:hover {
          cursor: pointer !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031179}}
      .l-main .l-content .center .content .tagged-content-header {
        clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031180}}
        .l-main .l-content .center .content .tagged-content-header .tc-title {
          font-family: "proxima-nova", Arial;
          font-weight: 700;
          font-size: 1.5em;
          text-transform: capitalize;
          vertical-align: middle;
          display: table;
          margin: 0 auto;
          text-align: center;
          color: black; }
          @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031180}}
            .l-main .l-content .center .content .tagged-content-header .tc-title {
              display: block;
              margin-right: 40px;
              text-align: left; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031195}}
          .l-main .l-content .center .content .tagged-content-header .tc-title h1 {
            margin-top: 5px;
            margin-bottom: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031200}}
        .l-main .l-content .center .content .tagged-content-header .tc-all {
          width: 100%;
          float: right;
          margin-left: 0;
          margin-right: 0;
          clear: none;
          font-family: "proxima-nova", Arial;
          font-size: 1em;
          font-weight: 700;
          text-transform: capitalize;
          vertical-align: middle;
          padding: 5px;
          display: table;
          margin: 0 auto;
          text-align: center;
          color: black; }
          @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031200}}
            .l-main .l-content .center .content .tagged-content-header .tc-all {
              width: 16.66667%;
              float: left;
              margin-right: -100%;
              margin-left: 0;
              clear: none;
              float: left;
              display: block;
              margin-right: 40px;
              text-align: left; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031220}}
        .l-main .l-content .center .content .tagged-content-header .tc-filter-tags {
          width: 100%;
          float: right;
          margin-left: 0;
          margin-right: 0;
          clear: none;
          font-family: "proxima-nova", Arial;
          font-weight: 700;
          display: block;
          text-align: center;
          padding: 5px;
          vertical-align: middle;
          font-size: .8em; }
          @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031220}}
            .l-main .l-content .center .content .tagged-content-header .tc-filter-tags {
              width: 33.33333%;
              float: left;
              margin-right: -100%;
              margin-left: 16.66667%;
              clear: none;
              text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031229}}
              .l-main .l-content .center .content .tagged-content-header .tc-filter-tags i {
                float: left; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031236}}
          .l-main .l-content .center .content .tagged-content-header .tc-filter-tags i {
            margin-right: .5em;
            font-style: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031240}}
          .l-main .l-content .center .content .tagged-content-header .tc-filter-tags a {
            text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031245}}
        .l-main .l-content .center .content .tagged-content-header .tc-filter-months {
          width: 100%;
          float: right;
          margin-left: 0;
          margin-right: 0;
          clear: none;
          font-family: "proxima-nova", Arial;
          font-weight: 700;
          display: block;
          text-align: center;
          padding: 5px;
          vertical-align: middle;
          font-size: .8em; }
          @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031245}}
            .l-main .l-content .center .content .tagged-content-header .tc-filter-months {
              width: 33.33333%;
              float: left;
              margin-right: -100%;
              margin-left: 58.33333%;
              clear: none;
              text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031254}}
              .l-main .l-content .center .content .tagged-content-header .tc-filter-months i {
                float: left; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031261}}
          .l-main .l-content .center .content .tagged-content-header .tc-filter-months i {
            margin-right: .5em;
            font-style: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031265}}
          .l-main .l-content .center .content .tagged-content-header .tc-filter-months a {
            text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003499}}
        .l-main .l-content .center .content .tagged-content-header *[class*=tagged-content-tags-drop-down] {
          display: table;
          margin: 0 auto 5px; }
          @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003499}}
            .l-main .l-content .center .content .tagged-content-header *[class*=tagged-content-tags-drop-down] {
              padding-top: 0px;
              margin-right: 5px;
              display: block;
              float: left;
              clear: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003513}}
          .l-main .l-content .center .content .tagged-content-header *[class*=tagged-content-tags-drop-down] select {
            font-family: "proxima-nova", Arial;
            font-size: .8em;
            margin-top: 2px;
            padding: 2px 5px;
            background-color: white;
            border: 2px solid #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003521}}
          .l-main .l-content .center .content .tagged-content-header *[class*=tagged-content-tags-drop-down] .chosen-drop {
            width: 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003499}}
        .l-main .l-content .center .content .tagged-content-header *[class*=tagged-content-months-drop-down] {
          display: table;
          margin: 0 auto 5px; }
          @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003499}}
            .l-main .l-content .center .content .tagged-content-header *[class*=tagged-content-months-drop-down] {
              padding-top: 0px;
              margin-right: 5px;
              display: block;
              float: left;
              clear: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003513}}
          .l-main .l-content .center .content .tagged-content-header *[class*=tagged-content-months-drop-down] select {
            font-family: "proxima-nova", Arial;
            font-size: .8em;
            margin-top: 2px;
            padding: 2px 5px;
            background-color: white;
            border: 2px solid #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003521}}
          .l-main .l-content .center .content .tagged-content-header *[class*=tagged-content-months-drop-down] .chosen-drop {
            width: 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.3\.0\/gems\/toolkit-2\.10\.2\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000313}}
        .l-main .l-content .center .content .tagged-content-header:after {
          content: "";
          display: table;
          clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031277}}
      .l-main .l-content .center .content .tagged-contents {
        margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031281}}
      .l-main .l-content .center .content .tagged-content-container {
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 1em;
        padding-left: 1em; }
        @media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031281}}
          .l-main .l-content .center .content .tagged-content-container {
            float: left;
            width: 50%;
            height: 275px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031293}}
        .l-main .l-content .center .content .tagged-content-container .tc-image {
          width: 100%;
          margin: 0 auto;
          float: none;
          clear: both; }
          @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031293}}
            .l-main .l-content .center .content .tagged-content-container .tc-image {
              width: 200px;
              float: right; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031302}}
          .l-main .l-content .center .content .tagged-content-container .tc-image img {
            margin: 0 auto; }
            @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031302}}
              .l-main .l-content .center .content .tagged-content-container .tc-image img {
                width: 180px;
                margin-right: 1em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031310}}
        .l-main .l-content .center .content .tagged-content-container .tc-title {
          width: 100%;
          margin-top: .5em;
          font-weight: 700;
          text-decoration: none;
          text-transform: none;
          text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031316}}
          .l-main .l-content .center .content .tagged-content-container .tc-title a {
            text-decoration: none; }
          @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031310}}
            .l-main .l-content .center .content .tagged-content-container .tc-title {
              margin-top: 0;
              width: auto;
              text-align: left; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031326}}
        .l-main .l-content .center .content .tagged-content-container .tc-date {
          width: 100%;
          margin-top: .5em;
          margin-bottom: .5em;
          text-align: center; }
          @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031326}}
            .l-main .l-content .center .content .tagged-content-container .tc-date {
              width: 250px;
              text-align: left; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031336}}
        .l-main .l-content .center .content .tagged-content-container .tc-content {
          text-align: center; }
          @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031336}}
            .l-main .l-content .center .content .tagged-content-container .tc-content {
              text-align: left; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000313}}
        .l-main .l-content .center .content .tagged-content-container .tc-tags ul {
          margin: 0 auto;
          padding: 0;
          list-style: none;
          text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000319}}
          .l-main .l-content .center .content .tagged-content-container .tc-tags ul a {
            text-decoration: none;
            color: black;
            font-family: "proxima-nova", Arial; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000325}}
          .l-main .l-content .center .content .tagged-content-container .tc-tags ul li {
            position: relative;
            font-size: 0.7em;
            padding: 2px 5px;
            display: inline-block;
            text-align: center;
            margin: 5px;
            background-color: white;
            border: 1px solid #999999;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000340}}
            .l-main .l-content .center .content .tagged-content-container .tc-tags ul li:hover {
              background-color: #ff6600;
              border-color: #ff6600; }
        @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000313}}
          .l-main .l-content .center .content .tagged-content-container .tc-tags ul {
            margin: 0 auto;
            padding: 0;
            list-style: none;
            text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000319}}
            .l-main .l-content .center .content .tagged-content-container .tc-tags ul a {
              text-decoration: none;
              color: black;
              font-family: "proxima-nova", Arial; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000325}}
            .l-main .l-content .center .content .tagged-content-container .tc-tags ul li {
              position: relative;
              font-size: 0.7em;
              padding: 2px 5px;
              display: inline-block;
              text-align: center;
              margin: 5px;
              background-color: white;
              border: 1px solid #999999;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              -moz-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
              -webkit-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000340}}
              .l-main .l-content .center .content .tagged-content-container .tc-tags ul li:hover {
                background-color: #ff6600;
                border-color: #ff6600; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031352}}
      .l-main .l-content .center .content .social-media-content {
        clear: both;
        background-color: #f6f6f6;
        margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031356}}
        .l-main .l-content .center .content .social-media-content .social-media-column {
          padding: 1em;
          background-color: #f6f6f6;
          width: 100%; }
          @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031356}}
            .l-main .l-content .center .content .social-media-content .social-media-column {
              width: 33%;
              float: left;
              min-height: 600px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031366}}
          .l-main .l-content .center .content .social-media-content .social-media-column .social-media-column-header .social-media-column-header-image {
            text-align: center;
            margin: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031368}}
            .l-main .l-content .center .content .social-media-content .social-media-column .social-media-column-header .social-media-column-header-image img {
              margin: 0 auto;
              width: 50px;
              border-radius: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031375}}
          .l-main .l-content .center .content .social-media-content .social-media-column .social-media-column-header .social-media-column-header-link {
            text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031377}}
            .l-main .l-content .center .content .social-media-content .social-media-column .social-media-column-header .social-media-column-header-link a {
              font-weight: 700; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031384}}
          .l-main .l-content .center .content .social-media-content .social-media-column .social-media-column-content p img {
            margin: 0 auto;
            padding: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031388}}
          .l-main .l-content .center .content .social-media-content .social-media-column .social-media-column-content p a {
            text-transform: none;
            text-decoration: none;
            font-weight: 700; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031397}}
        .l-main .l-content .center .content .social-media-content .twitter a {
          color: #45A4DC; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031402}}
        .l-main .l-content .center .content .social-media-content .facebook a {
          color: #3D599A; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031407}}
        .l-main .l-content .center .content .social-media-content .instagram a {
          color: #4D54A4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000313}}
      .l-main .l-content .center .content ul[class*="taxonomy-term-reference"] {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000319}}
        .l-main .l-content .center .content ul[class*="taxonomy-term-reference"] a {
          text-decoration: none;
          color: black;
          font-family: "proxima-nova", Arial; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000325}}
        .l-main .l-content .center .content ul[class*="taxonomy-term-reference"] li {
          position: relative;
          font-size: 0.7em;
          padding: 2px 5px;
          display: inline-block;
          text-align: center;
          margin: 5px;
          background-color: white;
          border: 1px solid #999999;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          -moz-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000340}}
          .l-main .l-content .center .content ul[class*="taxonomy-term-reference"] li:hover {
            background-color: #ff6600;
            border-color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/default\/default\.layout\.scss}line{font-family:\0000342}}
  .l-main .l-content .right {
    width: 100%;
    font-size: .8em;
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 20px; }
    @media (min-width: 320px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/default\/default\.layout\.scss}line{font-family:\0000342}}
      .l-main .l-content .right {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; } }
    @media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/default\/default\.layout\.scss}line{font-family:\0000342}}
      .l-main .l-content .right {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; } }
    @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/default\/default\.layout\.scss}line{font-family:\0000342}}
      .l-main .l-content .right {
        width: 16.66667%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031526}}
    .l-main .l-content .right h2 {
      font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031530}}
    .l-main .l-content .right a, .l-main .l-content .right a:active, .l-main .l-content .right a:visited, .l-main .l-content .right a:link {
      text-decoration: underline;
      color: black;
      -moz-transition: color 0.4s ease-in-out;
      -o-transition: color 0.4s ease-in-out;
      -webkit-transition: color 0.4s ease-in-out;
      transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031535}}
    .l-main .l-content .right a:hover {
      color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031539}}
    .l-main .l-content .right img {
      width: 198px !important;
      height: auto;
      display: block;
      margin-bottom: .5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.3\.0\/gems\/toolkit-2\.10\.2\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000313}}
  .l-main .l-content:after {
    content: "";
    display: table;
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/default\/default\.layout\.scss}line{font-family:\0000348}}
.l-main .l-impact {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2NsP/frPwMUPL19iYERJgDiSKvqQQRgHJBCxpyVZ/6DZGAAAGNqFc+GZimNAAAAAElFTkSuQmCC) repeat; }
