// Import external libraries.
@import "compass";
@import "compass/css3/border-radius";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "sassy-buttons";

// Globbed variables
@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../base/**/*";
@import "../../components/**/*";

html, body {
  background-color: $um-dark-green !important;
}

// Main content area for homepage
.l-page {

  .l-main {

    background-color: $um-dark-green;
    text-align: center;
    margin: 15% auto 0;

    .l-login {
      .l-pre-content {
        .l-logo {

          img {

          }

        }

        .l-info {
          color: white;
        }
      }

      .l-content {
        background-color: $um-dark-green;
        color: white;
        font-family: $font-stack;
        form {
          margin-top: 50px;
          font-family: $font-stack !important;
          input{
            text-align: center;
            color: black;
            &:last-child {
              color: white;
              background-color: transparent;
              border: 1px white solid;
              padding: .5em 1em;
              @include transition(all 0.4s ease-in-out);
              @include border-radius(5px);
              &:hover {
                background-color: $um-orange;
                border-color: $um-orange;
                color: white;
              }
            }
          }
          .description{
            display: none !important;
          }
        }
      }
      .l-account {
        margin-top: 2em;
        @include create-button-style(5px, 1em, $border-color: white, $bg-color: transparent, $font-color: white);
      }
    }
  }
}