@import "../variables/_colors.scss";

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

/* Tags */
@mixin tags-style($bg-color: white, $selector: '', $box-off: false, $font-size: .7em, $alignment: center){
  // Tags
  ul#{$selector}{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: $alignment;

    a {
      text-decoration: none;
      color: black;
      font-family: $font-stack;
    }

    li{
      position: relative;
      font-size: $font-size;
      padding: 2px 5px;
      display: inline-block;
      text-align: center;

      @if not $box-off {
        margin: 5px;
        background-color: $bg-color;
        border : 1px solid #999999;
        @include border-radius(5px);

        @include transition(all 0.4s ease-in-out);

        &:hover {
          background-color: $um-orange;
          border-color: $um-orange;
        }
      } @else {
        margin: 2px;
        text-decoration: underline;
        //font-weight: bold;

        a{
          @include transition(color 0.4s ease-in-out);

          &:hover {
            color: $um-orange;
          }
        }
      }
    }
  }
}

@mixin badge-style($maxwidth, $background-color, $border-color, $badge-top-radius, $badge-bottom-radius, $image-border-radius: 40px, $image-width: 80px, $image-height: 80px, $font-size: .8em){
  text-align: center;
  padding: 10px;
  max-width: $maxwidth;
  margin: 0 auto;
  .block{
    background: $background-color;
    @if $image-width == 100% {
      padding: 0px;
    } @else {
      padding: 20px;
      //@include background-image(linear-gradient(top, skyblue, lightblue));
      /*background-color: white;
      $top: linear-gradient(120deg, white, $um-orange, $um-light-green);
      @include background-image($top);*/
    }
    margin: 0 auto;
    border: 1px solid $border-color;
    /*background-repeat: no-repeat, repeat;
    background-size: 100% 31%;*/
    @include border-top-radius($badge-top-radius);
    @include border-bottom-radius($badge-bottom-radius);
    .head {
      display: table;
      width: 100%;
      font-weight: 700;
      font-size: 1.1em;
    }
    .name {
      display: table;
      width: 100%;
      h3{
        margin-bottom: 2px;
        padding: 0px;
      }
      h4{
        margin: 2px;
        padding: 0px;
        min-height: 3.5em;
        height: 3.7em;
        vertical-align: middle;
        display: table-cell;
      }
    }
    .image{
      width: $image-width !important;
      height: $image-height !important;
      border: 1px solid white;
      //@include border-radius($image-border-radius);
      //@include box-shadow(1px 1px 1px rgba(0,0,0, 0.7));
      display: block;
      margin: 0 auto;
      position: relative;
      img{
        //@include border-radius($image-border-radius);
        //border: 2px solid rgba(0, 0, 0, 0.5);
        width: $image-width;
        height: $image-height;
        @if $image-width != 100% {
          position: absolute;
          height: auto;
          top: 60%;
          left: 50%;
          @include translate(-50%, -50%);
        }
        margin: 0 auto;
        display: block;
      }
      overflow: hidden;
    }
    .title{
      min-height: 4em;
      height: 4em;
      vertical-align: middle;
      margin-top: 5px;
      font-size: $font-size - .1;
    }
    .phone, .email, .room, .office{
      font-size: $font-size;
      white-space: pre-line;
      word-wrap: normal;
      strong{
        white-space: normal;
        float: none;
      }
    }
    .office {
      padding-bottom: 1em;
      word-wrap: break-word;
      p {
        margin: 2px;
      }
    }
    .tags {
      @include tags-style($box-off: true, $font-size: .9em);
    }
  }
}


@mixin directory-style($background-color, $border-color, $badge-top-radius, $badge-bottom-radius, $image-border-radius: 40px, $image-width: 80px, $image-height: 80px, $font-size: .8em){
  text-align: left;
  $width: 360px;
  $height: 140px;
  padding: 10px;
  width: $width !important;
  height: $height;
  margin: 10px 10px 0 auto;
  .block{
    width: $width;
    height: $height !important;
    background: $background-color;
    margin: 0 auto;
    border: 1px solid $border-color;
    @include border-top-radius($badge-top-radius);
    @include border-bottom-radius($badge-bottom-radius);

    .image{
      width: 100px !important;
      height: $height !important;
      border: 1px solid white;
      //@include border-radius($image-border-radius);
      display: block;
      position: relative;
      float: left;
      img{
        //@include border-radius($image-border-radius);
        width: $image-width;
        height: $image-height;
        position: absolute;
        top: 10px;
        left: 10px;
        margin: 0 auto;
        display: block;
      }
    }
    a .name h4{
      margin: 0px;
      text-decoration: underline !important;
    }
    .name {
      width: 250px;
      float: left;
      margin-top: 10px;
      h3{
        margin: 0px;
        padding: 0px;
      }
      h4{
        margin: 0px;
        padding: 0px;
      }
    }
    .title{
      width: 250px;
      float: left;
      margin-bottom: 5px;
      font-size: $font-size;
      line-height: 1.1em;
      strong{
        font-weight: 600;
      }
    }
    .phone, .email, .room, .office{
      width: 250px;
      float: left;
      font-size: $font-size;
    }
    .office {
      width: 250px;
      float: left;
      padding-bottom: 1em;
      p {

        margin: 2px 2px 2px 0px;
      }
    }
  }
}

/** Slicknav style */
@mixin slicknav-style(){
  display: block;
  @include breakpoint($desktop, true){
    display: none;
  }
  background-color: #222;
  padding: 0;
  .slicknav_btn{
    float: left;
    display: block;
    text-align: center;
    margin-left: 10px;
    .slicknav_menutxt{
      margin-left: 15px;
    }

    .slicknav_icon{
    }
  }

  ul{
    li{
      form{
        input{
          display: block !important;
          color: black;
        }
      }
    }
  }
}

/** Left Navigation Style */
@mixin leftnav-style($use-default-breakpoint: true, $color: black, $hover-color: $um-orange){
  display: block;
  margin: 5px auto auto;
  @if $use-default-breakpoint {
    @include grid-span(12,1,$gutter: 0);
    @include breakpoint($mobile, true){
      @include grid-span(12, 1,$gutter: 0);
    }
    @include breakpoint($tablet, true){
      @include grid-span(12, 1,$gutter: 0);
    }
    @include breakpoint($desktop, true){
      padding: 20px;
      padding-top: 0px;
      @include grid-span(2, 1,$gutter: 0);
    }
  }

  ul {
    list-style: none;
    z-index: 500;
  }

  ul {
    display: none;
    @include breakpoint($desktop, true){
      display: block;
      width: 100%;
      list-style: none;
      padding: 0px;
      > li {
        //font-size: 1.2em;
        font-size: 1.2vw;
        font-weight: 700;
        list-style: none;
        margin-bottom: 7px;
        > span {
          padding-left: 10px;
          text-decoration: none;
          text-transform: capitalize;
          display: block;
          color: $color;
        }
        > a, a:link, a:visited, a:hover, a:active {
          padding-left: 10px;
          text-decoration: none;
          text-transform: capitalize;
          display: block;
          color: $color;
          @include transition(color 0.4s ease-in-out);
        }
        > a:hover {
          color: $hover-color;
        }
        > .menu {
          padding: 5px 0px;
          list-style: none;
          .leaf{
            font-size: .75em !important;
            font-weight: 400 !important;
          }
          > li {
            list-style: none;
            > a, a:link, a:visited, a:active {
              background-color: white;
              text-decoration: none;
              text-transform: none;
              border: none;
              color: $color;
              padding-left: 20px;
              margin-bottom: 7px;
              @include transition(color 0.4s ease-in-out);
              &:hover{
                color: $hover-color;
              }
            }
          }
        }
      }
      .active-trail {
        > a, a:link, a:visited, a:hover, a:active {
          color: $hover-color;
        }
      }
    }
  }
}

/** Breadcrumb styles */
@mixin breadcrumb-style($font-color: black, $color: #cccccc, $hover-color: #aaaaaa){
  display: inline;
  ul {
    padding: 0px;
    list-style: none;
    li {
      margin-right: 5px;
      display: inline-block;
      a, a:link, a:visited, a:hover, a:active {
        text-decoration: none;
      }
    }
    li:after {
      content: " > ";
    }
    li:last-child::after {
      content: "";
    }
  }
  .easy-breadcrumb{
    $top-margin: 6px;
    //$color: #cccccc;
    //$hover-color: #aaaaaa;
    display: table-cell;
    vertical-align: middle;
    .easy-breadcrumb_segment-separator:before{
      font-family: FontAwesome;
      //content: "\f0da" !important;
      //content: "\f105" !important;
    }
    .easy-breadcrumb_segment-separator{
      /*padding-left: 10px;
      padding-right: 10px;*/
      font-size: 1.5em;
      height: 5px !important;
      display: block;
      float: left;
    }

    .easy-breadcrumb_segment {
      font-family: $font-stack;
      text-decoration: none;
      text-transform: uppercase;
      margin-top: $top-margin;
      font-size: .7em;
      padding: 2px;
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 5px;
      color: $font-color;
      display: block;
      float: left;
      background-color: $color;
      @include border-radius(3px);
    }

    .easy-breadcrumb_segment-front {
      @include transition(background-color 0.4s ease-in-out);
      @include border-radius(3px);
    }
    .easy-breadcrumb_segment-front:hover {
      background-color: $hover-color;
    }
    $current-color: $color;
    @for $i from 1 through 6 {
      .easy-breadcrumb_segment-#{$i}{
        //$current-color: mix($current-color, gray, 40%);
        $current-color: darken($current-color, 10%);
        background-color: $current-color;
        @include transition(background-color 0.4s ease-in-out);
        &:hover{
          //$hover-color: mix($hover-color, gray, 40%);
          $hover-color: darken($hover-color, 10%);
          background-color: $hover-color;
        }
      }
    }

    .easy-breadcrumb_segment-title {
      background-color: darken($current-color, 10%);//black;//grayscale($current-color);//#666666;
      color: white;
    }
  }
}

/** Title style */
@mixin title-style(){
  font-size: .7em;
  @include breakpoint($desktop, true){
    font-size: 1.5em;
  }
  h1 {
    margin-bottom: .2em !important;
  }
}

/** Collapsible Content */
@mixin collapsible-style(){
  .collapsible-content {
    .collapse-action {
      text-decoration: none;
      text-transform: none;
      h3{
        text-align: left;
        /*text-align: center;
        @include breakpoint($desktop, true){
          text-align: left;
        }*/
        margin-top: 1em;
        z-index: 1;
        position: relative;
        i {
          width: 1.5em !important;
        }
        &:before {
          //border-top: 2px dotted #dfdfdf;
          content: "";
          margin: 0 auto;
          position: absolute;
          top: .6em;
          left: 0;
          right: 0;
          bottom: 0;
          width: 95%;
          z-index: -1;
        }
      }
      &:hover {
        cursor: pointer !important;
      }
    }
  }
}

@mixin region-selectors($select, $ul, $omit-ul: false, $top-padding: 15px){
  *[class*=#{$select}] {
    display: table;
    @include breakpoint($desktop, true){
      padding-top: $top-padding;
      margin-right: 5px;
      @if $omit-ul {
        display: block;
      } @else {
        display: none;
      }
      float: left;
      clear: none;
    }
    margin: 0 auto 5px;
    select {
      font-family: $font-stack;
      font-size: .8em;
      margin-top: 2px;
      padding: 2px 5px;
      background-color: white;
      border: 2px solid #000;
    }
    .chosen-drop{
      width: 300px;
    }
  }
  @if not $omit-ul {
    .#{$ul} {
      display: none;
      @include breakpoint($desktop, true) {
        display: table;
      }
      height: auto;
      margin-bottom: 5px;
      padding-top: 12px;
      @include tags-style();//#7B868F);
    }
  }
}

@mixin region-header-style($title-color: $um-light-gray, $bottom-border: false){
  // Headers
  .region-header {
    padding-top: 10px;
    height: auto;
    padding-left: 20px;

    @if $bottom-border{
      //border-bottom: 2px solid black;
    }

    .title {
      font-family: $font-stack;
      font-style: italic;
      font-weight: 700;
      line-height: 1.5em;
      font-size: 2em;
      text-transform: uppercase;
      vertical-align: middle;
      padding: 5px;
      display: table;
      margin: 0 auto;
      text-align: center;
      color: $title-color;
      @include breakpoint($desktop, true){
        float: left;
        display: block;
        margin-right: 40px;
        text-align: left;
      }
    }
    .filter {
      font-family: $font-stack;
      font-weight: 700;
      display: table;
      margin: 0 auto;
      clear: both;
      @include breakpoint($desktop, true){
        padding-top: 20px;
        margin-right: 5px;
        margin-bottom: 5px;
        display: block;
        float: left;
        clear: none;
      }
      padding: 5px;
      vertical-align: middle;
      font-size: .8em;
    }

    @include region-selectors('headlines-drop-down', '', true);
    @include region-selectors('events-drop-down', 'events-links');

    .more {
      .filter {
        display: none;
        @include breakpoint($desktop, true){
          display: block;
        }
      }
      @include region-selectors('hl-more-dropdown', 'hl-more-links');
    }

    clear: both;
  }
}

@mixin event-style(){
  margin-top: 25px;
  padding-left: 10px;
  height: auto;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 25px;
  width: 100%;
  @include breakpoint($tablet, true){
    width: 50%;
  }
  @include breakpoint($desktop, true){
    width: 25%;
  }

  a, a:hover, a:active {
    text-decoration: none;
    color: black;
  }

  .last {
    float: none;
  }
  .date {
    font-family: $font-stack;
    font-weight: 300;
    color: white;
    margin: 0;
    font-size: 25px;
  }
  time {
    border: 2px solid $um-dark-gray;
    display: block;
    position: relative;
    @include border-radius(10px);
    height: 70px;
    width: 70px;
    background-color: white;
    margin: 10px auto;
    text-align: center;
    vertical-align: center;
    overflow: hidden;
    .month{
      font-weight: 700;
      text-transform: uppercase;
      height: 20px;
      font-size: 1em;
      top: 0;
      box-shadow: 0 2px 0 white;
      background-color: white;
      border-bottom: solid 1px $um-dark-gray;
      display: block;
      @include border-top-radius(10px);
    }
    .day {
      @include border-bottom-radius(10px);
      float: none;
      clear: both;
      bottom: 0;
      box-shadow: 0 2px 0 #6A7782;//#7B868F;
      background-color: #6A7782;//#7B868F;
      display: block;
      width: 100%;
      height: 100%;
      line-height: 45px;
      font-size: 1.8em;
      color: white;
      padding: 0px;
    }
  }
  .title {
    font-size: .9em;
    padding-top: 5px;
    font-weight: bold;
    text-decoration: underline;
    a {
      @include transition(color 0.4s ease-in-out);
      &:hover{
        color: $um-orange;
      }
    }
  }
  .location, .time {
    font-family: $font-stack;
    font-weight: 600;
    padding-top: 5px;
    font-size: .9em;
  }
  .text {
    padding-top: 5px;
    font-size: .75em;
  }
}

@mixin event-style-alt(){
  height: auto;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  position: relative;
  @include breakpoint($tablet, true){
    width: 50%;
  }
  @include breakpoint($desktop, true){
    padding-top: 70px;
    width: 25%;
  }

  a, a:hover, a:active {
    text-decoration: none;
    color: black;
  }

  .date {
    @include grid-span(5, 1,$gutter: 1em);
    vertical-align: middle;
    // border-left: .8em solid $um-dark-gray;
    display: block;
    padding: 10px;
    time {
      .month{
        font-size: 1.1em;
        text-transform: uppercase;
        @include grid-span(12, 1,$gutter: 0);
      }
      .day{
        font-size: 3.5em;
        font-weight: 800;
        @include grid-span(12, 1,$gutter: 0);
      }
      .weekday{
        font-size: .9em;
        text-transform: uppercase;
        @include grid-span(12, 1,$gutter: 0);
      }
    }
  }
  .content{
    @include grid-span(7, 6,$gutter: 0);
    text-align: left;
    margin-top: 2em;
    color: white;
    font-size: .9em;
    padding-right: 38px;
    .title, .location, .time{
      a {
        color: white;
      }
      //background-color: black;
    }

    .title {
      a {
        font-weight: 700;
      }
    }
  }
}

@mixin chevron-controls-style($color: white, $position: 50%, $fade-to-color: $um-orange){
  position: absolute;
  z-index: 900;
  top: $position;
  pointer-events: none;
  width: 100%;
  display: none;
  @include breakpoint($desktop, true){
    display: block;
  }

  a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: $color;
    pointer-events: all;
    @include transition(all 0.4s ease-in-out);
    &:hover{
      color: $fade-to-color;
    }
  }

  .left {
    float: left;
    padding-left: 5px
  }
  .right {
    float: right;
    padding-right: 5px;
  }

  .ajax-progress-throbber {
    display: none;
  }
}

@mixin iml-header-style{
  background: $thatched-green2;
  height: 150px;
}

@mixin mobile-styles($bg-color: $thatched-mobile-body){
  .mobile-header {
    padding: 15px;
    display: block;
    overflow: auto;
    //background-image: linear-gradient(to right, $um-dark-gray black);
    background: $bg-color;
    @include breakpoint($desktop, true) {
      display: none;
    }

    .menu-content {
      display: none;
    }

    .left {
      @include grid-span(2, 1,$gutter: 0);
      display:block;
      margin: 10px;
      .mobile-menu-button {
        &:hover {
          cursor: pointer;
        }
        i {
          color: $um-dark-gray;
          position: absolute;
        }
      }
    }

    .right {
      @include grid-span(9, 3,$gutter: 0);
      display:block;
      a, a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        text-transform: none;
        color: white;
      }
      .site-logo {
        text-align: center;
      }
    }
  }

  .mobile-menu {
    background-color: $um-light-gray !important;
    .item {
      text-transform: uppercase !important;
      @include transition(color 0.4s ease-in-out !important);
      font-weight: 700 !important;
      border-bottom: 2px solid #7B7B7B !important;
      &:hover{
        color: $um-orange !important;
      }
      form {
        @include placeholder {
          color: #bbb !important;
        }
        input, input:focus {
        }
      }
    }
  }

}

@mixin _set_color($onHover, $color){
  @if $onHover {
    @include transition(color 0.4s ease-in-out);
    &:hover {
      color: $color;
    }
  }
  color: $color;
}

/* Color Types */
@mixin social-color-types($onHover: false){
  .black{
    @include _set_color($onHover, black);
  }
  .teal{
    @include _set_color($onHover, #55ACEE);
  }
  .red{
    @include _set_color($onHover, #b31217);
  }
  .gray{
    @include _set_color($onHover, #66757F);
  }
  .orange{
    @include _set_color($onHover, $um-orange);
  }
  .blue {
    @include _set_color($onHover, #0C70E8);
  }
  .white {
    @include _set_color($onHover, white);
  }
  .brown {
    @include _set_color($onHover, #663300);
  }
  .pink {
    @include _set_color($onHover, #ff3e96);
  }
}

@mixin placeholder{
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin iml-navigation{
  .utility-bar{
    background-color: $um-orange;

    .l-search {
      .search-label{
        &:hover {
          color: $um-dark-green;
        }
      }
    }
    .l-links{
      .menu{
        a{
          &:hover {
            color: $um-dark-green;
          }
        }
      }
    }
  }

  // Main navigation
  .main-navigation{
    .l-navigation-group{
      background-color: rgba($um-orange, .4);

      .left, .right{
        .menu {
          @include breakpoint($desktop, true) {
            // Only in desktop
            font-size: .95vw;
          }
          a {
            &:hover {
              color: $um-dark-green;
            }
          }
          .active-trail{
            color: $um-dark-green;
          }
        }
      }

      .left{
        //background-color: $color;
        @include float-span(5.5, 1,$gutter: 0);
      }
      .logo{
        //background-color: $color;
        @include float-span(1, 6.5,$gutter: 0);
      }
      .right{
        //background-color: $color;
        @include float-span(5.5, 7.5,$gutter: 0);
      }
    }
  }
}

@mixin iml-footer{
  .l-footer {
    background: $um-dark-green;
  }
}

@mixin quad-content ($background: $dotted-green, $quad-color: $um-events-green2, $line-color: #339966) {
  .l-quad {
    //@include grid-span(13, 1);
    background: $background;
    position: relative;
    display: block;
    vertical-align: top;
    font-family: $font-stack;
    //overflow: auto;
    text-align: center;
    @include breakpoint($tablet, true){
      text-align: left;
      font-size: 1em;
    }

    ul {
      text-decoration: none;
      text-transform: none;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
      }
    }
    a, a:link, a:visited, a:active {
      color: black;
      text-transform: none;
      text-decoration: none;
      font-weight: 600;
      @include transition(color 0.4s ease-in-out);
    }

    a:hover{
      color: $um-orange;
    }

    h4 {
      padding-bottom: 0px;
      margin-bottom: .2em;
      font-weight: 700;
      font-size: 1em;
    }

    .column {
      display: inline-block;
      float: left;
      padding: 1em;
      font-size: 2em;
      h3 {
        margin: .5em 0px 0px;
      }

      width: 100%;
      height: auto;
      @include breakpoint($mobile, true){
        width: 100%;
      }
      @include breakpoint($tablet, true){
        width: 50%;
        height: 250px;
      }
      @include breakpoint($desktop, true){
        width: 25%;
      }
      @include breakpoint($wide, true){
        width: 20%;
      }
    }

    $current-color: $quad-color;
    @for $i from 0 to 12 {
      .column-#{$i}{
        background-color: $current-color;
        $current-color: darken($current-color, 5%);
      }
    }
    .column-lg {
      @include breakpoint($tablet, true) {
        height: 500px !important;
      }
    }
    .column-xlg {
      @include breakpoint($tablet, true) {
        height: 800px !important;
      }
    }
    .column-xxlg {
      @include breakpoint($tablet, true) {
        height: 1000px !important;
      }
    }
    .column-xxxlg {
      @include breakpoint($tablet, true) {
        height: 1500px !important;
      }
    }

    .column-alt {
      display: inline-block;
      float: left;
      padding: 0em 2.5em;
      h3 {
        margin: 1.5em 0px 0px;
      }
      width: 100%;
      height: auto;
      @include breakpoint($mobile, true){
        width: 100%;
      }
      @include breakpoint($tablet, true){
        width: 50%;
        height: 250px;
      }
      @include breakpoint($desktop, true){
        width: 25%;
      }
    }

    hr {
      border: 0;
      //border-bottom: 1px solid $line-color;
      border-bottom: 1px solid black;
      margin-top: 1.5em;
      margin-bottom: .5em;
      //background: white;
    }

    $col-color: #FFFFFF;
    $col-alt-color: #DEDEDE;
    //$current-color: $quad-color;
    @for $i from 0 to 4 {
      .column-alt-#{$i}{
        /*
        background-color: $current-color;
        $current-color: darken($current-color, 5%);
        */
        @if $i % 2 == 0 {
          background-color: $col-color;
        } @else {
          background-color: $col-alt-color;
        }
      }
    }
  }
}

/*
text-decoration: none !important;
  a,a:visited,a:active,a:link {
    @include create-button-style(5px, 14px, #999999, $um-orange);
    font-size: 14px !important;
    text-decoration: none !important;
    @include transition(all 0.4s ease-in-out);
    &:hover{
      color: black !important;
      border: solid 1px $um-orange;
      background-color: $um-orange;
    }
    display: block;
  }
  */

@mixin create-button-style($radius, $font-size, $border-color: black, $color: $um-orange, $bg-color: white, $font-color: black){
  text-decoration: none !important;
  text-align: center;
  a, a:visited, a:link, a:active{
    color: $font-color;
    font-size: $font-size !important;
    margin: 1em auto;
    @include breakpoint($desktop, true) {
      margin: 1em 0 0;
    }
    text-decoration: none !important;
    text-align: center;
    padding: .5em 1em;
    border: solid 1px $border-color;
    @include border-radius($radius);
    background-color: $bg-color;

    @include transition(all 0.4s ease-in-out !important);
    display: inline-block;
  }
  a:hover {
    color: white !important;
    border: solid 1px $color;
    background-color: $color;
  }
}

@mixin tagged-content-style(){
  .tagged-content-header {
    .tc-title {
      font-family: $font-stack;
      font-weight: 700;
      font-size: 1.5em;
      text-transform: capitalize;
      vertical-align: middle;
      display: table;
      margin: 0 auto;
      text-align: center;
      color: black;
      @include breakpoint($desktop, true){
        display: block;
        margin-right: 40px;
        text-align: left;
      }
      h1 {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
    .tc-all {
      @include grid-span(12,1,$gutter: 0);
      font-family: $font-stack;
      font-size: 1em;
      font-weight: 700;
      text-transform: capitalize;
      vertical-align: middle;
      padding: 5px;
      display: table;
      margin: 0 auto;
      text-align: center;
      color: black;
      @include breakpoint($desktop, true){
        @include grid-span(2, 1,$gutter: 0);
        float: left;
        display: block;
        margin-right: 40px;
        text-align: left;
      }
    }
    .tc-filter-tags {
      @include grid-span(12,1,$gutter: 0);
      font-family: $font-stack;
      font-weight: 700;
      display: block;
      text-align: center;
      @include breakpoint($desktop, true){
        @include grid-span(4, 3,$gutter: 0);
        text-align: left;
        i {
          float: left;
        }
      }
      padding: 5px;
      vertical-align: middle;
      font-size: .8em;
      i{
        margin-right: .5em;
        font-style: normal;
      }
      a {
        text-decoration: none;
      }
    }

    .tc-filter-months {
      @include grid-span(12,1,$gutter: 0);
      font-family: $font-stack;
      font-weight: 700;
      display: block;
      text-align: center;
      @include breakpoint($desktop, true){
        @include grid-span(4, 8,$gutter: 0);
        text-align: left;
        i{
          float: left;
        }
      }
      padding: 5px;
      vertical-align: middle;
      font-size: .8em;
      i{
        margin-right: .5em;
        font-style: normal;
      }
      a {
        text-decoration: none;
      }
    }

    @include region-selectors('tagged-content-tags-drop-down', '', true, $top-padding: 0px);
    @include region-selectors('tagged-content-months-drop-down', '', true, $top-padding: 0px);

    @include clearfix;
    clear: both;
  }

  .tagged-contents {
    margin-bottom: 1em;
  }

  .tagged-content-container {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    padding-left: 1em;

    @include breakpoint($wide, true){
      float: left;
      width: 50%;
      height: 275px;
    }
    .tc-image{
      width: 100%;
      margin: 0 auto;
      float: none;
      clear: both;
      @include breakpoint($desktop, true) {
        width: 200px;
        float: right;
      }
      img{
        margin: 0 auto;
        @include breakpoint($desktop, true) {
          width: 180px;
          margin-right: 1em;
        }
      }
    }
    .tc-title{
      width: 100%;
      margin-top: .5em;
      font-weight: 700;
      text-decoration: none;
      text-transform: none;
      a {
        text-decoration: none;
      }
      text-align: center;
      @include breakpoint($desktop, true) {
        margin-top: 0;
        width: auto;
        text-align: left;
      }
    }
    .tc-date{
      width: 100%;
      margin-top: .5em;
      margin-bottom: .5em;
      text-align: center;
      @include breakpoint($desktop, true) {
        width: 250px;
        text-align: left;
      }
    }
    .tc-content{
      text-align: center;
      @include breakpoint($desktop, true) {
        text-align: left;
      }
    }
    .tc-tags {
      @include tags-style($alignment: center);
      @include breakpoint($desktop, true) {
        @include tags-style($alignment: left);
      }
    }
  }
}

@mixin social-media-content-style {
  .social-media-content {
    clear: both;
    background-color: #f6f6f6;
    margin-bottom: 1em;
    .social-media-column {
      padding: 1em;
      background-color: #f6f6f6;
      width: 100%;
      @include breakpoint($desktop, true) {
        width: 33%;
        float: left;
        min-height: 600px;
      }
      .social-media-column-header {
        .social-media-column-header-image {
          text-align: center;
          img {
            margin: 0 auto;
            width: 50px;
            border-radius: 5px;
          }
          margin: 1em;
        }
        .social-media-column-header-link {
          text-align: center;
          a {
            font-weight: 700;
          }
        }
      }
      .social-media-column-content {
        p {
          img {
            margin: 0 auto;
            padding: 1em;
          }
          a {
            text-transform: none;
            text-decoration: none;
            font-weight: 700;
          }
        }
      }
    }
    .twitter {
      a {
        color: $twitter-color;
      }
    }
    .facebook {
      a {
        color: $facebook-color;
      }
    }
    .instagram {
      a {
        color: $instagram-color;
      }
    }
  }
}

@mixin default_center_style(){
  display: block;
  margin-right: 0 !important;
  @include grid-span(12,1,$gutter: 0);
  @include breakpoint($mobile, true){
    @include grid-span(12, 1,$gutter: 0);
  }
  @include breakpoint($tablet, true){
    @include grid-span(12, 1,$gutter: 0);
  }
  @include breakpoint($desktop, true){
    @include grid-span(8, 1,$gutter: 0);
  }
  padding: 20px;
  .breadcrumb {
    @include breadcrumb-style();
  }
  .title {
    font-size: .7em;
    @include breakpoint($desktop, true){
      font-size: 1.5em;
    }
    h1 {
      margin-bottom: .2em !important;
    }
  }
  .content {
    padding-top: 16px;
    padding-right: 25px;
    //border-right: 1px dashed grey;

    a, a:active, a:visited, a:link {
      text-decoration: underline;
      text-transform: none;
      color: black;
      @include transition(color 0.4s ease-in-out);
    }
    a:hover {
      color: #ff6600;//#006633;
    }

    img {
      //max-width: 100% !important;
      height: auto !important;
      display: block;
      margin-bottom: 1em;
      margin-right: 1.5em;
    }

    // Collapsible
    @include collapsible-style();

    // Tagged Content Style
    @include tagged-content-style();

    // Media content
    @include social-media-content-style();

    // Tags
    @include tags-style(white, '[class*="taxonomy-term-reference"]', $alignment: left);
  }

  // Table settings
  /*table {
    font-family: $font-stack;
    width: 100% !important;
    border: black 1px solid !important;
    tbody{
      tr{
        td:first-child {
          width: 15%;
          padding-right: 25px;
        }
        td {
          a, a:link, a:active, a:hover, a:visited {
            text-transform: uppercase !important;
            text-decoration: none !important;
            font-weight: 700;
          }
          a:last-child {
            float: none;
            clear: both;
            display: block;
          }
        }
        td {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
  */
}

@mixin default_right_style(){
  width: 100%;
  font-size: .8em;

  @include grid-span(12,1,$gutter: 0);
  @include breakpoint($mobile, true){
    @include grid-span(12, 1,$gutter: 0);
  }
  @include breakpoint($tablet, true){
    @include grid-span(12, 1,$gutter: 0);
  }
  @include breakpoint($desktop, true){
    @include grid-span(2, 1,$gutter: 0);
  }

  padding: 20px;

  h2 {
    font-weight: 300;
  }

  a, a:active, a:visited, a:link {
    text-decoration: underline;
    color: black;
    @include transition(color 0.4s ease-in-out);
  }
  a:hover {
    color: #ff6600;
  }

  img {
    width: 198px !important;
    height: auto;
    display: block;
    margin-bottom: .5em;
  }
}