// Import external libraries.
@import "compass";
@import "compass/css3/border-radius";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "sassy-buttons";

// Globbed variables
@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../base/**/*";
@import "../../components/**/*";

// Main content area for homepage
.l-main {

  .l-content {
    margin: auto 0;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    position: relative;
    height: auto;
    vertical-align: top;


    /* SlickNav
    */
    .slicknav_menu{
      @include slicknav-style();
    }

    .left {
      @include leftnav-style();
    }
    .center {
      display: block;
      @include grid-span(12,1,$gutter: 0);
      @include breakpoint($mobile, true){
        @include grid-span(12, 1,$gutter: 0);
      }
      @include breakpoint($tablet, true){
        @include grid-span(12, 1,$gutter: 0);
      }
      @include breakpoint($desktop, true){
        @include grid-span(8, 1,$gutter: 0);
      }
      padding: 20px;

      .breadcrumb {
        @include breadcrumb-style();
      }

      .title {
        font-size: .7em;
        @include breakpoint($desktop, true){
          font-size: 1.5em;
        }
        h1 {
          margin-bottom: .2em !important;
        }
      }

      .magazine-year-landing {
        margin-top: 1em;
        .ui.cards>, .ui.cards>.card>{
          .content{
            a, a:active, a:link, a:visited {
              text-decoration: none;
              text-transform: none;
            }
            .header {
              @include transition(color 0.4s ease-in-out);
              &:hover {
                color: #ff6600;
              }
            }
            .description{
              &:hover {
                text-decoration: none;
                text-transform: none;
              }
            }
          }
        }
      }

      .magazine-feature-story {
        @include grid-span(12,1,$gutter: 0);
        @include breakpoint($desktop, true) {
          @include grid-span(8, 1, $gutter: 0);
        }
        a, a:active, a:link, a:visited {
          color: black;
          text-decoration: none;
          text-transform: none;
        }
        .magazine-feature-story-heading {
          font-family: $font-stack;
          font-style: italic;
          font-weight: 700;
          line-height: 1.5em;
          font-size: 2em;
          text-transform: uppercase;
          color: $um-light-gray;
          margin-top: .3em;
          margin-bottom: .3em;
          display: block;
        }
        .magazine-feature-story-image {
        }
        .magazine-feature-story-title {
          font-family: $font-stack;
          font-weight: 700;
          font-size: 1.5em;
          color: black;
          margin-top: .5em;
          margin-bottom: .3em;
          display: block;
          @include transition(color 0.4s ease-in-out);
          &:hover {
            color: #ff6600;
          }
        }
        .magazine-feature-story-text {
          display: block;
          &:hover,&:visited {
            text-decoration: none;
            text-transform: none;
            color: inherit;
          }
        }
      }

      .magazine-links-social {
        @include grid-span(12,1,$gutter: 0);
        @include breakpoint($desktop, true) {
          @include grid-span(3, 10, $gutter: 0);
        }
        .magazine-links-social-buttons{
          a, button {
            margin-bottom: .5em;
          }

          .UMTeal {
            color: white;
            background-color: #8996a0;
          }
          .UMSecGreen {
            background-color: #a2ad00;
          }
          .UMOrange {
            background-color: #f47321;
          }
          .UMGreen {
            color: white;
            background-color: #005030;
          }
        }
        .magazine-links-social-printed {
          margin-top: 1.5em;
          .magazine-links-social-printed-title {
            font-family: $font-stack;
            font-style: italic;
            font-weight: 700;
            font-size: 1em;
            text-transform: uppercase;
            color: $um-light-gray;
          }
          .magazine-links-social-printed-embed {

          }
        }
        .magazine-links-social-connect {
          margin-top: 1.5em;
          .magazine-links-social-connect-title {
            font-family: $font-stack;
            font-style: italic;
            font-weight: 700;
            font-size: 1em;
            text-transform: uppercase;
            color: $um-light-gray;
          }
          .magazine-links-social-connect-links {

          }
        }
      }

      .magazine-stories {
        clear: both;
        float: none;
        .ui.cards>, .ui.cards>.card>{
          .content{
            text-align: center;
            a, a:active, a:link, a:visited {
              text-decoration: none;
              text-transform: none;
            }
            .header {
              @include transition(color 0.4s ease-in-out);
              &:hover {
                color: #ff6600;
              }
            }
            .description{
              &:hover {
                text-decoration: none;
                text-transform: none;
              }
            }
          }
          .extra{
            .tags{
              @include tags-style();
            }
          }
        }
      }

      .magazine-additional {
        margin-top: 2em;
        .magazine-additional-heading {
          font-family: $font-stack;
          font-style: italic;
          font-weight: 700;
          line-height: 1.5em;
          font-size: 2em;
          text-transform: uppercase;
          color: $um-light-gray;
          margin-top: .3em;
          margin-bottom: .3em;
        }
        .ui.cards>, .ui.cards>.card> {
          .image {
            background: rgba(0,0,0,0) !important;
            img {
              border-radius: 100%;
              height: 150px;
              background: rgba(0,0,0,0);
            }
          }
          .content {
            text-align: center;
            border-top: none !important;
            a, a:active, a:link, a:visited {
              text-decoration: none;
              text-transform: none;
            }
            .header {
                @include transition(color 0.4s ease-in-out);
                &:hover {
                  color: #ff6600;
                }
            }
            .description {
              font-size: .9em;

              &:hover {
                text-decoration: none;
                text-transform: none;
              }
            }
          }
        }
        .card {
          -webkit-box-shadow: none !important;
          -moz-box-shadow: none !important;
          box-shadow: none !important;
        }
        .magazine-additional-items {
          .magazine-additional-items-item {
            .magazine-additional-items-item-image {

            }
            .magazine-additional-items-item-title {

            }
            .magazine-additional-items-item-text {

            }
          }
        }
      }

    }
    .right {
      @include default_right_style();
    }
    @include clearfix;
  }

  .l-impact {
    //background-color: skyblue !important;
    background: $thatched-skyblue;
  }
}