@media all and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/omega-guard\/sass\/miamilaw-ot\.hacks\.scss}line{font-family:\000033}}
  #toolbar, #admin-menu {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/omega-guard\/sass\/miamilaw-ot\.hacks\.scss}line{font-family:\000038}}
  html body.toolbar, html body.admin-menu {
    padding-top: 0 !important;
    margin-top: 0 !important; } }
@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/omega-guard\/sass\/miamilaw-ot\.hacks\.scss}line{font-family:\0000316}}
  .mobile-header {
    display: none !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/omega-guard\/sass\/miamilaw-ot\.hacks\.scss}line{font-family:\0000320}}
  .main-navigation {
    display: block !important;
    position: relative !important;
    background-color: #333333 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/omega-guard\/sass\/miamilaw-ot\.hacks\.scss}line{font-family:\0000326}}
    .main-navigation .l-navigation-group .left .menu, .main-navigation .l-navigation-group .right .menu {
      display: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/omega-guard\/sass\/miamilaw-ot\.hacks\.scss}line{font-family:\0000330}}
    .main-navigation .l-navigation-group .logo {
      text-align: center !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/omega-guard\/sass\/miamilaw-ot\.hacks\.scss}line{font-family:\0000336}}
  .l-header, .slicknav_menu, .wrapper-sticky {
    display: none !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/omega-guard\/sass\/miamilaw-ot\.hacks\.scss}line{font-family:\0000343}}
  .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment {
    padding-left: 0px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/omega-guard\/sass\/miamilaw-ot\.hacks\.scss}line{font-family:\0000347}}
  .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-seperator:before {
    content: "\003c" !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/omega-guard\/sass\/miamilaw-ot\.hacks\.scss}line{font-family:\0000355}}
  .l-quad {
    width: auto !important;
    height: auto !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/omega-guard\/sass\/miamilaw-ot\.hacks\.scss}line{font-family:\0000358}}
    .l-quad .column-alt, .l-quad .column-lg, .l-quad .column-xlg, .l-quad .column-xxlg, .l-quad .column-xxxlg {
      width: 100% !important;
      height: auto !important;
      color: black !important;
      float: none !important;
      clear: both !important;
      display: inline-block !important;
      position: static !important;
      text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/omega-guard\/sass\/miamilaw-ot\.hacks\.scss}line{font-family:\0000370}}
  .l-footer {
    float: none !important;
    clear: both !important;
    color: black !important;
    display: inline-block !important;
    text-align: left !important;
    padding: 20px !important;
    position: static !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/omega-guard\/sass\/miamilaw-ot\.hacks\.scss}line{font-family:\0000378}}
    .l-footer .l-footer-copyright {
      color: black !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/omega-guard\/sass\/miamilaw-ot\.hacks\.scss}line{font-family:\0000381}}
    .l-footer .l-footer-social {
      display: none !important; } }
