/* Tags */
/** Slicknav style */
/** Left Navigation Style */
/** Breadcrumb styles */
/** Title style */
/** Collapsible Content */
/* Color Types */
/*
text-decoration: none !important;
  a,a:visited,a:active,a:link {
    @include create-button-style(5px, 14px, #999999, $um-orange);
    font-size: 14px !important;
    text-decoration: none !important;
    @include transition(all 0.4s ease-in-out);
    &:hover{
      color: black !important;
      border: solid 1px $um-orange;
      background-color: $um-orange;
    }
    display: block;
  }
  */
/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\000033}}
.social-icons {
  list-style: none;
  margin: 0;
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\000037}}
  .social-icons li {
    margin-bottom: 10px;
    display: inline-block;
    height: 19px;
    width: auto;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\0000316}}
    .social-icons li a i {
      text-transform: none;
      text-decoration: none;
      display: block;
      float: left;
      margin-right: 8px !important;
      width: 15px !important;
      -moz-transition: none;
      -o-transition: none;
      -webkit-transition: none;
      transition: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\0000323}}
      .social-icons li a i img {
        width: 19px !important;
        height: 19px !important;
        max-width: 19px !important;
        display: block;
        margin: 0 !important;
        float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003887}}
    .social-icons li a .black {
      color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003890}}
    .social-icons li a .teal {
      color: #55ACEE; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003893}}
    .social-icons li a .red {
      color: #b31217; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003896}}
    .social-icons li a .gray {
      color: #66757F; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003899}}
    .social-icons li a .orange {
      color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003902}}
    .social-icons li a .blue {
      color: #0C70E8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003905}}
    .social-icons li a .white {
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003908}}
    .social-icons li a .brown {
      color: #663300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003911}}
    .social-icons li a .pink {
      color: #ff3e96; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000319}}
.caption-table-left {
  width: auto;
  border: 0;
  text-align: center;
  float: left;
  margin: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\000037}}
  .caption-table-left img {
    margin: 0 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000310}}
  .caption-table-left caption {
    caption-side: bottom;
    text-align: center;
    padding: .5em;
    font-size: .8em;
    background-color: rgba(0, 0, 0, 0.05); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000323}}
.caption-table-right {
  width: auto;
  border: 0;
  text-align: center;
  float: left;
  margin: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\000037}}
  .caption-table-right img {
    margin: 0 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000310}}
  .caption-table-right caption {
    caption-side: bottom;
    text-align: center;
    padding: .5em;
    font-size: .8em;
    background-color: rgba(0, 0, 0, 0.05); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\000033}}
h5 {
  font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\000037}}
.ui {
  font-family: "proxima-nova", Arial !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\0000311}}
  .ui p a, .ui p a:active, .ui p a:visited, .ui p a:link {
    text-decoration: underline;
    text-transform: none;
    font-weight: bolder;
    color: inherit;
    -moz-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\0000318}}
  .ui p a:hover {
    color: #ff6600; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\0000324}}
.right-rail-button {
  text-decoration: none !important;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031154}}
  .right-rail-button a, .right-rail-button a:visited, .right-rail-button a:link, .right-rail-button a:active {
    color: black;
    font-size: 1em !important;
    margin: 1em auto;
    margin: 1em 0 0;
    text-decoration: none !important;
    text-align: center;
    padding: .5em 1em;
    border: solid 1px #999999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    -moz-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    -webkit-transition: all 0.4s !important;
    transition: all 0.4s !important;
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031171}}
  .right-rail-button a:hover {
    color: white !important;
    border: solid 1px #ff6600;
    background-color: #ff6600; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\0000318}}
.l-main .l-content {
  margin: auto 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  position: relative;
  height: auto;
  vertical-align: top;
  /* SlickNav
  */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\0000331}}
  .l-main .l-content .slicknav_menu {
    display: block;
    display: none;
    background-color: #222;
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003249}}
    .l-main .l-content .slicknav_menu .slicknav_btn {
      float: left;
      display: block;
      text-align: center;
      margin-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003254}}
      .l-main .l-content .slicknav_menu .slicknav_btn .slicknav_menutxt {
        margin-left: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003265}}
    .l-main .l-content .slicknav_menu ul li form input {
      display: block !important;
      color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\0000335}}
  .l-main .l-content .left {
    display: block;
    margin: 5px auto auto;
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 20px;
    padding-top: 0px;
    width: 16.66667%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003293}}
    .l-main .l-content .left ul {
      list-style: none;
      z-index: 500; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003298}}
    .l-main .l-content .left ul {
      display: none;
      display: block;
      width: 100%;
      list-style: none;
      padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003305}}
      .l-main .l-content .left ul > li {
        font-size: 1.2vw;
        font-weight: 700;
        list-style: none;
        margin-bottom: 7px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003311}}
        .l-main .l-content .left ul > li > span {
          padding-left: 10px;
          text-decoration: none;
          text-transform: capitalize;
          display: block;
          color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003318}}
        .l-main .l-content .left ul > li > a, .l-main .l-content .left ul > li a:link, .l-main .l-content .left ul > li a:visited, .l-main .l-content .left ul > li a:hover, .l-main .l-content .left ul > li a:active {
          padding-left: 10px;
          text-decoration: none;
          text-transform: capitalize;
          display: block;
          color: black;
          -moz-transition: color 0.4s ease-in-out;
          -o-transition: color 0.4s ease-in-out;
          -webkit-transition: color 0.4s ease-in-out;
          transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003326}}
        .l-main .l-content .left ul > li > a:hover {
          color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003329}}
        .l-main .l-content .left ul > li > .menu {
          padding: 5px 0px;
          list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003332}}
          .l-main .l-content .left ul > li > .menu .leaf {
            font-size: .75em !important;
            font-weight: 400 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003336}}
          .l-main .l-content .left ul > li > .menu > li {
            list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003338}}
            .l-main .l-content .left ul > li > .menu > li > a, .l-main .l-content .left ul > li > .menu > li a:link, .l-main .l-content .left ul > li > .menu > li a:visited, .l-main .l-content .left ul > li > .menu > li a:active {
              background-color: white;
              text-decoration: none;
              text-transform: none;
              border: none;
              color: black;
              padding-left: 20px;
              margin-bottom: 7px;
              -moz-transition: color 0.4s ease-in-out;
              -o-transition: color 0.4s ease-in-out;
              -webkit-transition: color 0.4s ease-in-out;
              transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003347}}
              .l-main .l-content .left ul > li > .menu > li > a:hover, .l-main .l-content .left ul > li > .menu > li a:link:hover, .l-main .l-content .left ul > li > .menu > li a:visited:hover, .l-main .l-content .left ul > li > .menu > li a:active:hover {
                color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003355}}
      .l-main .l-content .left ul .active-trail > a, .l-main .l-content .left ul .active-trail a:link, .l-main .l-content .left ul .active-trail a:visited, .l-main .l-content .left ul .active-trail a:hover, .l-main .l-content .left ul .active-trail a:active {
        color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\0000339}}
  .l-main .l-content .center {
    display: block;
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    width: 83.33333%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\0000352}}
    .l-main .l-content .center .breadcrumb {
      display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003366}}
      .l-main .l-content .center .breadcrumb ul {
        padding: 0px;
        list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003369}}
        .l-main .l-content .center .breadcrumb ul li {
          margin-right: 5px;
          display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003372}}
          .l-main .l-content .center .breadcrumb ul li a, .l-main .l-content .center .breadcrumb ul li a:link, .l-main .l-content .center .breadcrumb ul li a:visited, .l-main .l-content .center .breadcrumb ul li a:hover, .l-main .l-content .center .breadcrumb ul li a:active {
            text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003376}}
        .l-main .l-content .center .breadcrumb ul li:after {
          content: " > "; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003379}}
        .l-main .l-content .center .breadcrumb ul li:last-child::after {
          content: ""; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003383}}
      .l-main .l-content .center .breadcrumb .easy-breadcrumb {
        display: table-cell;
        vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003389}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-separator:before {
          font-family: FontAwesome; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003394}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-separator {
          /*padding-left: 10px;
          padding-right: 10px;*/
          font-size: 1.5em;
          height: 5px !important;
          display: block;
          float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003403}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment {
          font-family: "proxima-nova", Arial;
          text-decoration: none;
          text-transform: uppercase;
          margin-top: 6px;
          font-size: .7em;
          padding: 2px;
          padding-left: 10px;
          padding-right: 10px;
          margin-right: 5px;
          color: black;
          display: block;
          float: left;
          background-color: #cccccc;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003420}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-front {
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003424}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-front:hover {
          background-color: #aaaaaa; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-1 {
          background-color: #b3b3b3;
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
          .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-1:hover {
            background-color: #919191; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-2 {
          background-color: #999999;
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
          .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-2:hover {
            background-color: #777777; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-3 {
          background-color: gray;
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
          .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-3:hover {
            background-color: #5e5e5e; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-4 {
          background-color: #666666;
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
          .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-4:hover {
            background-color: #444444; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-5 {
          background-color: #4d4d4d;
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
          .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-5:hover {
            background-color: #2b2b2b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-6 {
          background-color: #333333;
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
          .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-6:hover {
            background-color: #111111; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003442}}
        .l-main .l-content .center .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-title {
          background-color: #1a1a1a;
          color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\0000355}}
    .l-main .l-content .center .title {
      font-size: .7em;
      font-size: 1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003455}}
      .l-main .l-content .center .title h1 {
        margin-bottom: .2em !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\0000358}}
    .l-main .l-content .center .content {
      padding-right: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\0000361}}
      .l-main .l-content .center .content a, .l-main .l-content .center .content a:active, .l-main .l-content .center .content a:visited, .l-main .l-content .center .content a:link {
        text-decoration: underline;
        text-transform: none;
        color: black;
        -moz-transition: color 0.4s ease-in-out;
        -o-transition: color 0.4s ease-in-out;
        -webkit-transition: color 0.4s ease-in-out;
        transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\0000366}}
        .l-main .l-content .center .content a:hover, .l-main .l-content .center .content a:active:hover, .l-main .l-content .center .content a:visited:hover, .l-main .l-content .center .content a:link:hover {
          color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\0000371}}
      .l-main .l-content .center .content .filter {
        text-align: left;
        /*@include tags-style($font-size: .7em);
        ul {
          li {
            margin: 2.5px;
            text-transform: uppercase;
          }
        }
        .buttons{
          .button{
            cursor: pointer;
          }
        }*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\0000373}}
        .l-main .l-content .center .content .filter input {
          margin: 0 auto;
          width: 60%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.3\.0\/gems\/toolkit-2\.10\.2\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000313}}
        .l-main .l-content .center .content .filter select:after {
          content: "";
          display: table;
          clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\0000380}}
        .l-main .l-content .center .content .filter .chosen-container {
          margin-top: 1em;
          clear: both;
          float: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\0000384}}
          .l-main .l-content .center .content .filter .chosen-container a {
            text-decoration: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\0000387}}
          .l-main .l-content .center .content .filter .chosen-container .chosen-drop {
            width: 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\00003105}}
        .l-main .l-content .center .content .filter .enabled h3 {
          margin-bottom: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000313}}
        .l-main .l-content .center .content .filter .enabled ul {
          margin: 0 auto;
          padding: 0;
          list-style: none;
          text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000319}}
          .l-main .l-content .center .content .filter .enabled ul a {
            text-decoration: none;
            color: black;
            font-family: "proxima-nova", Arial; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000325}}
          .l-main .l-content .center .content .filter .enabled ul li {
            position: relative;
            font-size: 0.7em;
            padding: 2px 5px;
            display: inline-block;
            text-align: center;
            margin: 5px;
            background-color: white;
            border: 1px solid #999999;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000340}}
            .l-main .l-content .center .content .filter .enabled ul li:hover {
              background-color: #ff6600;
              border-color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\00003109}}
        .l-main .l-content .center .content .filter .enabled ul {
          margin: 0;
          text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\00003112}}
          .l-main .l-content .center .content .filter .enabled ul li {
            text-align: center;
            text-transform: uppercase;
            margin: 0px 10px 0px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\00003116}}
            .l-main .l-content .center .content .filter .enabled ul li:hover {
              cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\00003120}}
            .l-main .l-content .center .content .filter .enabled ul li span {
              margin-left: 5px;
              padding: 2px;
              border: 1px solid black;
              float: right;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              background-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\00003127}}
              .l-main .l-content .center .content .filter .enabled ul li span:hover {
                background-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/directory\/directory\.layout\.scss}line{font-family:\00003136}}
      .l-main .l-content .center .content .member {
        text-align: left;
        padding: 10px;
        width: 360px !important;
        height: 140px;
        margin: 10px 10px 0 auto;
        float: left;
        clear: none;
        width: 200px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003169}}
        .l-main .l-content .center .content .member .block {
          width: 360px;
          height: 140px !important;
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJElEQVQIW2M8f+fxfwNlGQYYYPwPBHAekAEXuHD3CQNIJYYKAMMUEvW1oSjAAAAAAElFTkSuQmCC) repeat;
          margin: 0 auto;
          border: 1px solid #dddddd;
          -moz-border-radius-topleft: 0px;
          -webkit-border-top-left-radius: 0px;
          border-top-left-radius: 0px;
          -moz-border-radius-topright: 0px;
          -webkit-border-top-right-radius: 0px;
          border-top-right-radius: 0px;
          -moz-border-radius-bottomleft: 0px;
          -webkit-border-bottom-left-radius: 0px;
          border-bottom-left-radius: 0px;
          -moz-border-radius-bottomright: 0px;
          -webkit-border-bottom-right-radius: 0px;
          border-bottom-right-radius: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003178}}
          .l-main .l-content .center .content .member .block .image {
            width: 100px !important;
            height: 140px !important;
            border: 1px solid white;
            display: block;
            position: relative;
            float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003186}}
            .l-main .l-content .center .content .member .block .image img {
              width: 80px;
              height: 80px;
              position: absolute;
              top: 10px;
              left: 10px;
              margin: 0 auto;
              display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003197}}
          .l-main .l-content .center .content .member .block a .name h4 {
            margin: 0px;
            text-decoration: underline !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003201}}
          .l-main .l-content .center .content .member .block .name {
            width: 250px;
            float: left;
            margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003205}}
            .l-main .l-content .center .content .member .block .name h3 {
              margin: 0px;
              padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003209}}
            .l-main .l-content .center .content .member .block .name h4 {
              margin: 0px;
              padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003214}}
          .l-main .l-content .center .content .member .block .title {
            width: 250px;
            float: left;
            margin-bottom: 5px;
            font-size: 0.8em;
            line-height: 1.1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003220}}
            .l-main .l-content .center .content .member .block .title strong {
              font-weight: 600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003224}}
          .l-main .l-content .center .content .member .block .phone, .l-main .l-content .center .content .member .block .email, .l-main .l-content .center .content .member .block .room, .l-main .l-content .center .content .member .block .office {
            width: 250px;
            float: left;
            font-size: 0.8em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003229}}
          .l-main .l-content .center .content .member .block .office {
            width: 250px;
            float: left;
            padding-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003233}}
            .l-main .l-content .center .content .member .block .office p {
              margin: 2px 2px 2px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.3\.0\/gems\/toolkit-2\.10\.2\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000313}}
  .l-main .l-content:after {
    content: "";
    display: table;
    clear: both; }
