// Import external libraries.
@import "compass";
@import "compass/css3/border-radius";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "sassy-buttons";

// Globbed variables
@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../base/**/*";
@import "../../components/**/*";

// Main content area for homepage
.l-main {

  .l-content {
    margin: auto 0;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    position: relative;
    height: auto;
    vertical-align: top;


    /* SlickNav
    */
    .slicknav_menu{
      @include slicknav-style();
    }

    .left {
      @include leftnav-style();
    }

    .center {
      display: block;
      @include grid-span(12,1,$gutter: 0);
      @include breakpoint($mobile, true){
        @include grid-span(12, 1,$gutter: 0);
      }
      @include breakpoint($tablet, true){
        @include grid-span(12, 1,$gutter: 0);
      }
      @include breakpoint($desktop, true){
        @include grid-span(10, 1,$gutter: 0);
      }
      padding: 20px;
      .breadcrumb {
        @include breadcrumb-style();
      }
      .title {
        @include title-style();
      }
      .content {
        padding-right: 25px;

        a, a:active, a:visited, a:link {
          text-decoration: underline;
          text-transform: none;
          color: black;
          @include transition(color 0.4s ease-in-out);
          &:hover{
            color: #ff6600;
          }
        }

        .filter {
          text-align: left;
          input {
            margin: 0 auto;
            width: 60%;
          }
          select {
            @include clearfix;
          }
          .chosen-container{
            margin-top: 1em;
            clear: both;
            float: none;
            a{
              text-decoration: none !important;
            }
            .chosen-drop{
              width: 300px;
            }
          }
          /*@include tags-style($font-size: .7em);
          ul {
            li {
              margin: 2.5px;
              text-transform: uppercase;
            }
          }
          .buttons{
            .button{
              cursor: pointer;
            }
          }*/
          
          .enabled {
            h3{
              margin-bottom: 2px;
            }
            @include tags-style($font-size: .7em);
            ul {
              margin: 0;
              text-align: left;
              li {
                text-align: center;
                text-transform: uppercase;
                margin: 0px 10px 0px 0px;
                &:hover {
                  cursor: pointer;
                }

                span {
                  margin-left: 5px;
                  padding: 2px;
                  border: 1px solid black;
                  float: right;
                  @include border-radius(5px);
                  background-color: white;
                  &:hover {
                    background-color: white;
                  }
                }
              }
            }
          }
        }

        .member {
          @include directory-style($dotted-white, $um-ash-white, 0px, 0px);
          float: left;
          clear: none;
          width: 200px;
        }
      }

    }
    @include clearfix;
  }
}
