// Import external libraries.
@import "compass";
@import "compass/css3/border-radius";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "sassy-buttons";

// Globbed variables
@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../base/**/*";
@import "../../components/**/*";


body {
  background: $dotted-light-green;
}

.l-page {
  @include iml-navigation;

  @include iml-footer;
}
/*
.l-header{
  @include iml-header-style;
}
*/

// Main content area for homepage
.l-main {

  .l-content {
    margin: auto 0;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    position: relative;
    height: auto;
    vertical-align: top;


    /* SlickNav
    */
    .slicknav_menu{
      @include slicknav-style();
    }

    .left {
      @include leftnav-style();
    }
    .center {
      @include default_center_style();
    }
    .right {
      @include default_right_style();
    }
    @include clearfix;
  }

  .l-impact {
    //background-color: skyblue !important;
    background: $thatched-skyblue;
  }
}

@include mobile-styles($thatched-mobile-iml-body);