// Import external libraries.
@import "compass";
@import "compass/css3/border-radius";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "sassy-buttons";

// Globbed variables
@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../base/**/*";
@import "../../components/**/*";

// Import style from default
@import "../default/default.layout.scss";

// Main content area for homepage
.l-main {

  .l-content {
    .center {
      .author{
        font-family: $font-stack;
        text-transform: uppercase;
        float: left;
        display: inline-block;
        padding-right: .75em;
        margin-right: .75em;
        border-right: 1px solid black;

        font-size: .6em;
        @include breakpoint($tablet, true){
          font-size: .8em;
        }
        span {
          float: left;
          display: inline-block;
          font-weight: 700;
        }
        div {
          display: inline-block;
          float: left;
        }
      }
      .created {
        font-family: $font-stack;
        text-transform: uppercase;
        padding-right: .75em;
        margin-right: .75em;
        display: block;
        float: left;
        font-size: .6em;
        @include breakpoint($tablet, true){
          font-size: .8em;
        }
        span {
          float: left;
          display: inline-block;
          font-weight: 700;
        }
        div {
          display: inline-block;
          float: left;
        }
      }
      .content {
        clear: both;
        float: none;

        padding-top: 16px;

        // Tags
        @include tags-style(white, '[class*="taxonomy-term-reference"]', $alignment: left);

        @include clearfix;
      }
    }
  }
}
