// Import external libraries.
@import "compass";
@import "compass/css3/border-radius";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "sassy-buttons";

// Globbed variables
@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../base/**/*";
@import "../../components/**/*";

$red-color: #990000;
$gray-color: #666666;
$gray-color-dark: #494949;

@mixin link-style(){
  a, a:active, a:visited, a:link {
    text-decoration: none;
    text-transform: none;
    color: $red-color;
    border-bottom: 1px solid rgba(0,0,0,0);
    @include transition(all 0.4s ease-in-out);
  }
  a:hover {
    color: black;
    text-decoration: underline;
  }
}

body {
  background: $red-color none !important;
}

.l-page {

  background-color: white;

  .l-heckerling-logo {
    width: 100%;
    padding: 1em;
    text-align: center;
    background-color: $red-color;
    height: auto;
    overflow: hidden;
    .site-logo {
      @include breakpoint($desktop, true) {
        @include grid-span(2, 1, $gutter: 0);
      }
      margin: 0 auto;
      text-align: center;
      a {
        img {
          float: none;
        }
      }
    }
    .site-header-text {
      @include breakpoint($desktop, true) {
        @include grid-span(10, 3, $gutter: 0);
      }
      color: white;
      font-size: 1em;
      a, a:hover, a:active, a:link, a:visited {
        color: white;
        text-decoration: none;
      }
      h1,h2,h3,h4,h5 {
        margin: 0;
      }
    }

  }

  .l-heckerling-navigation {
    width: 100%;
    height: auto;
    //background: $red-color;
    text-align: center;
    display: table;
    margin: 0 auto;
    .heckerling-nav {
      .menu {
        padding: 0;
        text-align: center;
        list-style: none;
        font-weight: bolder;
        display: block;
        li {
          //border-right: 1px solid black;
          //background-color: lightgrey;
          background: $red-color;
          border-left: 2px solid white;
          border-right: 2px solid white;
          margin-top: .5em;
        }
        a {
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          //@include transition(color 0.4s ease-in-out);
          &:hover {
            //color: $um-light-green;//$um-dark-gray;
          }
        }
        .leaf {
          padding-left: 1.5em;
          padding-right: 1.5em;
          display: inline-block;
          margin-right: 1.5em;
        }
        .last {
          border-right: 0px;
        }
      }
    }
  }

  .main-navigation{
    display: none;
  }

  // Main content area for homepage
  .l-main {

    .l-content {
      margin: auto 0;
      width: 100%;
      padding-top: 25px;
      padding-bottom: 25px;
      background-color: white;
      position: relative;
      height: auto;
      vertical-align: top;

      /* SlickNav
      */
      .slicknav_menu {
        @include slicknav-style();
      }

      .left {
        @include leftnav-style($color: $red-color, $hover-color: darken($red-color, 45%));

        ul > li {
          margin-bottom: 1.2em;
        }
      }
      .center {
        @include default_center_style();

        @include breakpoint($desktop, true){
          @include grid-span(10, 1,$gutter: 0);
        }

        .breadcrumb {
          display: inline;
          ul {
            padding: 0px;
            list-style: none;
            li {
              margin-right: 5px;
              display: inline-block;
              a, a:link, a:visited, a:hover, a:active {
                text-decoration: none;
              }
            }
            li:after {
              content: " > ";
            }
            li:last-child::after {
              content: "";
            }
          }
          .easy-breadcrumb{
            $top-margin: 6px;
            display: table-cell;
            vertical-align: middle;
            .easy-breadcrumb_segment-separator:before{
              font-family: $font-stack;
              content: "/";
            }
            .easy-breadcrumb_segment-separator{
              font-size: 1em;
              padding-top: 4px;
              height: 5px !important;
              display: block;
              float: left;
              color: $gray-color;
              font-weight: bolder;
            }

            .easy-breadcrumb_segment {
              font-family: $font-stack;
              text-decoration: none;
              text-transform: capitalize;
              margin-top: $top-margin;
              font-size: .7em;
              padding: 2px 10px;
              margin-right: 5px;
              color: $red-color;
              display: block;
              float: left;
              background-color: rgba(0,0,0,0);
            }

            .easy-breadcrumb_segment-front {
              padding-left: 0px;
              background-color: rgba(0,0,0,0);
              @include transition(color 0.4s ease-in-out);
            }
            .easy-breadcrumb_segment-front:hover {
              background-color: rgba(0,0,0,0);
              color: black;
            }

            @for $i from 1 through 6 {
              .easy-breadcrumb_segment-#{$i}{
                background-color: rgba(0,0,0,0);
                &:hover{
                  background-color: rgba(0,0,0,0);
                }
              }
            }

            .easy-breadcrumb_segment-title {
              color: $gray-color;
            }
          }
        }

        .title {
          font-size: .7em;
          text-transform: uppercase;
          color: $red-color;
          h1 {
            margin-bottom: .2em !important;
            font-size: 1.5em;
            color: $red-color;
          }
        }

        .content {
          h1, h2, h3, h4, h5 {
            color: $red-color;
          }
          color: $gray-color;
          @include link-style();
        }
      }
      @include clearfix;
    }

    .l-impact {
      //background-color: skyblue !important;
      background: $thatched-skyblue;
    }
  }

  // Footer stuff
  .l-footer {
    width: 100%;
    height: auto;
    background: $red-color;
    text-align: center;
    display: table;
    margin: 0 auto;
    padding-bottom: 1em;

    .l-footer-copyright {
      color: white;
      font-size: .8em;
      a, a:hover, a:active, a:link, a:visited {
        color: white;
        text-decoration: none;
      }
    }

    .l-footer-social {
      display: none;
    }
  }
}