// Import external libraries.
@import "compass";
@import "compass/css3/border-radius";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "sassy-buttons";

// Globbed variables
@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../base/**/*";
@import "../../components/**/*";


body {
  background: $dotted-light-green;
}

.l-page {
  @include iml-navigation;

  @include iml-footer;
}

// Header
/*.l-header{
  @include iml-header-style;
}*/

// Main content area for homepage
.l-main {

  @include quad-content($dotted-orange2, #cccccc, #666666);

  .l-impact{
    //background: $thatched-light-blue !important;
  }
}

@include mobile-styles($thatched-mobile-iml-body);