/* Tags */
/** Slicknav style */
/** Left Navigation Style */
/** Breadcrumb styles */
/** Title style */
/** Collapsible Content */
/* Color Types */
/*
text-decoration: none !important;
  a,a:visited,a:active,a:link {
    @include create-button-style(5px, 14px, #999999, $um-orange);
    font-size: 14px !important;
    text-decoration: none !important;
    @include transition(all 0.4s ease-in-out);
    &:hover{
      color: black !important;
      border: solid 1px $um-orange;
      background-color: $um-orange;
    }
    display: block;
  }
  */
/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\000033}}
.social-icons {
  list-style: none;
  margin: 0;
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\000037}}
  .social-icons li {
    margin-bottom: 10px;
    display: inline-block;
    height: 19px;
    width: auto;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\0000316}}
    .social-icons li a i {
      text-transform: none;
      text-decoration: none;
      display: block;
      float: left;
      margin-right: 8px !important;
      width: 15px !important;
      -moz-transition: none;
      -o-transition: none;
      -webkit-transition: none;
      transition: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\0000323}}
      .social-icons li a i img {
        width: 19px !important;
        height: 19px !important;
        max-width: 19px !important;
        display: block;
        margin: 0 !important;
        float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003887}}
    .social-icons li a .black {
      color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003890}}
    .social-icons li a .teal {
      color: #55ACEE; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003893}}
    .social-icons li a .red {
      color: #b31217; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003896}}
    .social-icons li a .gray {
      color: #66757F; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003899}}
    .social-icons li a .orange {
      color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003902}}
    .social-icons li a .blue {
      color: #0C70E8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003905}}
    .social-icons li a .white {
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003908}}
    .social-icons li a .brown {
      color: #663300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003911}}
    .social-icons li a .pink {
      color: #ff3e96; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000319}}
.caption-table-left {
  width: auto;
  border: 0;
  text-align: center;
  float: left;
  margin: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\000037}}
  .caption-table-left img {
    margin: 0 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000310}}
  .caption-table-left caption {
    caption-side: bottom;
    text-align: center;
    padding: .5em;
    font-size: .8em;
    background-color: rgba(0, 0, 0, 0.05); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000323}}
.caption-table-right {
  width: auto;
  border: 0;
  text-align: center;
  float: left;
  margin: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\000037}}
  .caption-table-right img {
    margin: 0 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000310}}
  .caption-table-right caption {
    caption-side: bottom;
    text-align: center;
    padding: .5em;
    font-size: .8em;
    background-color: rgba(0, 0, 0, 0.05); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\000033}}
h5 {
  font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\000037}}
.ui {
  font-family: "proxima-nova", Arial !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\0000311}}
  .ui p a, .ui p a:active, .ui p a:visited, .ui p a:link {
    text-decoration: underline;
    text-transform: none;
    font-weight: bolder;
    color: inherit;
    -moz-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\0000318}}
  .ui p a:hover {
    color: #ff6600; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\0000324}}
.right-rail-button {
  text-decoration: none !important;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031154}}
  .right-rail-button a, .right-rail-button a:visited, .right-rail-button a:link, .right-rail-button a:active {
    color: black;
    font-size: 1em !important;
    margin: 1em auto;
    margin: 1em 0 0;
    text-decoration: none !important;
    text-align: center;
    padding: .5em 1em;
    border: solid 1px #999999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    -moz-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    -webkit-transition: all 0.4s !important;
    transition: all 0.4s !important;
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031171}}
  .right-rail-button a:hover {
    color: white !important;
    border: solid 1px #ff6600;
    background-color: #ff6600; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/login\/login\.layout\.scss}line{font-family:\0000315}}
html, body {
  background-color: #005030 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/login\/login\.layout\.scss}line{font-family:\0000322}}
.l-page .l-main {
  background-color: #005030;
  text-align: center;
  margin: 15% auto 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/login\/login\.layout\.scss}line{font-family:\0000338}}
  .l-page .l-main .l-login .l-pre-content .l-info {
    color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/login\/login\.layout\.scss}line{font-family:\0000343}}
  .l-page .l-main .l-login .l-content {
    background-color: #005030;
    color: white;
    font-family: "proxima-nova", Arial; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/login\/login\.layout\.scss}line{font-family:\0000347}}
    .l-page .l-main .l-login .l-content form {
      margin-top: 50px;
      font-family: "proxima-nova", Arial !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/login\/login\.layout\.scss}line{font-family:\0000350}}
      .l-page .l-main .l-login .l-content form input {
        text-align: center;
        color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/login\/login\.layout\.scss}line{font-family:\0000353}}
        .l-page .l-main .l-login .l-content form input:last-child {
          color: white;
          background-color: transparent;
          border: 1px white solid;
          padding: .5em 1em;
          -moz-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/login\/login\.layout\.scss}line{font-family:\0000360}}
          .l-page .l-main .l-login .l-content form input:last-child:hover {
            background-color: #ff6600;
            border-color: #ff6600;
            color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/login\/login\.layout\.scss}line{font-family:\0000367}}
      .l-page .l-main .l-login .l-content form .description {
        display: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/login\/login\.layout\.scss}line{font-family:\0000372}}
  .l-page .l-main .l-login .l-account {
    margin-top: 2em;
    text-decoration: none !important;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031154}}
    .l-page .l-main .l-login .l-account a, .l-page .l-main .l-login .l-account a:visited, .l-page .l-main .l-login .l-account a:link, .l-page .l-main .l-login .l-account a:active {
      color: white;
      font-size: 1em !important;
      margin: 1em auto;
      margin: 1em 0 0;
      text-decoration: none !important;
      text-align: center;
      padding: .5em 1em;
      border: solid 1px white;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-color: transparent;
      -moz-transition: all 0.4s !important;
      -o-transition: all 0.4s !important;
      -webkit-transition: all 0.4s !important;
      transition: all 0.4s !important;
      display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031171}}
    .l-page .l-main .l-login .l-account a:hover {
      color: white !important;
      border: solid 1px #ff6600;
      background-color: #ff6600; }
