$textColor: black;

$green-0: #93A789;
$green-1: #9CBB8E;
$green-2: #B5D4A7;
$green-3: #DBEBD4;

$link: #005030;
$link-hover: #183518;

$impact-color: white;
$events-color: #8996A0;

$um-light-blue: #9AC0CD;
$um-light-green: #006633;
$um-orange: #ff6600;
$um-orange3: #a25100;
$um-orange2: #f0b498;
$um-ash-white: #dddddd;
$um-light-gray: #666666;
$um-dark-gray: #333333;
$um-red: #cc0000;
$um-dark-green: #005030;
$um-events-green1: #008766;
$um-events-green2: #66cc99;
$um-events-green3: #3e6b4c;

$dotted-white: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJElEQVQIW2M8f+fxfwNlGQYYYPwPBHAekAEXuHD3CQNIJYYKAMMUEvW1oSjAAAAAAElFTkSuQmCC) repeat;
$dotted-blue-gray: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJklEQVQIW2Ncu3X3/zsPnzLAAGPntAX/4TwgAy6gIi/NAFKJoQIAreQQ/ShhugUAAAAASUVORK5CYII=) repeat;
$dotted-light-green: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJUlEQVQIW2OMrEn5//T9CwYYYLTL9vkP5wEZcAFpQQkGkEoMFQAtZA3VDR4HlQAAAABJRU5ErkJggg==) repeat;
$dotted-green: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJUlEQVQIW2OULvL///TeQwYYYGQIMPgP5wEZcAFpJXkGkEoMFQDjgwwBxusQDAAAAABJRU5ErkJggg==) repeat;
$dotted-orange: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJUlEQVQIW2P8n8bwn0HbnQEGGP9PdP8P5wEZCIGrOxlAKjFUAADywQ1dgfVt9wAAAABJRU5ErkJggg==) repeat;
$dotted-orange2: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJElEQVQIW2P8NSnnP2vuZAYYYPwPBHAekAEX+D05lwGkEkMFAL5kEvXBGJR0AAAAAElFTkSuQmCC) repeat;
$thatched-skyblue: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2NsP/frPwMUPL19iYERJgDiSKvqQQRgHJBCxpyVZ/6DZGAAAGNqFc+GZimNAAAAAElFTkSuQmCC) repeat;
$thatched-aqua: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2Osv3zyPwMUzPn8koERJgDipPCKQwRgHJBCRuljm/6DZGAAADwSFOXLBa6nAAAAAElFTkSuQmCC) repeat;
$thatched-green: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2NkWcDwnwEKUjTSGBhhAiDOnBuzIAIwDkghY8aJtP8gGRgAABisEINiMWqjAAAAAElFTkSuQmCC) repeat;
$thatched-green2: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2NkaE/7zwAF6RYuDIwwARBn5ok9EAEYB6SQMX3/qv8gGRgAAEF9EZhx7rCwAAAAAElFTkSuQmCC) repeat;
$thatched-mobile-body: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKUlEQVQIW2MUKfX+zwAFP998YWCECYA47CI8EAEYB6SQkTfR/j9IBgYAhrUQKkkrDy4AAAAASUVORK5CYII=) repeat;
$thatched-light-blue: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2OcdeDsfwYo+PbiMQMjTADE4ZKQhQjAOCCFjBNWbPgPkoEBAFc4FV50M/bEAAAAAElFTkSuQmCC) repeat;
$thatched-orange: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKUlEQVQIW2P8n8bwnwEKLrxlYGCECYA4BsJQARgHpJDxfDDDf5AMDAAAZ+IPUm1qBA4AAAAASUVORK5CYII=) repeat;
$thatched-mobile-iml-body: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKUlEQVQIW2N80WD/nwEGXt1lYIQLADkMYspQASgHpJDxRZbMf5AMDAAAjTUQZOCaunYAAAAASUVORK5CYII=) repeat;
$thatched-gray: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2N89+7dfwYouHfvHgMjTADEUVJSggjAOCCFjGfOnPkPkoEBALUJF8M0gfOkAAAAAElFTkSuQmCC) repeat;

$twitter-color: #45A4DC;
$facebook-color: #3D599A;
$instagram-color: #4D54A4;