/* Tags */
/** Slicknav style */
/** Left Navigation Style */
/** Breadcrumb styles */
/** Title style */
/** Collapsible Content */
/* Color Types */
/*
text-decoration: none !important;
  a,a:visited,a:active,a:link {
    @include create-button-style(5px, 14px, #999999, $um-orange);
    font-size: 14px !important;
    text-decoration: none !important;
    @include transition(all 0.4s ease-in-out);
    &:hover{
      color: black !important;
      border: solid 1px $um-orange;
      background-color: $um-orange;
    }
    display: block;
  }
  */
/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\000033}}
.social-icons {
  list-style: none;
  margin: 0;
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\000037}}
  .social-icons li {
    margin-bottom: 10px;
    display: inline-block;
    height: 19px;
    width: auto; }
    @media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\000037}}
      .social-icons li {
        width: 100%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\0000316}}
    .social-icons li a i {
      text-transform: none;
      text-decoration: none;
      display: block;
      float: left;
      margin-right: 8px !important;
      width: 15px !important;
      -moz-transition: none;
      -o-transition: none;
      -webkit-transition: none;
      transition: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\0000323}}
      .social-icons li a i img {
        width: 19px !important;
        height: 19px !important;
        max-width: 19px !important;
        display: block;
        margin: 0 !important;
        float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003887}}
    .social-icons li a .black {
      color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003890}}
    .social-icons li a .teal {
      color: #55ACEE; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003893}}
    .social-icons li a .red {
      color: #b31217; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003896}}
    .social-icons li a .gray {
      color: #66757F; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003899}}
    .social-icons li a .orange {
      color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003902}}
    .social-icons li a .blue {
      color: #0C70E8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003905}}
    .social-icons li a .white {
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003908}}
    .social-icons li a .brown {
      color: #663300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003911}}
    .social-icons li a .pink {
      color: #ff3e96; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000319}}
.caption-table-left {
  width: auto;
  border: 0;
  text-align: center;
  float: left;
  margin: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\000037}}
  .caption-table-left img {
    margin: 0 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000310}}
  .caption-table-left caption {
    caption-side: bottom;
    text-align: center;
    padding: .5em;
    font-size: .8em;
    background-color: rgba(0, 0, 0, 0.05); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000323}}
.caption-table-right {
  width: auto;
  border: 0;
  text-align: center;
  float: left;
  margin: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\000037}}
  .caption-table-right img {
    margin: 0 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000310}}
  .caption-table-right caption {
    caption-side: bottom;
    text-align: center;
    padding: .5em;
    font-size: .8em;
    background-color: rgba(0, 0, 0, 0.05); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\000033}}
h5 {
  font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\000037}}
.ui {
  font-family: "proxima-nova", Arial !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\0000311}}
  .ui p a, .ui p a:active, .ui p a:visited, .ui p a:link {
    text-decoration: underline;
    text-transform: none;
    font-weight: bolder;
    color: inherit;
    -moz-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\0000318}}
  .ui p a:hover {
    color: #ff6600; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\0000324}}
.right-rail-button {
  text-decoration: none !important;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031154}}
  .right-rail-button a, .right-rail-button a:visited, .right-rail-button a:link, .right-rail-button a:active {
    color: black;
    font-size: 1em !important;
    margin: 1em auto;
    text-decoration: none !important;
    text-align: center;
    padding: .5em 1em;
    border: solid 1px #999999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    -moz-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    -webkit-transition: all 0.4s !important;
    transition: all 0.4s !important;
    display: inline-block; }
    @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031154}}
      .right-rail-button a, .right-rail-button a:visited, .right-rail-button a:link, .right-rail-button a:active {
        margin: 1em 0 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031171}}
  .right-rail-button a:hover {
    color: white !important;
    border: solid 1px #ff6600;
    background-color: #ff6600; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000338}}
.l-main .l-content {
  margin: auto 0;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
  position: relative;
  height: auto;
  vertical-align: top; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000349}}
  .l-main .l-content a, .l-main .l-content a:active, .l-main .l-content a:visited, .l-main .l-content a:link {
    text-decoration: underline;
    color: black;
    -moz-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000354}}
  .l-main .l-content a:hover {
    color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000358}}
  .l-main .l-content .slicknav_menu {
    display: block;
    background-color: #222;
    padding: 0; }
    @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000358}}
      .l-main .l-content .slicknav_menu {
        display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003249}}
    .l-main .l-content .slicknav_menu .slicknav_btn {
      float: left;
      display: block;
      text-align: center;
      margin-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003254}}
      .l-main .l-content .slicknav_menu .slicknav_btn .slicknav_menutxt {
        margin-left: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003265}}
    .l-main .l-content .slicknav_menu ul li form input {
      display: block !important;
      color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000362}}
  .l-main .l-content .left {
    display: block;
    margin: 5px auto auto;
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    @media (min-width: 320px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000362}}
      .l-main .l-content .left {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; } }
    @media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000362}}
      .l-main .l-content .left {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; } }
    @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000362}}
      .l-main .l-content .left {
        padding: 20px;
        padding-top: 0px;
        width: 16.66667%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003293}}
    .l-main .l-content .left ul {
      list-style: none;
      z-index: 500; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003298}}
    .l-main .l-content .left ul {
      display: none; }
      @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003298}}
        .l-main .l-content .left ul {
          display: block;
          width: 100%;
          list-style: none;
          padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003305}}
          .l-main .l-content .left ul > li {
            font-size: 1.2vw;
            font-weight: 700;
            list-style: none;
            margin-bottom: 7px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003311}}
            .l-main .l-content .left ul > li > span {
              padding-left: 10px;
              text-decoration: none;
              text-transform: capitalize;
              display: block;
              color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003318}}
            .l-main .l-content .left ul > li > a, .l-main .l-content .left ul > li a:link, .l-main .l-content .left ul > li a:visited, .l-main .l-content .left ul > li a:hover, .l-main .l-content .left ul > li a:active {
              padding-left: 10px;
              text-decoration: none;
              text-transform: capitalize;
              display: block;
              color: black;
              -moz-transition: color 0.4s ease-in-out;
              -o-transition: color 0.4s ease-in-out;
              -webkit-transition: color 0.4s ease-in-out;
              transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003326}}
            .l-main .l-content .left ul > li > a:hover {
              color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003329}}
            .l-main .l-content .left ul > li > .menu {
              padding: 5px 0px;
              list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003332}}
              .l-main .l-content .left ul > li > .menu .leaf {
                font-size: .75em !important;
                font-weight: 400 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003336}}
              .l-main .l-content .left ul > li > .menu > li {
                list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003338}}
                .l-main .l-content .left ul > li > .menu > li > a, .l-main .l-content .left ul > li > .menu > li a:link, .l-main .l-content .left ul > li > .menu > li a:visited, .l-main .l-content .left ul > li > .menu > li a:active {
                  background-color: white;
                  text-decoration: none;
                  text-transform: none;
                  border: none;
                  color: black;
                  padding-left: 20px;
                  margin-bottom: 7px;
                  -moz-transition: color 0.4s ease-in-out;
                  -o-transition: color 0.4s ease-in-out;
                  -webkit-transition: color 0.4s ease-in-out;
                  transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003347}}
                  .l-main .l-content .left ul > li > .menu > li > a:hover, .l-main .l-content .left ul > li > .menu > li a:link:hover, .l-main .l-content .left ul > li > .menu > li a:visited:hover, .l-main .l-content .left ul > li > .menu > li a:active:hover {
                    color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003355}}
          .l-main .l-content .left ul .active-trail > a, .l-main .l-content .left ul .active-trail a:link, .l-main .l-content .left ul .active-trail a:visited, .l-main .l-content .left ul .active-trail a:hover, .l-main .l-content .left ul .active-trail a:active {
            color: #ff6600; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000366}}
  .l-main .l-content .center-left {
    display: block;
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-bottom: 2em;
    padding: 20px 20px 0px; }
    @media (min-width: 320px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000366}}
      .l-main .l-content .center-left {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; } }
    @media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000366}}
      .l-main .l-content .center-left {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; } }
    @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000366}}
      .l-main .l-content .center-left {
        width: 50%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000381}}
    .l-main .l-content .center-left .name {
      margin-top: 20px;
      font-size: 1.5em;
      text-align: center; }
      @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000381}}
        .l-main .l-content .center-left .name {
          text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000387}}
          .l-main .l-content .center-left .name h1 {
            margin-bottom: .2em !important; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000392}}
    .l-main .l-content .center-left .title {
      text-align: center; }
      @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000392}}
        .l-main .l-content .center-left .title {
          text-align: left; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000398}}
    .l-main .l-content .center-left .degrees {
      text-align: center;
      margin-bottom: 2.5em; }
      @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000398}}
        .l-main .l-content .center-left .degrees {
          text-align: left; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003104}}
      .l-main .l-content .center-left .degrees p {
        margin-top: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003109}}
    .l-main .l-content .center-left .breadcrumb {
      display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003366}}
      .l-main .l-content .center-left .breadcrumb ul {
        padding: 0px;
        list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003369}}
        .l-main .l-content .center-left .breadcrumb ul li {
          margin-right: 5px;
          display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003372}}
          .l-main .l-content .center-left .breadcrumb ul li a, .l-main .l-content .center-left .breadcrumb ul li a:link, .l-main .l-content .center-left .breadcrumb ul li a:visited, .l-main .l-content .center-left .breadcrumb ul li a:hover, .l-main .l-content .center-left .breadcrumb ul li a:active {
            text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003376}}
        .l-main .l-content .center-left .breadcrumb ul li:after {
          content: " > "; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003379}}
        .l-main .l-content .center-left .breadcrumb ul li:last-child::after {
          content: ""; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003383}}
      .l-main .l-content .center-left .breadcrumb .easy-breadcrumb {
        display: table-cell;
        vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003389}}
        .l-main .l-content .center-left .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-separator:before {
          font-family: FontAwesome; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003394}}
        .l-main .l-content .center-left .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-separator {
          /*padding-left: 10px;
          padding-right: 10px;*/
          font-size: 1.5em;
          height: 5px !important;
          display: block;
          float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003403}}
        .l-main .l-content .center-left .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment {
          font-family: "proxima-nova", Arial;
          text-decoration: none;
          text-transform: uppercase;
          margin-top: 6px;
          font-size: .7em;
          padding: 2px;
          padding-left: 10px;
          padding-right: 10px;
          margin-right: 5px;
          color: black;
          display: block;
          float: left;
          background-color: #cccccc;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003420}}
        .l-main .l-content .center-left .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-front {
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003424}}
        .l-main .l-content .center-left .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-front:hover {
          background-color: #aaaaaa; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
        .l-main .l-content .center-left .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-1 {
          background-color: #b3b3b3;
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
          .l-main .l-content .center-left .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-1:hover {
            background-color: #919191; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
        .l-main .l-content .center-left .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-2 {
          background-color: #999999;
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
          .l-main .l-content .center-left .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-2:hover {
            background-color: #777777; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
        .l-main .l-content .center-left .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-3 {
          background-color: gray;
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
          .l-main .l-content .center-left .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-3:hover {
            background-color: #5e5e5e; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
        .l-main .l-content .center-left .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-4 {
          background-color: #666666;
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
          .l-main .l-content .center-left .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-4:hover {
            background-color: #444444; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
        .l-main .l-content .center-left .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-5 {
          background-color: #4d4d4d;
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
          .l-main .l-content .center-left .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-5:hover {
            background-color: #2b2b2b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003429}}
        .l-main .l-content .center-left .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-6 {
          background-color: #333333;
          -moz-transition: background-color 0.4s ease-in-out;
          -o-transition: background-color 0.4s ease-in-out;
          -webkit-transition: background-color 0.4s ease-in-out;
          transition: background-color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003434}}
          .l-main .l-content .center-left .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-6:hover {
            background-color: #111111; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003442}}
        .l-main .l-content .center-left .breadcrumb .easy-breadcrumb .easy-breadcrumb_segment-title {
          background-color: #1a1a1a;
          color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000319}}
    .l-main .l-content .center-left .faculty-member .faculty-member-profile {
      text-align: center;
      padding: 10px;
      max-width: 200px;
      margin: 0 auto;
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000366}}
      .l-main .l-content .center-left .faculty-member .faculty-member-profile .block {
        background: none;
        padding: 0px;
        margin: 0 auto;
        border: 1px solid none;
        /*background-repeat: no-repeat, repeat;
        background-size: 100% 31%;*/
        -moz-border-radius-topleft: none;
        -webkit-border-top-left-radius: none;
        border-top-left-radius: none;
        -moz-border-radius-topright: none;
        -webkit-border-top-right-radius: none;
        border-top-right-radius: none;
        -moz-border-radius-bottomleft: none;
        -webkit-border-bottom-left-radius: none;
        border-bottom-left-radius: none;
        -moz-border-radius-bottomright: none;
        -webkit-border-bottom-right-radius: none;
        border-bottom-right-radius: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000383}}
        .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .head {
          display: table;
          width: 100%;
          font-weight: 700;
          font-size: 1.1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000389}}
        .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .name {
          display: table;
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000392}}
          .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .name h3 {
            margin-bottom: 2px;
            padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000396}}
          .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .name h4 {
            margin: 2px;
            padding: 0px;
            min-height: 3.5em;
            height: 3.7em;
            vertical-align: middle;
            display: table-cell; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003105}}
        .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .image {
          width: 100% !important;
          height: auto !important;
          border: 1px solid white;
          display: block;
          margin: 0 auto;
          position: relative;
          overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003114}}
          .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .image img {
            width: 100%;
            height: auto;
            margin: 0 auto;
            display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003131}}
        .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .title {
          min-height: 4em;
          height: 4em;
          vertical-align: middle;
          margin-top: 5px;
          font-size: 0.8em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003138}}
        .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .phone, .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .email, .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .room, .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .office {
          font-size: 0.9em;
          white-space: pre-line;
          word-wrap: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003142}}
          .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .phone strong, .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .email strong, .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .room strong, .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .office strong {
            white-space: normal;
            float: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003147}}
        .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .office {
          padding-bottom: 1em;
          word-wrap: break-word; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003150}}
          .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .office p {
            margin: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000313}}
        .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .tags ul {
          margin: 0 auto;
          padding: 0;
          list-style: none;
          text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000319}}
          .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .tags ul a {
            text-decoration: none;
            color: black;
            font-family: "proxima-nova", Arial; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000325}}
          .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .tags ul li {
            position: relative;
            font-size: 0.9em;
            padding: 2px 5px;
            display: inline-block;
            text-align: center;
            margin: 2px;
            text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000349}}
            .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .tags ul li a {
              -moz-transition: color 0.4s ease-in-out;
              -o-transition: color 0.4s ease-in-out;
              -webkit-transition: color 0.4s ease-in-out;
              transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000352}}
              .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .tags ul li a:hover {
                color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000323}}
      .l-main .l-content .center-left .faculty-member .faculty-member-profile .block .image {
        margin-bottom: 20px; }
      @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000319}}
        .l-main .l-content .center-left .faculty-member .faculty-member-profile {
          display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003115}}
    .l-main .l-content .center-left .faculty-member .biography {
      margin-bottom: 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003463}}
    .l-main .l-content .center-left .faculty-member .collapsible-content .collapse-action {
      text-decoration: none;
      text-transform: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003466}}
      .l-main .l-content .center-left .faculty-member .collapsible-content .collapse-action h3 {
        text-align: left;
        /*text-align: center;
        @include breakpoint($desktop, true){
          text-align: left;
        }*/
        margin-top: 1em;
        z-index: 1;
        position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003475}}
        .l-main .l-content .center-left .faculty-member .collapsible-content .collapse-action h3 i {
          width: 1.5em !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003478}}
        .l-main .l-content .center-left .faculty-member .collapsible-content .collapse-action h3:before {
          content: "";
          margin: 0 auto;
          position: absolute;
          top: .6em;
          left: 0;
          right: 0;
          bottom: 0;
          width: 95%;
          z-index: -1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003491}}
      .l-main .l-content .center-left .faculty-member .collapsible-content .collapse-action:hover {
        cursor: pointer !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003123}}
  .l-main .l-content .center-right {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    clear: none;
    padding-top: 0px;
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    height: 100%; }
    @media (min-width: 320px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003123}}
      .l-main .l-content .center-right {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; } }
    @media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003123}}
      .l-main .l-content .center-right {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; } }
    @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003123}}
      .l-main .l-content .center-right {
        width: 16.66667%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none;
        padding-top: 20px;
        padding-bottom: 20px;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2N89+7dfwYouHfvHgMjTADEUVJSggjAOCCFjGfOnPkPkoEBALUJF8M0gfOkAAAAAElFTkSuQmCC) repeat; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000319}}
    .l-main .l-content .center-right .faculty-member-profile {
      text-align: center;
      padding: 10px;
      max-width: 200px;
      margin: 0 auto;
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000366}}
      .l-main .l-content .center-right .faculty-member-profile .block {
        background: none;
        padding: 0px;
        margin: 0 auto;
        border: 1px solid none;
        /*background-repeat: no-repeat, repeat;
        background-size: 100% 31%;*/
        -moz-border-radius-topleft: none;
        -webkit-border-top-left-radius: none;
        border-top-left-radius: none;
        -moz-border-radius-topright: none;
        -webkit-border-top-right-radius: none;
        border-top-right-radius: none;
        -moz-border-radius-bottomleft: none;
        -webkit-border-bottom-left-radius: none;
        border-bottom-left-radius: none;
        -moz-border-radius-bottomright: none;
        -webkit-border-bottom-right-radius: none;
        border-bottom-right-radius: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000383}}
        .l-main .l-content .center-right .faculty-member-profile .block .head {
          display: table;
          width: 100%;
          font-weight: 700;
          font-size: 1.1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000389}}
        .l-main .l-content .center-right .faculty-member-profile .block .name {
          display: table;
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000392}}
          .l-main .l-content .center-right .faculty-member-profile .block .name h3 {
            margin-bottom: 2px;
            padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000396}}
          .l-main .l-content .center-right .faculty-member-profile .block .name h4 {
            margin: 2px;
            padding: 0px;
            min-height: 3.5em;
            height: 3.7em;
            vertical-align: middle;
            display: table-cell; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003105}}
        .l-main .l-content .center-right .faculty-member-profile .block .image {
          width: 100% !important;
          height: auto !important;
          border: 1px solid white;
          display: block;
          margin: 0 auto;
          position: relative;
          overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003114}}
          .l-main .l-content .center-right .faculty-member-profile .block .image img {
            width: 100%;
            height: auto;
            margin: 0 auto;
            display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003131}}
        .l-main .l-content .center-right .faculty-member-profile .block .title {
          min-height: 4em;
          height: 4em;
          vertical-align: middle;
          margin-top: 5px;
          font-size: 0.8em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003138}}
        .l-main .l-content .center-right .faculty-member-profile .block .phone, .l-main .l-content .center-right .faculty-member-profile .block .email, .l-main .l-content .center-right .faculty-member-profile .block .room, .l-main .l-content .center-right .faculty-member-profile .block .office {
          font-size: 0.9em;
          white-space: pre-line;
          word-wrap: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003142}}
          .l-main .l-content .center-right .faculty-member-profile .block .phone strong, .l-main .l-content .center-right .faculty-member-profile .block .email strong, .l-main .l-content .center-right .faculty-member-profile .block .room strong, .l-main .l-content .center-right .faculty-member-profile .block .office strong {
            white-space: normal;
            float: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003147}}
        .l-main .l-content .center-right .faculty-member-profile .block .office {
          padding-bottom: 1em;
          word-wrap: break-word; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003150}}
          .l-main .l-content .center-right .faculty-member-profile .block .office p {
            margin: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000313}}
        .l-main .l-content .center-right .faculty-member-profile .block .tags ul {
          margin: 0 auto;
          padding: 0;
          list-style: none;
          text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000319}}
          .l-main .l-content .center-right .faculty-member-profile .block .tags ul a {
            text-decoration: none;
            color: black;
            font-family: "proxima-nova", Arial; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000325}}
          .l-main .l-content .center-right .faculty-member-profile .block .tags ul li {
            position: relative;
            font-size: 0.9em;
            padding: 2px 5px;
            display: inline-block;
            text-align: center;
            margin: 2px;
            text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000349}}
            .l-main .l-content .center-right .faculty-member-profile .block .tags ul li a {
              -moz-transition: color 0.4s ease-in-out;
              -o-transition: color 0.4s ease-in-out;
              -webkit-transition: color 0.4s ease-in-out;
              transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000352}}
              .l-main .l-content .center-right .faculty-member-profile .block .tags ul li a:hover {
                color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000323}}
      .l-main .l-content .center-right .faculty-member-profile .block .image {
        margin-bottom: 20px; }
      @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\0000319}}
        .l-main .l-content .center-right .faculty-member-profile {
          display: block; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003145}}
    .l-main .l-content .center-right .faculty-member-assistant {
      text-align: center;
      padding: 10px;
      max-width: 200px;
      margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000366}}
      .l-main .l-content .center-right .faculty-member-assistant .block {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJElEQVQIW2M8f+fxfwNlGQYYYPwPBHAekAEXuHD3CQNIJYYKAMMUEvW1oSjAAAAAAElFTkSuQmCC) repeat;
        padding: 20px;
        /*background-color: white;
        $top: linear-gradient(120deg, white, $um-orange, $um-light-green);
        @include background-image($top);*/
        margin: 0 auto;
        border: 1px solid none;
        /*background-repeat: no-repeat, repeat;
        background-size: 100% 31%;*/
        -moz-border-radius-topleft: 15px;
        -webkit-border-top-left-radius: 15px;
        border-top-left-radius: 15px;
        -moz-border-radius-topright: 15px;
        -webkit-border-top-right-radius: 15px;
        border-top-right-radius: 15px;
        -moz-border-radius-bottomleft: 15px;
        -webkit-border-bottom-left-radius: 15px;
        border-bottom-left-radius: 15px;
        -moz-border-radius-bottomright: 15px;
        -webkit-border-bottom-right-radius: 15px;
        border-bottom-right-radius: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000383}}
        .l-main .l-content .center-right .faculty-member-assistant .block .head {
          display: table;
          width: 100%;
          font-weight: 700;
          font-size: 1.1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000389}}
        .l-main .l-content .center-right .faculty-member-assistant .block .name {
          display: table;
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000392}}
          .l-main .l-content .center-right .faculty-member-assistant .block .name h3 {
            margin-bottom: 2px;
            padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000396}}
          .l-main .l-content .center-right .faculty-member-assistant .block .name h4 {
            margin: 2px;
            padding: 0px;
            min-height: 3.5em;
            height: 3.7em;
            vertical-align: middle;
            display: table-cell; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003105}}
        .l-main .l-content .center-right .faculty-member-assistant .block .image {
          width: 80px !important;
          height: 80px !important;
          border: 1px solid white;
          display: block;
          margin: 0 auto;
          position: relative;
          overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003114}}
          .l-main .l-content .center-right .faculty-member-assistant .block .image img {
            width: 80px;
            height: 80px;
            position: absolute;
            height: auto;
            top: 60%;
            left: 50%;
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            margin: 0 auto;
            display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003131}}
        .l-main .l-content .center-right .faculty-member-assistant .block .title {
          min-height: 4em;
          height: 4em;
          vertical-align: middle;
          margin-top: 5px;
          font-size: 0.7em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003138}}
        .l-main .l-content .center-right .faculty-member-assistant .block .phone, .l-main .l-content .center-right .faculty-member-assistant .block .email, .l-main .l-content .center-right .faculty-member-assistant .block .room, .l-main .l-content .center-right .faculty-member-assistant .block .office {
          font-size: 0.8em;
          white-space: pre-line;
          word-wrap: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003142}}
          .l-main .l-content .center-right .faculty-member-assistant .block .phone strong, .l-main .l-content .center-right .faculty-member-assistant .block .email strong, .l-main .l-content .center-right .faculty-member-assistant .block .room strong, .l-main .l-content .center-right .faculty-member-assistant .block .office strong {
            white-space: normal;
            float: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003147}}
        .l-main .l-content .center-right .faculty-member-assistant .block .office {
          padding-bottom: 1em;
          word-wrap: break-word; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003150}}
          .l-main .l-content .center-right .faculty-member-assistant .block .office p {
            margin: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000313}}
        .l-main .l-content .center-right .faculty-member-assistant .block .tags ul {
          margin: 0 auto;
          padding: 0;
          list-style: none;
          text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000319}}
          .l-main .l-content .center-right .faculty-member-assistant .block .tags ul a {
            text-decoration: none;
            color: black;
            font-family: "proxima-nova", Arial; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000325}}
          .l-main .l-content .center-right .faculty-member-assistant .block .tags ul li {
            position: relative;
            font-size: 0.9em;
            padding: 2px 5px;
            display: inline-block;
            text-align: center;
            margin: 2px;
            text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000349}}
            .l-main .l-content .center-right .faculty-member-assistant .block .tags ul li a {
              -moz-transition: color 0.4s ease-in-out;
              -o-transition: color 0.4s ease-in-out;
              -webkit-transition: color 0.4s ease-in-out;
              transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000352}}
              .l-main .l-content .center-right .faculty-member-assistant .block .tags ul li a:hover {
                color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003148}}
      .l-main .l-content .center-right .faculty-member-assistant .block .head {
        font-weight: 700;
        font-size: 1.1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003152}}
      .l-main .l-content .center-right .faculty-member-assistant .block .image {
        width: 100px !important;
        height: 95px !important;
        border: 1px solid white;
        -moz-border-radius: 45px;
        -webkit-border-radius: 45px;
        border-radius: 45px;
        display: block;
        position: relative;
        margin: 0 auto;
        overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003162}}
        .l-main .l-content .center-right .faculty-member-assistant .block .image img {
          -moz-border-radius: 45px;
          -webkit-border-radius: 45px;
          border-radius: 45px;
          width: 100px;
          height: 95px;
          position: absolute;
          top: 45px;
          left: 50px;
          margin: 0 auto;
          display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003175}}
      .l-main .l-content .center-right .faculty-member-assistant h3 {
        margin-top: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003179}}
    .l-main .l-content .center-right .faculty-member-expertise {
      text-align: center;
      padding: 10px;
      max-width: 250px;
      margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000366}}
      .l-main .l-content .center-right .faculty-member-expertise .block {
        background: none;
        padding: 0px;
        margin: 0 auto;
        border: 1px solid transparent;
        /*background-repeat: no-repeat, repeat;
        background-size: 100% 31%;*/
        -moz-border-radius-topleft: none;
        -webkit-border-top-left-radius: none;
        border-top-left-radius: none;
        -moz-border-radius-topright: none;
        -webkit-border-top-right-radius: none;
        border-top-right-radius: none;
        -moz-border-radius-bottomleft: 30px;
        -webkit-border-bottom-left-radius: 30px;
        border-bottom-left-radius: 30px;
        -moz-border-radius-bottomright: 30px;
        -webkit-border-bottom-right-radius: 30px;
        border-bottom-right-radius: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000383}}
        .l-main .l-content .center-right .faculty-member-expertise .block .head {
          display: table;
          width: 100%;
          font-weight: 700;
          font-size: 1.1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000389}}
        .l-main .l-content .center-right .faculty-member-expertise .block .name {
          display: table;
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000392}}
          .l-main .l-content .center-right .faculty-member-expertise .block .name h3 {
            margin-bottom: 2px;
            padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000396}}
          .l-main .l-content .center-right .faculty-member-expertise .block .name h4 {
            margin: 2px;
            padding: 0px;
            min-height: 3.5em;
            height: 3.7em;
            vertical-align: middle;
            display: table-cell; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003105}}
        .l-main .l-content .center-right .faculty-member-expertise .block .image {
          width: 100% !important;
          height: auto !important;
          border: 1px solid white;
          display: block;
          margin: 0 auto;
          position: relative;
          overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003114}}
          .l-main .l-content .center-right .faculty-member-expertise .block .image img {
            width: 100%;
            height: auto;
            margin: 0 auto;
            display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003131}}
        .l-main .l-content .center-right .faculty-member-expertise .block .title {
          min-height: 4em;
          height: 4em;
          vertical-align: middle;
          margin-top: 5px;
          font-size: 0.7em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003138}}
        .l-main .l-content .center-right .faculty-member-expertise .block .phone, .l-main .l-content .center-right .faculty-member-expertise .block .email, .l-main .l-content .center-right .faculty-member-expertise .block .room, .l-main .l-content .center-right .faculty-member-expertise .block .office {
          font-size: 0.8em;
          white-space: pre-line;
          word-wrap: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003142}}
          .l-main .l-content .center-right .faculty-member-expertise .block .phone strong, .l-main .l-content .center-right .faculty-member-expertise .block .email strong, .l-main .l-content .center-right .faculty-member-expertise .block .room strong, .l-main .l-content .center-right .faculty-member-expertise .block .office strong {
            white-space: normal;
            float: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003147}}
        .l-main .l-content .center-right .faculty-member-expertise .block .office {
          padding-bottom: 1em;
          word-wrap: break-word; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003150}}
          .l-main .l-content .center-right .faculty-member-expertise .block .office p {
            margin: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000313}}
        .l-main .l-content .center-right .faculty-member-expertise .block .tags ul {
          margin: 0 auto;
          padding: 0;
          list-style: none;
          text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000319}}
          .l-main .l-content .center-right .faculty-member-expertise .block .tags ul a {
            text-decoration: none;
            color: black;
            font-family: "proxima-nova", Arial; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000325}}
          .l-main .l-content .center-right .faculty-member-expertise .block .tags ul li {
            position: relative;
            font-size: 0.9em;
            padding: 2px 5px;
            display: inline-block;
            text-align: center;
            margin: 2px;
            text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000349}}
            .l-main .l-content .center-right .faculty-member-expertise .block .tags ul li a {
              -moz-transition: color 0.4s ease-in-out;
              -o-transition: color 0.4s ease-in-out;
              -webkit-transition: color 0.4s ease-in-out;
              transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000352}}
              .l-main .l-content .center-right .faculty-member-expertise .block .tags ul li a:hover {
                color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003181}}
      .l-main .l-content .center-right .faculty-member-expertise h3 {
        margin-top: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003185}}
    .l-main .l-content .center-right .faculty-member-websites, .l-main .l-content .center-right .faculty-member-social {
      text-align: center;
      padding: 10px;
      max-width: 250px;
      margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000366}}
      .l-main .l-content .center-right .faculty-member-websites .block, .l-main .l-content .center-right .faculty-member-social .block {
        background: none;
        padding: 0px;
        margin: 0 auto;
        border: 1px solid grey;
        /*background-repeat: no-repeat, repeat;
        background-size: 100% 31%;*/
        -moz-border-radius-topleft: none;
        -webkit-border-top-left-radius: none;
        border-top-left-radius: none;
        -moz-border-radius-topright: none;
        -webkit-border-top-right-radius: none;
        border-top-right-radius: none;
        -moz-border-radius-bottomleft: 30px;
        -webkit-border-bottom-left-radius: 30px;
        border-bottom-left-radius: 30px;
        -moz-border-radius-bottomright: 30px;
        -webkit-border-bottom-right-radius: 30px;
        border-bottom-right-radius: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000383}}
        .l-main .l-content .center-right .faculty-member-websites .block .head, .l-main .l-content .center-right .faculty-member-social .block .head {
          display: table;
          width: 100%;
          font-weight: 700;
          font-size: 1.1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000389}}
        .l-main .l-content .center-right .faculty-member-websites .block .name, .l-main .l-content .center-right .faculty-member-social .block .name {
          display: table;
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000392}}
          .l-main .l-content .center-right .faculty-member-websites .block .name h3, .l-main .l-content .center-right .faculty-member-social .block .name h3 {
            margin-bottom: 2px;
            padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000396}}
          .l-main .l-content .center-right .faculty-member-websites .block .name h4, .l-main .l-content .center-right .faculty-member-social .block .name h4 {
            margin: 2px;
            padding: 0px;
            min-height: 3.5em;
            height: 3.7em;
            vertical-align: middle;
            display: table-cell; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003105}}
        .l-main .l-content .center-right .faculty-member-websites .block .image, .l-main .l-content .center-right .faculty-member-social .block .image {
          width: 100% !important;
          height: auto !important;
          border: 1px solid white;
          display: block;
          margin: 0 auto;
          position: relative;
          overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003114}}
          .l-main .l-content .center-right .faculty-member-websites .block .image img, .l-main .l-content .center-right .faculty-member-social .block .image img {
            width: 100%;
            height: auto;
            margin: 0 auto;
            display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003131}}
        .l-main .l-content .center-right .faculty-member-websites .block .title, .l-main .l-content .center-right .faculty-member-social .block .title {
          min-height: 4em;
          height: 4em;
          vertical-align: middle;
          margin-top: 5px;
          font-size: 0.7em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003138}}
        .l-main .l-content .center-right .faculty-member-websites .block .phone, .l-main .l-content .center-right .faculty-member-websites .block .email, .l-main .l-content .center-right .faculty-member-websites .block .room, .l-main .l-content .center-right .faculty-member-websites .block .office, .l-main .l-content .center-right .faculty-member-social .block .phone, .l-main .l-content .center-right .faculty-member-social .block .email, .l-main .l-content .center-right .faculty-member-social .block .room, .l-main .l-content .center-right .faculty-member-social .block .office {
          font-size: 0.8em;
          white-space: pre-line;
          word-wrap: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003142}}
          .l-main .l-content .center-right .faculty-member-websites .block .phone strong, .l-main .l-content .center-right .faculty-member-websites .block .email strong, .l-main .l-content .center-right .faculty-member-websites .block .room strong, .l-main .l-content .center-right .faculty-member-websites .block .office strong, .l-main .l-content .center-right .faculty-member-social .block .phone strong, .l-main .l-content .center-right .faculty-member-social .block .email strong, .l-main .l-content .center-right .faculty-member-social .block .room strong, .l-main .l-content .center-right .faculty-member-social .block .office strong {
            white-space: normal;
            float: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003147}}
        .l-main .l-content .center-right .faculty-member-websites .block .office, .l-main .l-content .center-right .faculty-member-social .block .office {
          padding-bottom: 1em;
          word-wrap: break-word; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003150}}
          .l-main .l-content .center-right .faculty-member-websites .block .office p, .l-main .l-content .center-right .faculty-member-social .block .office p {
            margin: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000313}}
        .l-main .l-content .center-right .faculty-member-websites .block .tags ul, .l-main .l-content .center-right .faculty-member-social .block .tags ul {
          margin: 0 auto;
          padding: 0;
          list-style: none;
          text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000319}}
          .l-main .l-content .center-right .faculty-member-websites .block .tags ul a, .l-main .l-content .center-right .faculty-member-social .block .tags ul a {
            text-decoration: none;
            color: black;
            font-family: "proxima-nova", Arial; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000325}}
          .l-main .l-content .center-right .faculty-member-websites .block .tags ul li, .l-main .l-content .center-right .faculty-member-social .block .tags ul li {
            position: relative;
            font-size: 0.9em;
            padding: 2px 5px;
            display: inline-block;
            text-align: center;
            margin: 2px;
            text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000349}}
            .l-main .l-content .center-right .faculty-member-websites .block .tags ul li a, .l-main .l-content .center-right .faculty-member-social .block .tags ul li a {
              -moz-transition: color 0.4s ease-in-out;
              -o-transition: color 0.4s ease-in-out;
              -webkit-transition: color 0.4s ease-in-out;
              transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000352}}
              .l-main .l-content .center-right .faculty-member-websites .block .tags ul li a:hover, .l-main .l-content .center-right .faculty-member-social .block .tags ul li a:hover {
                color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003187}}
      .l-main .l-content .center-right .faculty-member-websites h3, .l-main .l-content .center-right .faculty-member-social h3 {
        margin-top: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003190}}
      .l-main .l-content .center-right .faculty-member-websites p, .l-main .l-content .center-right .faculty-member-social p {
        font-size: .9em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003193}}
      .l-main .l-content .center-right .faculty-member-websites a, .l-main .l-content .center-right .faculty-member-social a {
        word-wrap: break-word; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003199}}
  .l-main .l-content .right {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 0 20px 20px 20px; }
    @media (min-width: 320px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003199}}
      .l-main .l-content .right {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; } }
    @media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003199}}
      .l-main .l-content .right {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; } }
    @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/faculty\/faculty\.layout\.scss}line{font-family:\00003199}}
      .l-main .l-content .right {
        width: 16.66667%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.3\.0\/gems\/toolkit-2\.10\.2\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000313}}
  .l-main .l-content:after {
    content: "";
    display: table;
    clear: both; }
