/* Tags */
/** Slicknav style */
/** Left Navigation Style */
/** Breadcrumb styles */
/** Title style */
/** Collapsible Content */
/* Color Types */
/*
text-decoration: none !important;
  a,a:visited,a:active,a:link {
    @include create-button-style(5px, 14px, #999999, $um-orange);
    font-size: 14px !important;
    text-decoration: none !important;
    @include transition(all 0.4s ease-in-out);
    &:hover{
      color: black !important;
      border: solid 1px $um-orange;
      background-color: $um-orange;
    }
    display: block;
  }
  */
/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\000033}}
.social-icons {
  list-style: none;
  margin: 0;
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\000037}}
  .social-icons li {
    margin-bottom: 10px;
    display: inline-block;
    height: 19px;
    width: auto;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\0000316}}
    .social-icons li a i {
      text-transform: none;
      text-decoration: none;
      display: block;
      float: left;
      margin-right: 8px !important;
      width: 15px !important;
      -moz-transition: none;
      -o-transition: none;
      -webkit-transition: none;
      transition: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_lists\.scss}line{font-family:\0000323}}
      .social-icons li a i img {
        width: 19px !important;
        height: 19px !important;
        max-width: 19px !important;
        display: block;
        margin: 0 !important;
        float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003887}}
    .social-icons li a .black {
      color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003890}}
    .social-icons li a .teal {
      color: #55ACEE; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003893}}
    .social-icons li a .red {
      color: #b31217; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003896}}
    .social-icons li a .gray {
      color: #66757F; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003899}}
    .social-icons li a .orange {
      color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003902}}
    .social-icons li a .blue {
      color: #0C70E8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003905}}
    .social-icons li a .white {
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003908}}
    .social-icons li a .brown {
      color: #663300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003911}}
    .social-icons li a .pink {
      color: #ff3e96; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000319}}
.caption-table-left {
  width: auto;
  border: 0;
  text-align: center;
  float: left;
  margin: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\000037}}
  .caption-table-left img {
    margin: 0 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000310}}
  .caption-table-left caption {
    caption-side: bottom;
    text-align: center;
    padding: .5em;
    font-size: .8em;
    background-color: rgba(0, 0, 0, 0.05); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000323}}
.caption-table-right {
  width: auto;
  border: 0;
  text-align: center;
  float: left;
  margin: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\000037}}
  .caption-table-right img {
    margin: 0 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_tables\.scss}line{font-family:\0000310}}
  .caption-table-right caption {
    caption-side: bottom;
    text-align: center;
    padding: .5em;
    font-size: .8em;
    background-color: rgba(0, 0, 0, 0.05); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\000033}}
h5 {
  font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\000037}}
.ui {
  font-family: "proxima-nova", Arial !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\0000311}}
  .ui p a, .ui p a:active, .ui p a:visited, .ui p a:link {
    text-decoration: underline;
    text-transform: none;
    font-weight: bolder;
    color: inherit;
    -moz-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\0000318}}
  .ui p a:hover {
    color: #ff6600; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/base\/_typography\.scss}line{font-family:\0000324}}
.right-rail-button {
  text-decoration: none !important;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031154}}
  .right-rail-button a, .right-rail-button a:visited, .right-rail-button a:link, .right-rail-button a:active {
    color: black;
    font-size: 1em !important;
    margin: 1em auto;
    margin: 1em 0 0;
    text-decoration: none !important;
    text-align: center;
    padding: .5em 1em;
    border: solid 1px #999999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    -moz-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    -webkit-transition: all 0.4s !important;
    transition: all 0.4s !important;
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031171}}
  .right-rail-button a:hover {
    color: white !important;
    border: solid 1px #ff6600;
    background-color: #ff6600; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/layouts\/section\/section\.layout\.scss}line{font-family:\0000316}}
body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJUlEQVQIW2OMrEn5//T9CwYYYLTL9vkP5wEZcAFpQQkGkEoMFQAtZA3VDR4HlQAAAABJRU5ErkJggg==) repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003990}}
.l-main .l-quad {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJUlEQVQIW2OULvL///TeQwYYYGQIMPgP5wEZcAFpJXkGkEoMFQDjgwwBxusQDAAAAABJRU5ErkJggg==) repeat;
  position: relative;
  display: block;
  vertical-align: top;
  font-family: "proxima-nova", Arial;
  text-align: center;
  text-align: left;
  font-size: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031004}}
  .l-main .l-quad ul {
    text-decoration: none;
    text-transform: none;
    list-style: none;
    padding: 0;
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031013}}
  .l-main .l-quad a, .l-main .l-quad a:link, .l-main .l-quad a:visited, .l-main .l-quad a:active {
    color: black;
    text-transform: none;
    text-decoration: none;
    font-weight: 600;
    -moz-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031021}}
  .l-main .l-quad a:hover {
    color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031025}}
  .l-main .l-quad h4 {
    padding-bottom: 0px;
    margin-bottom: .2em;
    font-weight: 700;
    font-size: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031032}}
  .l-main .l-quad .column {
    display: inline-block;
    float: left;
    padding: 1em;
    font-size: 2em;
    width: 100%;
    height: auto;
    width: 100%;
    width: 50%;
    height: 250px;
    width: 25%;
    width: 20%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031037}}
    .l-main .l-quad .column h3 {
      margin: .5em 0px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031060}}
  .l-main .l-quad .column-0 {
    background-color: #66cc99; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031060}}
  .l-main .l-quad .column-1 {
    background-color: #53c68c; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031060}}
  .l-main .l-quad .column-2 {
    background-color: #40bf80; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031060}}
  .l-main .l-quad .column-3 {
    background-color: #39ac73; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031060}}
  .l-main .l-quad .column-4 {
    background-color: #339966; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031060}}
  .l-main .l-quad .column-5 {
    background-color: #2d8659; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031060}}
  .l-main .l-quad .column-6 {
    background-color: #26734d; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031060}}
  .l-main .l-quad .column-7 {
    background-color: #206040; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031060}}
  .l-main .l-quad .column-8 {
    background-color: #1a4d33; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031060}}
  .l-main .l-quad .column-9 {
    background-color: #133926; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031060}}
  .l-main .l-quad .column-10 {
    background-color: #0d261a; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031060}}
  .l-main .l-quad .column-11 {
    background-color: #06130d; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031065}}
  .l-main .l-quad .column-lg {
    height: 500px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031070}}
  .l-main .l-quad .column-xlg {
    height: 800px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031075}}
  .l-main .l-quad .column-xxlg {
    height: 1000px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031080}}
  .l-main .l-quad .column-xxxlg {
    height: 1500px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031086}}
  .l-main .l-quad .column-alt {
    display: inline-block;
    float: left;
    padding: 0em 2.5em;
    width: 100%;
    height: auto;
    width: 100%;
    width: 50%;
    height: 250px;
    width: 25%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031090}}
    .l-main .l-quad .column-alt h3 {
      margin: 1.5em 0px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031107}}
  .l-main .l-quad hr {
    border: 0;
    border-bottom: 1px solid black;
    margin-top: 1.5em;
    margin-bottom: .5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031120}}
  .l-main .l-quad .column-alt-0 {
    /*
    background-color: $current-color;
    $current-color: darken($current-color, 5%);
    */
    background-color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031120}}
  .l-main .l-quad .column-alt-1 {
    /*
    background-color: $current-color;
    $current-color: darken($current-color, 5%);
    */
    background-color: #DEDEDE; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031120}}
  .l-main .l-quad .column-alt-2 {
    /*
    background-color: $current-color;
    $current-color: darken($current-color, 5%);
    */
    background-color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mgavidia\/projects\/drupal-docker\/drupal-d4d\/sites\/all\/themes\/miamilaw_ot\/sass\/abstractions\/_mixins\.scss}line{font-family:\000031120}}
  .l-main .l-quad .column-alt-3 {
    /*
    background-color: $current-color;
    $current-color: darken($current-color, 5%);
    */
    background-color: #DEDEDE; }
